{% load staticfiles %}
{% load i18n %}
{% load cache %}
<style>
    @media(max-device-width: 600px){
        .ftr-rt{margin-top: 2%; color: #1E656D; font-size: 1.5em;}
        #copyrights{color: #1E656D; text-align: center; font-size: 1em;}
    }
    @media(min-device-width: 600px){
        .ftr-rt{float:right; margin-top: 2%; color: #1E656D;}
        #copyrights{margin-top: -1.7%; margin-left: 14%; color: #1E656D;}
    }

    #footer-div-2{  bottom: 20px;  font-family: Georgia, Times, "Times New Roman", serif  }
    .footer-list-top .footer-list-element{list-style-type: none;display: inline;width: 100%;}
    .ftr-lf{float: left;font-size: 40px;margin-right: -1%;}
    .ftr-lf a{text-decoration: none; color: #1E656D;}
    .ftr-lf a:hover{  text-decoration: none;  color: #F62A00;  }
    .ftr-rt a{  text-decoration: none;  color: #1E656D;  }
    .ftr-rt a:hover{  text-decoration: none;  color: #F62A00;  }
</style>

<div id="footer-div-2">
    <div class="">
        <div class="footer-bottom-block">
            <div class="global-left">
                <div class="ftr-lf">
                    <a class="main-logo-title" href="/">INSYDIA</a>
                </div>
                <div class="ftr-rt">
                    <div id="ftr-rt-top">
                        <ul class="footer-list-top">
                            <li class="footer-list-element">
                                <a href="/about/advertisers/">{% trans 'Advertiser' %}</a>
                            </li>&nbsp;|&nbsp;
                            <li class="footer-list-element">
                                <a href="/about/contacts/">{% trans 'Contacts' %}</a>
                            </li>&nbsp;|&nbsp;
                            <li class="footer-list-element">
                                <a href="/about">{% trans 'About us' %}</a>
                            </li>
                        </ul>
                    </div>
                    <div id="copyrights">
                        &#169;INSYDIA, 2015{% now "Y" as current_year %}{% if current_year != '2015' %}-{% now "Y" %}{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
