{% load staticfiles %}
{% block login %}
    <style>
        span{
            position:relative;
            z-index:1;
            overflow:hidden;
            text-align:center;
        }
        span:before,
        span:after{
            content: '';
            display: inline-block;
            width: 115px;
            height: 1px;
            background: black;
            z-index: -1;
            position: relative;
            vertical-align: middle;
        }
        span:before{right:10px;margin:0 0 0 -26%;}
        span:after{left:10px;margin:0 -30% 0 0;}
        #login-tab a{color: #201EBE;}
        #login-tab a:hover{color: #507ebe;}
        #username:focus{box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);}
        #password:focus{box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);}
        #choice{box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);}
        .no{width: 50em;}
        #choice{width: 30em; margin: 10% 70%; height: inherit;}
        .service-name{margin-left: 37.5%; margin-top: 5%;}
        .sign-in-center-data{text-align: center; margin-top: 5%;}
        #buttons-choice{margin-left: 20%; margin-top: 5%;}
        #sign-in-button{width: 28em;}
        #sign-up-button{width: 28em; margin-bottom: 10%;}
        #username{width: 64%; margin-left: 20%;}
        #for-username{width: 64%; margin-left: 20%;}
        #for-password{width: 64%; margin-left: 20%;}
        #password{width: 64%; margin-left: 20%;}
        #log-in-submit{height: 40px; width: 64%; margin-left: 20%;}
        .button-text{margin-top: -3%;}
        #remembering{margin-left: 20%;}
        .forget-password{text-align: center; margin-top: 5%;}
        #bottom-asks{width: 100%; height: 50px; margin-left: 20%;}
        #registration-link{margin-left: 10%;}
        #hr-before-asks{margin-left: 20%;}
    </style>
    <script src="{% static 'static/js/jquery.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#sign-in-button").click(function(){
                var regElemenet = $("#sign-in").show();
                $("#buttons-choice").replaceWith(regElemenet);
            });
        });
    </script>
        <div id="login-tab">
            <div class = 'no'>
                <div id="choice">
                    <div class="service-name">
                        %SERVICE&nbsp;NAME%
                    </div>
                    <div class="sign-in-center-data">
                        <span>SIGN&nbsp;IN</span>
                    </div>
                    <div id="buttons-choice">
                        <button id="sign-in-button" class="tiny">SIGN&nbsp;IN</button>
                        <br>
                        <a href="/auth/register/">
                            <button id="sign-up-button" class="tiny">SIGN&nbsp;UP</button>
                        </a>
                    </div>
                </div>
                <div id="sign-in" hidden onblur="this.style.border='solid 1px red';">
                    <form action="/auth/login/" method="POST" autocomplete="off">
                        {% csrf_token %}
                        <label id="for-username" for="username">Username</label>
                        <input type="text" name="username" id="username">
                        <label id="for-password" for="password">Password</label>
                        <input type="password" name="password" id="password">
                        {% if login_error %}
                            <label class="error"> {{ login_error }} </label>
                        {% endif %}
                        <button type="submit" id="log-in-submit">
                            <div class="button-text">
                                Log&nbsp;in
                            </div>
                        </button>
                        <label id="remembering">
                            <input type="checkbox" id="check-remember" name="remember-true" value="remember-true">
                            Remember&nbsp;me
                        </label>
                        <div class="forget-password">
                            <a href="/auth/recovery/" id="remember-password">Forget&nbsp;password</a>
                        </div>
                        <hr id="hr-before-asks" width="65%">
                        <div id="bottom-asks">
                            <div class="">
                                Don't&nbsp;have&nbsp;an&nbsp;account?
                                <a href="/auth/register/" id="registration-link">Registration</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}