{% load staticfiles %}
{% load i18n %}
{% block login %}
        <link href="{% static 'static/css/bootstrap.css' %}" rel="stylesheet" type="text/css">

    <style>
        .background-image{
            top: 0;
            width: 100%;
            height: 100%;
            position: fixed;
{#            -webkit-filter: blur(1px);#}
{#            -moz-filter: blur(1px);#}
{#            -o-filter: blur(1px);#}
{#            -ms-filter: blur(1px);#}
{#            filter: blur(1px);#}

{#  display: block;#}
            background: url('{{ background_url }}') no-repeat center;
            background-size: cover;
        }


        #auth_login{
            width: 50%;
            margin-left: auto;
            margin-right:auto;
{#            border: solid 1px red;#}
            position: relative;
        }
        #auth_login_top{
            min-height: 81%;
        }
    #auth_login_logo{
        width: 4.5em;
        margin-left: auto;
        margin-right: auto;
        font-family: Georgia, Times, "Times New Roman", serif;
        font-size: 30px;
        color: white;
        margin-top: 5%;
        margin-bottom: 2%;
{#        border: solid 1px red;#}
    }
    #login-password{
{#        width: 50em;#}
{#        margin-left: auto;#}
{#        margin-right: auto;#}
{#        border: solid 1px red;#}
    }
    .form-fields{
{#        width: 3em;#}
        margin-left: auto;
        margin-right: auto;
{#        border: solid 1px blue;#}
    }
    .form-field{
        width: 20em;
        margin-left: auto;
        margin-right: auto;
{#        border: solid 1px red;#}
    }
    .form-control{
        margin-left: 0;
    }
    .form-field-link{
        width: 20em;
        margin-left: auto;
        margin-right: auto;
{#        border: solid 1px blue;#}
        text-align: center;
    }

    ul{
        list-style-type: none;
    }
    #auth_login_footer{
        position: relative;
        color: white;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
{#        border: solid 1px red;#}
    }
    #remembering{
        width: 9em;
        color: white;
        margin-left: auto;
        margin-right: auto;
    }
    .error-message{
        color: white;
    }
    a:hover{
        text-decoration: none;
        color: rgb(25, 180, 155);
    }
    </style>

    <div class="background-image"></div>
    <div id="auth_login">
        <div id="auth_login_top">
            <div id="auth_login_logo"><a href="/">INSYDIA</a></div>
            <div id="auth_login_form">
                <form id="login-password"
                      class="form-horizontal"
                      method="POST"
                      action="/auth/login/">
                    {% csrf_token %}
                    <div class="form-fields">
                        <div class="form-group">
    {#                        <label class="col-md-4 control-label" for="user-register-password">Username:</label>#}
                            <div class="form-field">
                                {{ form.username }}
                            </div>
                        </div>

                        <div class="form-group">
    {#                        <label class="col-md-4 control-label" for="user-register-password">Password:</label>#}
                            <div class="form-field">
                                {{ form.password }}
                            </div>
                        </div>



                       <div class="form-group">
                            <div class="form-field">
                                <input class="btn btn-success form-field" value="{% trans 'Sign in' %}" type="submit" onclick="">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-field">
                                <span class="error-message">
                                    {{ login_error }}
                                </span>
                            </div>
                        </div>

                        <div class="help-links">
                            <div class="form-group">
                                <div class="form-field">
                                    <input class="btn form-field" value="{% trans 'Create Account' %}" onclick="location.href='/auth/register/';">
                                </div>
                            </div>
                            <div class="form-field-link">
{#                                <a href="/auth/cant_login/">Can't log in?</a>#}
                                <a href="{% url "password_reset_recover" %}">{% trans "Can't log in?" %}</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="auth_login_footer" class="container-fluid container">
        <div class="row row-centered" style="width: 50em;
    margin-left: auto;
    margin-right: auto;">
            {% include 'footer_loginsys.html' %}
        </div>
    </div>

{% endblock %}