{% load staticfiles %}
{% load cache %}
{% block register %}
    <!--suppress ALL -->
    <link href="{% static 'static/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="{% static 'static/js/jquery.js' %}"></script>
    <script src="{% static 'static/js/jquery.min.js' %}"></script>
    <script src="{% static 'static/js/jquery-ui.js' %}"></script>

    <script>
        $(document).ready(function(){
            ProgressBarPopUpHide();
        });
        function ProgressBarPopUpShow(){
                $("#progress-popup-window").show();
        }

        function ProgressBarPopUpHide(){
            $("#progress-popup-window").hide();
        }
    </script>
    <script>$(document).ready(function(){$("#progress-bar").progressbar({value: false});})</script>
    <style>
    body{
            background: url('{{ background_url }}') no-repeat center;
            background-size: cover;
        }
        #auth_reg{
            width: 50%;
            margin-left: auto;
            margin-right:auto;
{#            border: solid 1px red;#}
            position: relative;
        }
        #auth_reg_top{
            min-height: 81%;
        }
    #auth_reg_logo{
        color: white;
        width: 4.5em;
        margin-left: auto;
        margin-right: auto;
        font-family: Georgia, Times, "Times New Roman", serif;
        font-size: 30px;
        margin-top: 2%;
        margin-bottom: 2%;
{#        border: solid 1px red;#}
    }
    #auth_reg_logo a, a:active{
        color: white;
    }
    #auth_reg_logo a:hover{
        color:#0f6fb3;
    }
    #reg-password{
{#        width: 50em;#}
{#        margin-left: auto;#}
{#        margin-right: auto;#}
{#        border: solid 1px red;#}
    }
    .form-fields{
{#        width: 3em;#}
        margin-left: auto;
        margin-right: auto;
{#        border: solid 1px blue;#}
    }
    .form-field{
        width: 20em;
        margin-left: auto;
        margin-right: auto;
{#        border: solid 1px purple;#}
{#        border: solid 1px red;#}
    }
    .form-control{
        margin-left: 0;
    }
    .form-field-link{
        width: 20em;
        margin-left: auto;
        margin-right: auto;
{#        border: solid 1px blue;#}
        text-align: center;
    }
    a:hover{
        text-decoration: none;
    }
    ul{
        list-style-type: none;
    }
    #auth_reg_footer{
        color: white;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
{#        border: solid 1px red;#}
    }



    #progress-popup-window{
            z-index: 900;
            width: 100%;
            height: 100%;
            position: fixed;
            margin: -10% 0 auto -0.7%;
        }
        #progress-popup-window-content {
            z-index: 800;
            width:  48.5%;
            margin: 15% auto 0 20.5%;
            height: 30%;
            background-color: #d5d5d5;
        }
        #progress-bar{margin-left: 30%;width: 40%;height: 5%;}
        .text{padding-top: 5%;text-align: center;padding-bottom: 3%;}


        .form-group{
{#            border: solid 1px greenyellow;#}
        }

        .reg-error{
            font-family: Georgia, Times, "Times New Roman", serif;
            color: red;
            float: right;
        }
    </style>


    <script>
        $(document).ready(function(){
            $("#user-register-name").focusout(function() {
                $.ajax({
                    type: "POST",
                    url: "/auth/register/cu=" + $("#user-register-name").val(),
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    success: function (data) {
                        if (data.data == true) {
                            $("#span-check-username").html("User is already exists");
                            $("#reg-submit").attr("type", "");
                            $("#reg-submit").addClass("disabled");
                        }
                        else {
                            $("#span-check-username").html("");
                            $("#reg-submit").attr("type", "submit");
                            $("#reg-submit").removeClass("disabled");
                        }
                    }
                })
            });
        })
    </script>

    <div id="progress-popup-window">
        <div id="progress-popup-window-content">
            <div class="text">
                Please,&nbsp;wait&nbsp;while&nbsp;we&nbsp;are&nbsp;preparing&nbsp;your&nbsp;profile.
                <br>
                You&nbsp;will&nbsp;be&nbsp;able&nbsp;to&nbsp;use&nbsp;service&nbsp;in&nbsp;a&nbsp;minute.
            </div>
            <div id="progress-bar"></div>
        </div>
    </div>
    <div id="auth_reg">
        <div id="auth_reg_top">
            <div id="auth_reg_logo">
                <a href="/">INSYDIA</a>
            </div>
            <div id="auth_reg_form">
                <form id="reg-password"
                      class="form-horizontal"
                      method="POST"
                      action="/auth/register/">
                    {% csrf_token %}
                    <div class="form-fields">
                        <div class="form-group">
    {#                        <label class="col-md-4 control-label" for="user-register-password">Username:</label>#}
                            <div class="form-field">
                                <input  name="username"
                                        required="required"
                                        id="user-register-name"
                                        class="form-control"
                                        type="text"
                                        placeholder="Username">
                                <span id="span-check-username" class="reg-error">
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
    {#                        <label class="col-md-4 control-label" for="user-register-password">Username:</label>#}
                            <div class="form-field">
                                <input  name="email"
                                        required="required"
                                        id="user-register-email"
                                        class="form-control"
                                        type="text"
                                        pattern="^[-a-z0-9!#$%&'*+/=?^_`{|}~]+(?:\.[-a-z0-9!#$%&'*+/=?^_`{|}~]+)*@(?:[a-z0-9]([-a-z0-9]{0,61}[a-z0-9])?\.)*(?:aero|arpa|asia|biz|cat|com|coop|edu|gov|info|int|jobs|mil|mobi|museum|name|net|org|pro|tel|travel|[a-z][a-z])$"
                                        placeholder="E-mail">
                            </div>
                        </div>
                        <div class="form-group">
    {#                        <label class="col-md-4 control-label" for="user-register-password">Password:</label>#}
                            <div class="form-field">
                                {{ form.password1 }}
                            </div>
                        </div>
                        <div class="form-group">
    {#                        <label class="col-md-4 control-label" for="user-register-password">Password:</label>#}
                            <div class="form-field">
                                {{ form.password2 }}
                            </div>
                        </div>

                        <!--<div class="form-group">
                            <div class="form-field">
                                <label id="remembering">
                                    <input type="checkbox"
                                           id="check-remember"
                                           name="remember-true"
                                           value="remember-true">
                                    Remember&nbsp;me
                                </label>
                            </div>
                        </div>-->


                        {{ reg_error }}


                       <div class="form-group">
                            <div class="form-field">
                                <input id="reg-submit" class="btn btn-primary form-field" value="Sign&nbsp;up" type="submit" onclick="">
                            </div>
                        </div>


                        <div class="help-links">
                            <div class="form-field">
                                <input id="reg-submit" class="btn btn-default form-field" value="Sign&nbsp;in" onclick="location.href='/auth/login/';">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="auth_reg_footer">
            {% include 'footer_loginsys.html' %}
        </div>
    </div>
{% endblock %}