{% load staticfiles %}
{% load cache %}
{% load i18n %}
{% block register %}
    <!--suppress ALL -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'static/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="{% static 'static/js/jquery.js' %}"></script>
    <script src="{% static 'static/js/jquery.min.js' %}"></script>
    <script src="{% static 'static/js/jquery-ui.js' %}"></script>
    <script>
        $(document).ready(function(){
            $("#user-register-name").focusout(function() {
                $.ajax({
                    type: "POST",
                    url: "/auth/register/cu=" + $("#user-register-name").val(),
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    success: function (data) {
                        if (data.data == true) {
                            $("#span-check-username").html("User is already exists");
                            $("#reg-submit").attr("type", "");
                            $("#reg-submit").addClass("disabled");
                        }
                        else {
                            $("#span-check-username").html("");
                            $("#reg-submit").attr("type", "submit");
                            $("#reg-submit").removeClass("disabled");
                        }
                    }
                })
            });
        })
    </script>
    <script>$(document).ready(function(){$("#progress-bar").progressbar({value: false});})</script>
    <style>
        body{background: black;}
        @media(max-device-width: 767px){.background-image{opacity: 0;visibility: hidden;}}
        #auth-register{height:90%;margin-top: 3%;position: relative;}
        .background-image{top: 0;margin-left: 0;width: 100%;height: 100%;position: absolute;background: black;}
        #auth-video{margin-left: 1%;margin-top: -3%;}
        .form-field-link a:hover{text-decoration: none;color: #F62A00;}
        ul{list-style-type: none;}
        .form-control{margin-left:0;}
        #auth_login_logo a{text-decoration: none;color: #F62A00;}
        #auth_login_logo a:hover{text-decoration: none;color: #1E656D;}
        footer{position: absolute;bottom: 0;width: 100%;}
        html{overflow-x: hidden;}
        .auth-button{margin-top:3%;position:relative;}
    </style>
    <div class="background-image"></div>
    <div id="auth-register" class="row">
        <div class=" container">
            <div class="col-md-4 col-md-offset-4">
                <div class=" col-md-4 col-md-offset-3 text-center">
                    <h1 style="color: #F62A00;">INSYDIA</h1>
                </div>
                <div class="panel-body">
                    <form role="form"
                          method="POST"
                          action="/auth/register/">
                        {% csrf_token %}
                        <div class="form-group">
                            <input name="username"
                                   required="required"
                                   id="user-register-name"
                                   class="form-control"
                                   type="text"
                                   placeholder="{% trans 'Username' %}">
                        </div>
                        <div class="form-group">
                            <input name="email"
                                   required="required"
                                   id="user-register-email"
                                   class="form-control"
                                   type="text"
                                   pattern="^[-a-z0-9!#$%&'*+/=?^_`{|}~]+(?:\.[-a-z0-9!#$%&'*+/=?^_`{|}~]+)*@(?:[a-z0-9]([-a-z0-9]{0,61}[a-z0-9])?\.)*(?:aero|arpa|asia|biz|cat|com|coop|edu|gov|info|int|jobs|mil|mobi|museum|name|net|org|pro|tel|travel|[a-z][a-z])$"
                                   placeholder="{% trans 'E-mail' %}">
                        </div>
                        <div class="form-group">
                            {{ form.password1 }}
                        </div>
                        <div class="form-group">
                            {{ form.password2 }}
                        </div>
                        <input type="submit" value="{% trans 'SIGN UP' %}" class="btn btn-danger btn-block">

                        <a href="/auth/login/"><span class="auth-button btn btn-primary btn-block">{% trans 'SIGN IN' %}</span></a>
                    </form>
                </div>
    		</div>
    	</div>
    </div>
    <footer class="text-center">
        <div class="container">
            <div class="text-center col-md-4 col-md-offset-4">
                <ul class=" list-inline">
                    <li class="footer-list-element">
                        <a href="/about/advertisers/">{% trans 'Advertisement' %}</a>
                    </li>&nbsp;|&nbsp;
                    <li class="footer-list-element">
                        <a href="/about">{% trans 'About us' %}</a>
                    </li>
                </ul>
                <ul id="footer-social" class="list-inline" style="list-style-type: none;">
                    <li>
                        <a class="social" href="https://telegram.me/insydia" target="_blank">
                            <span class="fa fa-paper-plane"></span>
                        </a>
                    </li>
                    <li>
                        <a class="social" href="https://facebook.com/" target="_blank">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a class="social" href="https://linkedin.com/">
                            <span class="fa fa-linkedin"></span>
                        </a>
                    </li>
                    <li>
                        <a class="social" href="https://vk.com/" target="_blank">
                            <span class="fa fa-vk"></span>
                        </a>
                    </li>
                    <li>
                        <a class="social" href="https://twitter.com/" target="_blank">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a class="social" href="https://instagram.com/" target="_blank">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </li>
                    <li>
                        <a class="social" href="https://youtube.com/" target="_blank">
                            <span class="fa fa-youtube"></span>
                        </a>
                    </li>
                    <li>
                        <a class="social" href="/rss" target="_blank">
                            <span class="fa fa-rss"></span>
                        </a>
                    </li>
                </ul>
                <div id="copyrights" class="" style="color: white">INSYDIA, 2015{% now "Y" as current_year %}{% if current_year != '2015' %}-{% now "Y" %}{% endif %}</div>
            </div>
        </div>
    </footer>
{% endblock %}