{% load staticfiles %}
{% load my %}
{% block user_preferences %}

    <div class="pref-title" style="text-align: center;">
        <span class="title">SENDEC | PREFERENCES</span>
    </div>
    <div id="pre-preferences" style="margin-top: 2%;">
        <div class="speech" style="text-align: center;">
            To read your own chosen categories or portals you have to choose them here or you can
            <span class="" onclick="location.href='/';" style="color: deepskyblue;" onmouseover="this.style.cursor='pointer';"><i>skip</i></span>
            this step and do it
            in "<i>Settings</i>" later.<br>
        </div>
        <hr width="50%">
        <form action=""
              method="post"
              style="width: 50%; margin-left: 25%; box-shadow: 0 0 10px black;">
            {% csrf_token %}
            <div class="objects" style="text-align: center;">
                <div class="portals-to-read">
                    <div class="portal-title" style="padding-top: 2%;">
                        Portals:<br>
                    </div>
                    {% for portal in portals %}
                        <span class="portal-{{ portal.id }}" id="pid{{ portal.id }}">
                            {{ portal.portal_name }}
                            <input type="checkbox" id="portalCheckBox" value="{{ portal.id }}">
                        </span><br>
                    {% endfor %}
                </div>
                <br>
                <div class="categories-to-read">
                    Categories:<br>
                    {% for category in categories %}
                        <span class="category-{{ category.id }}" id="cid{{ category.id }}">
                            {{ category.category_name }}
                            <input type="checkbox" id="portalCheckBox" value="{{ portal.id }}">
                        </span><br>
                    {% endfor %}
                </div>
            </div>

            <br>
            <div class="aceept-block" style="padding-bottom: 2%;">
                <input type="submit" value="Accept" style="margin-left: 46.5%;">
            </div>
        </form>
    </div>

{% endblock %}