{% extends 'index_new.html' %}
{% load my %}
{% load staticfiles %}
{% block moderator_page %}

    <style>
        .current_searched{height: 112px;box-shadow: 0 0 5px #5e5e5e; margin: 2% 0.25% 0.25% 0.25%; font-family: Georgia, Times, "Times New Roman", serif}
        .current_searched_cover{width: 20%; height: 112px; float: left;}
        .current_searched_content_title{margin-left: 21%;}
        .current_searched_content_portal{float: left; margin-left: 1%;}
        .current_searched_content{position: relative;}
        .current_searched_content_top{height: 6.7em;float: left;}
        .searched-category-name{
            float: right;
{#            position: absolute;#}
            z-index: 900;
{#          margin-left: 90%;#}
{#          float: right;#}
        }
        .searched-category-name-content{
                background-color: blue;
                color: white;
                font-family: Georgia, Times, "Times New Roman", serif;
                text-transform: uppercase;
        }
        .searched-category-link:hover{
            text-decoration: none;
        }
    </style>

    <div class="container-fluid container">
        <div class="row row-centered">
             <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="text-center">
                    {% if moderator.profile.user_photo != '' %}
                        <img id="moderator-photo" src="/media/{{ moderator.username.profile.user_photo }}" alt="avatar" width="200" />
                    {% else %}
                        <img id="moderator-photo" src="{% static 'static/img/default_profile.png' %}" width="60%" />
                    {% endif %}
                </div>
            <hr width="100%">
                <div class="moderator-chars">
                    <div id="moderator-rate">
                        <label class="col-md-3">Rate:&nbsp;{{ moderator.profile.user_rate }}</label>
                    </div>
                    <hr width="100%">
                    <div id="moderator-articles">
                        <label class="col-md-5">Articles:&nbsp;{{ articles_count }}</label>
                    </div>
                </div>
            <hr width="100%">
                 <div class="moderator-data">
                        <div id="moderator-socials">
                            <div class="moderator-facebook">
                                Facebook:&nbsp;<a href="https://facebook/{{ god.facebook }}">{{ god.facebook }}</a>
                            </div>
                            <div class="moderator-twitter">
                                Twitter:&nbsp;<a href="https://twitter/{{ god.twitter }}">{{ god.twitter }}</a>
                            </div>
                            <div class="moderator-vk">
                                VK:&nbsp;<a href="https://vk.com/{{ god.vk }}">{{ god.vk }}</a>
                            </div>
                            <div class="moderator-linkedin">
                                Linkedin:&nbsp;<a href="https://linkedin.com/in/{{ god.linkedin }}/">{{ god.linkedin }}</a>
                            </div>
                            <div class="moderator-email">
                                E-mail:&nbsp;<a href="mailto:{{ god.personal_email }}">{{ god.personal_email }}</a>
                            </div>
                        </div>
                    </div>
             <hr width="100%">
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12 personal-info">
                <h3>{{ moderator }}'s&nbsp;articles</h3>
                <div class="load-more">
                    <div class="endless_page_template">
                        {% block js %}
                            <script src="{% static 'static/js/jquery.js' %}"></script>
                            <script src="{% static 'static/js/endless-pagination.js' %}"></script>
                            <script src="{% static 'static/js/endless_on_scroll.js' %}"></script>
                            <script>
                                $(document).ready(function() {
                                    $.endlessPaginate({
                                        paginateOnScroll: false,
                                        paginateOnScrollChunkSize: 1
                                    });
                                });
                            </script>
                        {% endblock %}
                        {% include page_template %}
                    </div>
                   </div>
            </div>
        </div>
    </div>
{% endblock %}