{% extends 'index_beta.html' %}
{% load staticfiles %}
{% load my %}
{% load i18n %}
{% block user_profile %}
    <script>
        var _validFileExtensions = [".jpg", ".jpeg", ".bmp", ".gif", ".png"];
        function Validate(oForm) {
            var arrInputs = oForm.getElementsByTagName("input");
            for (var i = 0; i < arrInputs.length; i++) {
                var oInput = arrInputs[i];
                if (oInput.type == "file") {
                    var sFileName = oInput.value;
                    if (sFileName.length > 0) {
                        var blnValid = false;
                        for (var j = 0; j < _validFileExtensions.length; j++) {
                            var sCurExtension = _validFileExtensions[j];
                            if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                                blnValid = true;
                                break;
                            }
                        }
                        if (!blnValid) {
                            alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
                            return false;
                        }
                    }
                }
            }
            return true;
        }
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#user-photo-glyph').hide();
                    $('#user-photo').show();
                    $('#user-photo').attr('src', e.target.result);
                };
                $("#save-image").slideDown();
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#chooser-avatar").change(function(){
            readURL(this);
        });
    </script>
    <style>
        #page-wrapper{background:#F1F3CE}
        .confirm-email{padding-left:2%}
        .profile>.header-username>h1{font-size:30px;color:black;padding:2%;margin-top: -5%;}
        .personal-info>h2,
        #moderator-social-networks>h2{color:black;font-size:25px;padding:2%;margin:0}
        #confirm-email-label{color: red;}
        #chooser-avatar{display: none;}
        #change-photo, #change-user-data{border: solid 1px lightgrey;}
        .user-login>h4{font-size:18px;padding:2% 3%;margin:0;color:black}
    </style>
    <div class="container-fluid container profile">
        <div class="header-username">
            <h1 class="page-header">{% trans 'Profile'%}:&nbsp;{{ username.username }}</h1>
        </div>
        {% if username.is_active == False %}
            <div class="confirm-email">
                <label id="confirm-email-label">
                    <a href="/profile/sce={{ username.id }}">{% trans 'Send' %}</a>{% trans ' new email with confirmation code.' %}
                </label>
            </div>
        {% endif %}
        <div class="row row-centered">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="text-center">
                    <form id="change-photo"
                          onsubmit="return Validate(this);"
                          action="/profile/photo_upload/"
                          method="POST"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <input onchange="readURL(this);"
                               id="chooser-avatar"
                               name="username_photo"
                               type="file"
                               class="btn btn-default btn-block"
                               value="{% trans 'Upload photo' %}">
                        <label for="chooser-avatar">
                            {% if username.profile.user_photo != '' %}
                                <img id="user-photo" src="/media/{{ username.profile.user_photo }}" alt="avatar" width="200" />
                            {% else %}
                                <img hidden id="user-photo" src="" width="80%" />
                                <span id="user-photo-glyph" class="glyphicon glyphicon-user" style="font-size: 15em; margin-top: 6%;"></span>
                            {% endif %}
                        </label>
                    <br>
                        <input hidden id="save-image" class="btn-primary btn" style="display: none;" type="submit" value="{% trans 'Accept' %}">
                    </form>
                </div>
            <hr width="100%">
                <div class="user-chars">
                    {% if username.is_staff %}
                        <div id="user-staff-status">
                            <label class="col-md-3">{% trans 'Status' %}:&nbsp;<i>{% trans 'moderator' %}</i></label>
                        </div>
                        <hr width="100%">
                        <div id="user-rate">
                            <label class="col-md-3">{% trans 'Rate' %}:&nbsp;{{ username.profile.user_rate }}</label>
                        </div>
                        <hr width="100%">
                        <div id="user-articles">
                            <label class="col-md-5">{% trans 'Articles' %}:&nbsp;{{ user_articles }}</label>
                            <div class="looking-article">
                                {% if user_articles > 0 %}
                                    &nbsp;<i><a href="">{% trans 'See all' %}</a></i>
                                {% endif %}
                            </div>
                        </div>
                        <hr width="100%">
                        <div class="requests">
                            <div class="request-deleting">
                                <span class="del-acc">
                                    <a href="">{% trans 'Delete Account' %}</a>
                                </span><br>
                                <span class="del-articles">
                                    <a href="">{% trans 'Delete All Articles' %}</a>
                                </span>
                            </div>
                        </div>
                    {% else %}
{#                        {% trans 'Want to be a freelance editor?' %}#}
{#                        <br>{% trans "It's easy" %} - <a href="">{% trans 'click here' %}</a>#}
                        <hr width="100%">
                        <div class="requests">
                            <div class="request-deleting">
                            <span class="del-acc">
                                <a href="">{% trans 'Delete Account' %}</a>
                            </span>
                            <hr width="100%">
                            {% if username.is_staff %}
                                <span class="del-articles">{% trans 'Delete All Articles' %}</span>
                            {% endif %}
                        </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12 personal-info" id="change-user-data">
                <h2>Personal info</h2>
                <form action="/profile/change/"
                      method="POST"
                      class="form-horizontal"
                      role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-md-3 control-label">{% trans 'Username' %}:</label>
                        <div class="col-md-8 user-login">
                            <h4>{{ username.username }}</h4>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">{% trans 'First name' %}:</label>
                        <div class="col-lg-8">
                            <input name="first_name"
                                   class="form-control"
                                   type="text"
                                   placeholder="{% trans 'First name' %}"
                                   value="{{ username.first_name }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">{% trans 'Last name' %}:</label>
                        <div class="col-lg-8">
                            <input name="last_name"
                                   class="form-control"
                                   type="text"
                                   placeholder="{% trans 'Last name' %}"
                                   value="{{ username.last_name }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8">
                            <input name="email"
                                   class="form-control"
                                   type="email"
                                   pattern="^[-a-z0-9!#$%&'*+/=?^_`{|}~]+(?:\.[-a-z0-9!#$%&'*+/=?^_`{|}~]+)*@(?:[a-z0-9]([-a-z0-9]{0,61}[a-z0-9])?\.)*(?:aero|arpa|asia|biz|cat|com|coop|edu|gov|info|int|jobs|mil|mobi|museum|name|net|org|pro|tel|travel|[a-z][a-z])$"
                                   placeholder="example@gmail.com"
                                   value="{{ username.email }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Cell:</label>
                        <div class="col-lg-8">
                            <input name="cell"
                                   class="form-control"
                                   type="tel"
                                   placeholder="{% trans 'Your phone number' %}"
                                   value="{{ username.profile.user_cell_number }}">
                        </div>
                    </div>
                    {% if username.is_staff %}
                        <div id="moderator-social-networks">
                        <h2>{% trans 'Social Networks(Moderator Mode)' %}</h2>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{% trans 'Facebook:' %}</label>
                                <div class="col-lg-8">
                                    <input name="facebook"
                                           class="form-control"
                                           type="text"
                                           placeholder="F{% trans 'Facebook' %}"
                                           value="{{ god.facebook }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{% trans 'Linkedin:' %}</label>
                                <div class="col-lg-8">
                                    <input name="linkedin"
                                           class="form-control"
                                           type="text"
                                           placeholder="{% trans 'Linkedin' %}"
                                           value="{{ god.linkedin }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{% trans 'Twitter:' %}</label>
                                <div class="col-lg-8">
                                    <input name="twitter"
                                           class="form-control"
                                           type="text"
                                           placeholder="{% trans 'Twitter' %}"
                                           value="{{ god.twitter }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{% trans 'VK:' %}</label>
                                <div class="col-lg-8">
                                    <input name="vk"
                                           class="form-control"
                                           type="text"
                                           placeholder="{% trans 'VK' %}"
                                           value="{{ god.vk }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">{% trans 'Perosnal email' %}:</label>
                                <div class="col-lg-8">
                                    <input name="personal_email"
                                           class="form-control"
                                           type="text"
                                           pattern="^[-a-z0-9!#$%&'*+/=?^_`{|}~]+(?:\.[-a-z0-9!#$%&'*+/=?^_`{|}~]+)*@(?:[a-z0-9]([-a-z0-9]{0,61}[a-z0-9])?\.)*(?:aero|arpa|asia|biz|cat|com|coop|edu|gov|info|int|jobs|mil|mobi|museum|name|net|org|pro|tel|travel|[a-z][a-z])$"
                                           placeholder="{% trans 'Personal email' %}"
                                           value="{{ god.personal_email }}">
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input class="btn btn-primary" value="{% trans 'Save Changes' %}" type="submit">
                            <span></span>
                            <input class="btn btn-info" value="{% trans 'Cancel' %}" type="reset">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
{#    {% if flavour != 'mobile' %}#}
{#        <div class="profile-footer" style="margin-top: 100px;">#}
{#            {% include 'footer.html' %}#}
{#        </div>#}
{#    {% else %}#}
{#        {% include 'mobile/mobile_footer.html' %}#}
{#    {% endif %}#}

{% endblock %}