{% extends 'index_new.html' %}
{% load staticfiles %}
{% load my %}
{% block settings %}


    <script>
        function exchangeSelectData(value){
            if(value === "source-ignore") {
                var n = document.getElementById("source-ignore").options.selectedIndex;
                var val = document.getElementById("source-ignore").options[n].value;
                var text = document.getElementById("source-ignore").options[n].text;
                document.getElementById("source-to-show").options.add(new Option(text, val));
                document.getElementById("source-ignore").options.remove(n);
            }
            else if(value === "source-ignore-2"){
                var n_2 = document.getElementById("source-ignore-2").options.selectedIndex;
                var val_2 = document.getElementById("source-ignore-2").options[n_2].value;
                var text_2 = document.getElementById("source-ignore-2").options[n_2].text;
                document.getElementById("source-to-show-2").options.add(new Option(text_2, val_2));
                document.getElementById("source-ignore-2").options.remove(n_2);
            }
        }

        function removeSelectedData(){
            var n = document.getElementById("source-to-show").options.selectedIndex;
            var val = document.getElementById("source-to-show").options[n].value;
            var text = document.getElementById("source-to-show").options[n].text;
            document.getElementById("source-ignore").options.add(new Option(text, val));
            document.getElementById("source-to-show").options.remove(n);
        }

        function selectAllOptions(selStr)
        {
            // Select ALL options on submit form.
            var selObj = document.getElementById(selStr);
            for (var i=0; i<selObj.options.length; i++) {
                selObj.options[i].selected = true;
            }
        }

        $(document).ready(function() {
            $("#check_all_categories").click(function(){
                if($(this).prop('checked')){
                    $('.currently_category_check').prop('checked', true);
                }
                else{
                    $('.currently_category_check').prop('checked', false);
                }
            });
{#            $('#check_all_categories').on('change', function () {#}
{#                $('.currently_category_check').not(this).prop('checked', true);#}
{#            });#}
             if ($("#settings-form input:checkbox:checked").length === 8) {
                 $("#check_all_categories").prop('checked', true);
             }
             else{
                 $("#check_all_categories").prop('checked', false);
             }
        });



    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="user-settings" style="">
                <div class="top-block" style="background-color: #4cae4c; text-align: center; margin-top: -1%;">
                    <h3>SETTINGS</h3>
                </div>
                <div class="notify-choose">
                    Choose what companies you want to be notified by.
                    <form id="settings-form"
                          action="/profile/settings/add_portals"
                          method="get"
                          onsubmit="selectAllOptions('source-to-show');">
                        {% csrf_token %}
                        <div class="chooser" style="float: left;">
                            <label for="source-ignore">Choose</label><br>
                            <select multiple
                                    id="source-ignore-2"
                                    size="10"
                                    style="width: 300px;">
                                {% for company in companies %}
                                    <option value="{{ company.id }}" id="id{{ company.id }}">{{ company.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="buttons-to-choose" style="float: left;">
                            <br><br><br>
                            <input type="button" id="moveto" name="moveto" value=">>" onclick="return exchangeSelectData('source-ignore-2');">
                            <br>
                            <input type="button" id="moveout" name="moveout" value="<<" onclick="return removeSelectedData();">
                        </div>
                        <div class="choosen">
                            <label for="source-to-show">Chosen</label><br>
                            <select multiple
                                     id="source-to-show-2"
                                     name="source-to-show-2"
                                     size="10"
                                     style="width: 300px;">
                                {% for i in test_2 %}
                                    <option value="{{ i.id }}" id="id{{ i.id }}">{{ i.portal_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <hr width="100%">
                        <div class="other-side" style="background-color: lightcyan; height: 500px;">
                            <div class="choice-category">
                                Choose&nbsp;categories&nbsp;which&nbsp;would&nbsp;you&nbsp;like&nbsp;to&nbsp;view.
                                <br>
                                <div class="categories-list">
                                    <input type="checkbox" name="check_all_categories" id="check_all_categories">
                                    <label for="check_all_categories">Check&nbsp;all</label><br>
                                    {% for category in categories %}
                                        <input class="currently_category_check" type="checkbox" id="cid{{ category.id }}" name="categories[]" value="{{ category.id }}"
                                               {% if category.id|check_reading_category:username == True %}checked{% endif %}>
                                        <label for="cid{{ category.id }}">{{ category.category_name }}</label><br>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="choice-portal">
                                Choose&nbsp;portals&nbsp;which&nbsp;would&nbsp;you&nbsp;like&nbsp;to&nbsp;view.
                                <div class="form-to-choose">
                                        <div class="chooser" style="float: left;">
                                            <label for="source-ignore">Choose</label><br>
                                            <select multiple
                                                    id="source-ignore"
                                                    size="10"
                                                    style="width: 300px;">
                                                {% for portal in test %}
                                                    <option value="{{ portal.portal_id }}" id="id{{ portal.portal_id }}">{{ portal.portal_id|get_portal_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="buttons-to-choose" style="float: left;">
                                            <br><br><br>
                                            <input type="button" id="moveto" name="moveto" value=">>" onclick="return exchangeSelectData('source-ignore');">
                                            <br>
                                            <input type="button" id="moveout" name="moveout" value="<<" onclick="return removeSelectedData();">
                                        </div>
                                        <div class="choosen">
                                            <label for="source-to-show">Chosen</label><br>
                                            <select  multiple
                                                     id="source-to-show"
                                                     name="source-to-show"
                                                     size="10"
                                                     style="width: 300px;">
                                                    {% for i in test_2 %}
                                                        <option value="{{ i.portal_id }}" id="id{{ i.portal_id }}">{{ i.portal_id|get_portal_name }}</option>
                                                    {% endfor %}
                                            </select>
                                            <div class="maintenance" style="color: red; font-size: 20px;">
                                                {{ choosen_portals }}<br>
                                                test(not added & waits to add):{{ test }}<br>
                                                test_2(already added):{{ test_2 }}
                                            </div>
                                        </div>
                                        <br>
                                        <input type="submit" value="Save">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}