{% extends 'index.html' %}
{% load staticfiles %}
{% load my %}
{% block settings %}

    <div class="user-settings">
        <div class="top-block" style="background-color: #4cae4c; text-align: center; margin-top: -1%;">
            <h3>SETTINGS</h3>
        </div>
        <div class="left-side" style="float: left; background-color: red; width: 30em;">
            123
        </div>
        <div class="other-side" style="background-color: blue;">
            321
        </div>
    </div>

{% endblock %}