{% extends 'index_new.html' %}
{% load staticfiles %}
{% load my %}
{% load i18n %}
{% block search %}
{#    <script src="{% static 'static/js/jquery.js' %}"></script>#}
{#    <script src="{% static 'static/js/jquery-ui.js' %}"></script>#}
    <script type="text/javascript">
        function validate_form ( ) {
        	valid = true;
                if ( document.search.q.value == "" ) {
                        alert ( "Please, complete the field." );
                        valid = false;
                }
                return valid;
        }
    </script>
    <style>
        ul.tabs{list-style-type: none;margin: 0;padding: 0;}
        ul.tabs li{
            border: gray solid 1px;
            border-bottom: none;
            float: left;
            margin: 0 .25em 0 0;
            padding: .25em .5em;
        }
        ul.tabs li a{color: gray;font-weight: bold;text-decoration: none;}
{#        ul.tabs li.active{background: gray;}#}
        ul.tabs li.active a{color: white;}
        .clr{clear: both;}
        .moderator{width: 50%;height: auto;padding-bottom: 4em;}
        .photo{height: 50px;float: left;width: 25%;border: solid 1px red;}
        .content{float: right;width: 75%;height: 50px;border: solid 1px purple;}
        .moderator-info{margin-left: -12%;list-style-type: none;}
        .moderator-info-item{float: left;}
        .search{width: 100%; height: 100%;}
        .left-side-search{width: 70%; height: inherit; float: left;}
        .search-error-text{text-align: center;}
        .no_results{margin-left: 25%;}
        #input-search-field{width: 60%; float: left;}
        #input-search-submit{margin-left: 1%;}
        .popular-news{margin-top: 3%; height: auto;}
        .text-top-popular{text-align: center;}
        #pop-news{width: 90%; margin-left: 1%; height: auto; float: left;}
        .cur_pop_news{float: left; width: 48%; height: 300px; margin: 0 1%; position: relative;}
        .image{opacity:1; width: 100%; height: 150px; background: url('{% static 'static/img/bn-2.png' %}') no-repeat center;}
        #match-variation{text-align: left; font-size: 20px;}
        .current_searched{
            border: solid 1px lightgrey;
{#            height: inherit;#}
            margin: 2% 0.25% 0.25% 0.25%;
            font-family: Georgia, Times, "Times New Roman", serif
        }
        .current_searched_cover{
            width: 25%;
            height: 10em;
{#            max-height:10em;#}
            float: left;
        }
        .current_searched_content_title{
{#            margin-left: 21%;#}
        }
        .current_searched_content_portal{
            float: left;
            margin-left: 1%;
        }
        .right-side-block{width: 28%; float: right;}

        .latest-news-cover{float: left; height: 50%; width: 25%;}
        .latest-news-content{height:60px;padding-left: 5%; width:75%; float: right; font-family: Georgia, Times, "Times New Roman", serif}
        .latest-current-news{margin-top: 5%; height: 60px; border-bottom: dotted 1px lightgrey}
        .latest-header{text-align: center;}

        .current_searched_content{
{#            border: solid 1px red;#}
{#            position: relative;#}
            height:10em;
        }
        .current_searched_content_top{
{#            border: solid 1px blue;#}
            position: relative;
            height: 87%;
            margin-left: 25%;
        }
        .searched-category-name{
{#                position: absolute;#}
                z-index: 900;
{#            border: solid 1px red;#}
            float: right;
{#                margin-left: 20%;#}
{#                margin-top: 2%;#}
        }
        .searched-category-name-content{
                background-color: blue;
                color: white;
                font-family: Georgia, Times, "Times New Roman", serif;
                text-transform: uppercase;
        }
        .searched-category-link:hover{
            text-decoration: none;
        }

        .searched_company_name{
            margin-bottom: 5%;
            height: 3em;
        }
    .company-cover{
        float: left;
    }
    .company-name{
        float: left;
        margin-top: 2%;
        margin-left: 20%;
    }
    .company-articles{
        float: right;
        margin-top: 2%;
    }
    </style>
    <div class="container-fluid container">
        <div class="row row-centered">
            <div class="search-block">
                <div class="search">
                    <div class="left-side-search">
                        {% if empty_result %}
                            <div class="search-error-text">
                                {% trans 'No one matches. Please, try another request word' %}<br><br>
                            </div>
                            <div class="no_results">
                                <form action="/search/" method="get" name="search" onsubmit="return validate_form();">
                                    <input autocomplete="off"
                                           autofocus
                                           name="q"
                                           id="input-search-field"
                                           type="text"
                                           class="form-control"
                                           placeholder="{% trans 'What are you looking for?'%}">
                                    <input type="submit"
                                           id="input-search-submit"
                                           value="{% trans 'Search' %}"
                                           class="search-submit-button">
                                </form>
                            </div>
                            <div class="popular-news">
                                <div class="text-top-popular">
                                    {% trans 'Popular news' %}
                                </div>
                                <div id="pop-news">
                                    {% for current_popular_news in popular_news %}
                                        <div class="cur_pop_news" id="news-{{ current_popular_news.id }}">
                                            <div class="title">
                                                {{ current_popular_news.news_title }}
                                            </div>
                                            <div class="date-author">
                                                {% trans 'By' %} <a href="/search/?q={{ current_popular_news.news_portal_name }}">{{ current_popular_news.news_portal_name }}</a>&nbsp;|&nbsp;
                                                {{ current_popular_news.news_post_date }}
                                            </div>
                                            <div class="image"></div>
                                            <div class="text">
                                                {{ current_popular_news.news_post_text|safe|truncatewords:"12" }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div id="match-variation">
                                <b>{% trans 'Results for ' %}&laquo;{{ search_word }}&raquo;</b>
                                &nbsp;<h5>&#40;{{ matches_amount }}&nbsp;{% if matches_amount > 1 %}{% trans 'matches' %}
                            {% else %}{% trans 'match' %}
                            {% endif %}&#41;</h5><hr>
                            </div>
                            <div id="tabs">
                                <ul class="tabs">
                                    <li><a href="#an">{% trans 'News' %}&nbsp;({{ news_count|default:0 }})</a></li>
                                    <li><a href="#ac">{% trans 'Companies' %}&nbsp;({{ companies_count|default:0 }})</a></li>
                                    <li><a href="#au">{% trans 'Moderators' %}&nbsp;({{ users_count|default:0 }})</a></li>
                                </ul>
                                <div class="clr"></div>
                                <section class="block">
                                    <article id="an">
                                        <div class="load-more">
                                            <div class="endless_page_template" style="margin-left: 1%;">
                                                {% block js %}
                                                    <script src="{% static 'static/js/jquery.js' %}"></script>
                                                    <script src="{% static 'static/js/endless-pagination.js' %}"></script>
                                                    <script src="{% static 'static/js/endless_on_scroll.js' %}"></script>
                                                    <script>
                                                        $(document).ready(function() {
                                                            $.endlessPaginate({
                                                                paginateOnScroll: false,
                                                                paginateOnScrollChunkSize: 1
                                                            });
                                                        });
                                                    </script>
                                                {% endblock %}
                                            <div class="rss-mas">
                                                {% include news_search_template %}
                                            </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article id="ac">
                                        {% if companies_matches|length > 0 %}
                                            {% for current_company in companies_matches %}
                                                <div class="searched_company_name"
                                                     onmouseover="this.style.backgroundColor='lightblue';"
                                                     onmouseout="this.style.backgroundColor='';"
                                                     onclick="location.href='/news/companies/{{ current_company.verbose_name }}/';">
                                                    <div class="company-cover"><img src="/static/static/img/companies_logo/{{ current_company.verbose_name }}.png" width="75px"/></div>
                                                    <div class="company-name">{{ current_company.name }}</div>
                                                    <div class="company-articles">{% trans 'Articles' %}:&nbsp;{{ current_company.id|company_articles_amount }}</div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </article>
                                    <article id="au">
                                        {% if users_matches|length > 0 %}
                                            {% for current_user in users_matches %}
                                                <div class="moderator"
                                                     onclick="location.href='/profile/m/{{ current_user.username }}/';">
                                                    <div class="photo"></div>
                                                    <div class="content">
                                                        <div class="username">{{ current_user.username }}</div>
                                                        <ul class="moderator-info">
                                                            <li class="moderator-info-item">
                                                                <div class="articles">{% trans 'Articles' %}:&nbsp;{{ current_user.profile.written_articles }}&nbsp;|&nbsp;</div>
                                                            </li>
                                                            <li class="moderator-info-item">
                                                                <div class="articles">{% trans 'Rate' %}:&nbsp;{{ current_user.profile.user_rate }}</div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </article>
                                </section>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="right-side-block">
                    <div class="latest-news">
                        <div class="latest-header">
                            {% trans 'Latest news' %}
                        </div>
                        <div class="latest-titles">
                            {% for i in latest_news %}
                                <div class="latest-current-news"
                                     onclick="location.href='/news/{{ i.news_category_id }}/{{ i.id }}/';"
                                     onmouseover="this.style.cursor='pointer'; $('#lnt'+{{ i.id }}).css('color', 'blue');"
                                     onmouseout="$('#lnt'+{{ i.id }}).css('color', 'black');">
                                    <div class="latest-news-cover"
                                         style="background: url('/media/{{ i.news_main_cover }}') no-repeat center; background-size: contain;"></div>
                                    <div class="latest-news-content">
                                        <span id="lnt{{ i.id }}"
                                              class="title"
                                              onmouseover="this.style.color='blue'; style.cursor='pointer';"
                                              onmouseout="this.style.color='black';"
                                              onclick="location.href='/news/{{ i.news_category_id }}/{{ i.id }}/';">
                                            {{ i.news_title }}
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{#    <script src="{% static 'static/js/jquery.js' %}"></script>#}
{#    <script src="{% static 'static/js/jquery-ui.js' %}"></script>#}
