<!DOCTYPE html>
<html lang="en">
<head>
    <title>Maintenance | Insydia</title>
    <meta charset="utf-8" />
    <meta name='yandex-verification' content='5e44980913d08dad' />
    <meta name="google-site-verification" content="y6Xw9KEH5CLn8NGw7Q2xWyettWl8PNt06hQVCjG2EBs" />
</head>
<body style="background: url('https://writersanontaunton.files.wordpress.com/2014/09/35140-tasermiut-fjord-greenland-hd-wallpaper.jpg') no-repeat center; background-size: cover;" >
    <div id="wrapper">
        <div id="maintenance" style="color: black; width: 40%; box-shadow: 0 0 10px black; border-radius:5px; margin-left: 5%; margin-right:auto; margin-top: 20%; background-color: white; opacity: 0.75%;">
            Web-site is under development. Please, come later.
            <br>To contact with us you can write <a href="mailto:insydia@yandex.ru">insydia@yandex.ru</a> or call <a href="tel:79315790696">+7-931-579-06-96</a>.
            <br>
            <p></p>
            <br>Thank you for your consideration.
            <br>Insydia Team
        </div>
    </div>
    <div id="live" style="display: none;">
        <!--LiveInternet counter--><script type="text/javascript">document.write("<a href='//www.liveinternet.ru/click' target=_blank><img src='//counter.yad$er.yadro.ru/hit?t44.6;r" + escape(top.document.referrer) + ((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.c$olorDepth?screen.colorDepth:screen.pixelDepth)) + ";u" + escape(document.URL) +";h"+escape(document.title.substring(0,80)) +  ";" + Math.random() + m() + "' border=0 width=31 height=31 alt='' title='LiveInternet'><\/a>")</script><!--/LiveInternet-->
    </div>
</body>
</html>
