{% extends 'index_new.html' %}
{% load my %}
{% load i18n %}
{% load staticfiles %}
{% block contacts %}
    <script>
        function changeState() {
            var element = document.getElementById('user-message');
            if(element.style.display == 'block'){element.style.display = 'none';}
            else {element.style.display = 'block';}
        }
    </script>
    <style xmlns="http://www.w3.org/1999/html">
        .contact-list{list-style-type: none;}
        .contact-list-item{margin-top:2%;}
        .team-list{margin-left: -10%;list-style-type: none;}
        .team-list-item{width: 45%;float: left;margin-left: 5%;box-shadow: 0 0 5px black; border-radius: 3px;}
        .contact-link{color: #3036ff;}
        .contact-link:hover{text-decoration: none;color: #79daff;}
        .team-link{text-decoration: none;}
        .team-link:hover{text-decoration: none;}
        .photo{height: 77px;float: left;width: 25%;background: url('{% static 'static/img/default_profile.png' %}') no-repeat center; background-size: cover;}
        .content{float: right;width: 75%;height: auto;padding-left: 5%;}
        .contacts-left{float: left; width: 70%;}
        .contact-us-text{color: lightblue;}
        #user-message{display: none;}
        #user-message-message{resize: none}
        .captcha{margin-left: 5%;}
        #report-submit{margin-left: 38%;}
        img{float: left;}
        .contacts-right{float: right; width: 30%;}
        .expression{margin-top: 5%; text-align: left; margin-left: auto; margin-right: auto; width: 65%;}

        .contact-page{
            margin-top: 5%;
            font-family: Georgia, Times, "Times New Roman", serif;
        }

    </style>




    <div class="container-fluid container contact-page">
        <div class="row row-centered">
            <span class="contact-title">
                <h2>{% trans 'CONTACT INFORMATION' %}</h2>
            </span>
            <div id="contacts" class="col-xs-12 col-centered col-fixed">
                <div class="contacts-left">
                    <div class="contacts-left-top">
                        <div class="contacts-left-top-left">
                            {% trans 'Cell' %}:&nbsp;{{ phone }}<br>
                            {% trans 'E-mail'%}:&nbsp;<a href="mailto:{{ email }}">{{ email }}</a><br>
                            {% trans 'On cooperation' %}:&nbsp;<a href="mailto:{{ cooperation }}?subject=[Cooperation] ">{{ cooperation }}</a>
                            <hr width="1%">
                            <span class="contact-us-text" onmouseover="this.style.cursor='pointer';" onclick="changeState();">{% trans 'Contact with us' %}</span>
                            <div  id="user-message">
                                <form class="form-horizontal"
                                      role="form"
                                      method="POST"
                                      action="/about/send_report/">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="user-message-name">{% trans 'Name' %}:</label>
                                        <div class="col-md-5">
                                            {{ form.username }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="user-message-email">{% trans 'E-mail' %}:</label>
                                        <div class="col-md-5">
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="user-message-message">{% trans 'Message' %}:</label>
                                        <div class="col-md-5">
                                            <textarea class="form-control"
                                                      name="message"
                                                      required="required"
                                                      id="user-message-message"
                                                      rows="10"
                                                      placeholder="{% trans 'Message' %}"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="user-message-message"></label>
                                        <div class="col-md-5">
                                            <div class="captcha">
                                                {{ form.captcha }}
                                            </div>
                                        </div>
                                    </div>
                                    <script src="//www.google.com/recaptcha/api.js" async defer></script>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label"></label>
                                        <div class="col-md-8">
                                            <input type="submit"
                                                   class="btn btn-primary"
                                                   id="report-submit"
                                                   value="{% trans 'Send' %}">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <hr width="1%">
                        </div>
                    </div>
                    <div class="contacts-left-bottom">
                        <div class="team-title">
                            <h2>{% trans 'OUR TEAM' %}</h2>
                        </div>
                        <ul class="team-list">
                            <li class="team-list-item">
                                <div class="Founder">
                                    <div class="photo"></div>
                                    <div class="content">
                                        <b>{% trans 'Founder' %}</b>:<br>
                                        {% trans 'Evgeniy Privalov' %}<br>
                                        <a href="email:eprivalov@insydia.com">eprivalov@insydia.com</a><br>
                                        {% blocktrans %}St. Petersburg{% endblocktrans %}<br>
                                        <div class="">
                                            Хочет рекламировать проект раздавая листовки у метро, учится пасти котов
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="team-list-item">
                                <div class="CTO">
                                    <div class="photo"></div>
                                    <div class="content">
                                        <b>{% trans 'Co-Founder' %}</b>:<br>
                                        {% trans 'Anton Tinishov' %}<br>
                                        <a href="mailto:atinishov@insydia.com">atinishov@insydia.com</a><br>
                                        {% blocktrans %}St.Petersburg{% endblocktrans %}<br>
                                        <div class="">
                                            Разматывает спутавшиеся наушники и всё в это роде. Ценее него только наш
                                            шпион.
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <hr width="0">
                        <div id="vacancy">
                            <div class="vacancy-text">
                                {% trans 'At this time we need in' %}:
                            </div>
                            <div id="vacancy-left" style="width: 30%; float: left; margin-left: 1%; border: solid 1px red;">
                                {% trans 'LOCALIZATION' %}
                                <br>{% trans 'EDITORS & REPORTERS' %}
                            </div>
                            <div id="vacancy-center" style="width: 30%; float: left;margin-left: 1%;border: solid 1px red;">
                                {% trans 'PROGRAMMER' %}
                            </div>
                            <div id="vacancy-right" style="width: 30%; float: left;margin-left: 1%;border: solid 1px red;">
                                {% trans 'MARKETING' %}
                            </div>
                        </div>
                        <hr width="100%">
                        <div>
                            <span class="join-team">
                                <a class="team-link" href="">{% trans 'Join to us' %}</a>
                            </span>
                        </div>
                        <hr width="100%">
                        </div>
                    </div>
                <div class="contacts-right">
                    {% trans 'Social Networks' %}
                    <hr width="100%">
                    <ul class="contact-list">
                        <li class="contact-list-item">
                            <a class="contact-link" href="https://vk.com/insydianews/">
                                <img src="{% static 'static/img/vk.png' %}" width="8%" alt="VK"/>VK
                            </a>
                        </li>
                        <li class="contact-list-item">
                            <a class="contact-link" href="">
                                <img src="{% static 'static/img/facebook.png' %}" width="8%" alt="Facebook"/>Facebook
                            </a>
                        </li>
                        <li class="contact-list-item">
                            <a class="contact-link" href="https://www.linkedin.com/groups/8442725">
                                <img src="{% static 'static/img/linkedin.png' %}" width="8%" alt="Linkedin"/>Linkedin
                            </a>
                        </li>
                        <li class="contact-list-item">
                            <a class="contact-link" href="http://www.youtube.com/channel/UCbF570qpf1uJUef5y_l3OkA">
                                <img src="{% static 'static/img/youtube.png' %}" width="8%" alt="YoutTube"/>YouTube
                            </a>
                        </li>
                        <li class="contact-list-item">
                            <a class="contact-link" href="https://twitter.com/insydianews">
                                <img src="{% static 'static/img/twitter.png' %}" width="8%" alt="Twitter"/>Twitter
                            </a>
                        </li>
                        <li class="contact-list-item">
                            <a class="contact-link" href="https://plus.google.com/u/0/b/113571107578727495097/113571107578727495097">
                                <img src="{% static 'static/img/google+.png' %}" width="8%" alt="Google+"/>Google+
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <script src='//www.google.com/recaptcha/api.js'></script>

{% endblock %}