{% load staticfiles %}
{% load cache %}
<style>
    #footer-div{
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        width: 100%;
    }
    .footer-list-top .footer-list-element{
        list-style-type: none;
        display: inline;
        width: 100%;
    }
    .footer-bottom-block{
    }
    .global-left{
        float: left;
        width: 50%;
        margin-left: 10%;
    }
    .ftr-lf{
        float: left;
        font-size: 45px;
        margin-right: 1%;
    }
    .ftr-rt{
        margin-top: 0;
    }
    .ftr-rt-bottom{
        margin-top: -1%;
    }
    #copyrights{
        margin-top: -1%;
    }
    .global-right{
        height: 5em;
        margin-right: 20%;
    }
    #mobile-apps{
        float: right;
        color: red;
    }
    .main-logo-title, .main-logo-title:hover{
        text-decoration: none;
    }
</style>

<div id="footer-div">
    <div class="container-fluid">
        <div class="footer-bottom-block">
            <div class="global-left">
                <div class="ftr-lf">
                    <a class="main-logo-title" href="/">INSYDIA</a>
                </div>
                <div class="ftr-rt">
                    <div id="ftr-rt-top">
                        <ul class="footer-list-top">
                            <li class="footer-list-element">
                                <a href="/about/rules/">Terms&nbsp;and&nbsp;Conditions</a>
                            </li>&nbsp;|&nbsp;
                            <li class="footer-list-element">
                                <a href="/about/privacy/">Privacy&nbsp;Policy</a>
                            </li>&nbsp;|&nbsp;
                            <li class="footer-list-element">
                                <a href="/about/advertiser/">Advertiser</a>
                            </li>&nbsp;|&nbsp;
                            <li class="footer-list-element">
                                <a href="/about/contacts/">Contacts</a>
                            </li>
                        </ul>
                    </div>
                    <div class="ftr-rt-bottom">
                        <ul class="footer-list-top">
                                International&nbsp;Editions:&nbsp;
                            <li class="footer-list-element">
                                <a href="">EN</a>
                            </li>&nbsp;|&nbsp;
                            <li class="footer-list-element">
                                <a href="">RU</a>
                            </li>&nbsp;|&nbsp;
                            <li class="footer-list-element">
                                <a href="">CH</a>
                            </li>
                        </ul>
                    </div>
                    <div id="copyrights">
                        &#169;INSYDIA, 2015{% now "Y" as current_year %}{% if current_year != '2015' %}-{% now "Y" %}{% endif %}
                    </div>
                </div>
            </div>
            <div class="global-right">
                <div id="mobile-apps">
                    Soon<br>
                    <a href=""><img src="{% static 'static/img/app_store.png' %}" width="100em" /></a>
                    <a href=""><img src="{% static 'static/img/app_android.png' %}" width="108em" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
