

<style>
    ul#footer-list .footer-list-element{
        list-style-type: none;
        display: inline;
        width: 100%;
    }

    .list-element-block{
        float: left;
        width: 20%;
    }

    .first-content-element{
        list-style-type: none;
        margin-left: -13%;
    }

</style>


<div class="footer-div" style="background-color: #23527c; width: 95%; margin-left: 1%;">
    <div class="container-fluid">
        <h4 style="text-align: left;" onclick="location.href='/';">INSYDIA</h4>
        <ul id="footer-list" style="color: white;">
            <li class="footer-list-element">
                <div class="list-element-block" id="one">
                    <div class="first-title" style="text-align: center">
                        NEWS
                    </div>
                    <div class="first-content" style="border: solid 1px red;">
                        <ul>
                            <li class="first-content-element">LATEST</li>
                            <li class="first-content-element">TECHNOLOGY</li>
                            <li class="first-content-element">ENTERTAINMENT</li>
                            <li class="first-content-element">AUTO</li>
                            <li class="first-content-element">SPACE</li>
                            <li class="first-content-element">BIT</li>
                            <li class="first-content-element">COMPANIES</li>
                            <li class="first-content-element">REVIEWS</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="footer-list-element">
                <div class="list-element-block" id="two">
                    <div class="second-title" style="text-align: center">
                        REGIONS
                    </div>
                    <div class="second-content" style="border: solid 1px red;">
                        <ul>
                            <li class="second-content-element">LATEST</li>
                            <li class="second-content-element">TECHNOLOGY</li>
                            <li class="second-content-element">ENTERTAINMENT</li>
                            <li class="second-content-element">AUTO</li>
                            <li class="second-content-element">SPACE</li>
                            <li class="second-content-element">BIT</li>
                            <li class="second-content-element">COMPANIES</li>
                            <li class="second-content-element">REVIEWS</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="footer-list-element">
                <div class="list-element-block" id="three">
                    <div class="third-title" style="text-align: center">
                        THREE
                    </div>
                    <div class="third-content" style="border: solid 1px red;">
                        <ul>
                            <li class="third-content-element">LATEST</li>
                            <li class="third-content-element">TECHNOLOGY</li>
                            <li class="third-content-element">ENTERTAINMENT</li>
                            <li class="third-content-element">AUTO</li>
                            <li class="third-content-element">SPACE</li>
                            <li class="third-content-element">BIT</li>
                            <li class="third-content-element">COMPANIES</li>
                            <li class="third-content-element">REVIEWS</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="footer-list-element">
                <div class="list-element-block" id="four">
                    <div class="four-title" style="text-align: center">
                        PROJECTS
                    </div>
                    <div class="four-content" style="border: solid 1px red;">
                        <ul>
                            <li class="four-content-element">LATEST</li>
                            <li class="four-content-element">TECHNOLOGY</li>
                            <li class="four-content-element">ENTERTAINMENT</li>
                            <li class="four-content-element">AUTO</li>
                            <li class="four-content-element">SPACE</li>
                            <li class="four-content-element">BIT</li>
                            <li class="four-content-element">COMPANIES</li>
                            <li class="four-content-element">REVIEWS</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="footer-list-element">
                <div class="list-element-block" id="five">
                    <div class="five-title" style="text-align: center">
                        ABOUT&nbsp;US
                    </div>
                    <div class="five-content" style="border: solid 1px red;">
                        <ul>
                            <li class="five-content-element">ABOUT</li>
                            <li class="five-content-element">TECHNOLOGY</li>
                            <li class="five-content-element">ENTERTAINMENT</li>
                            <li class="five-content-element">AUTO</li>
                            <li class="five-content-element">SPACE</li>
                            <li class="five-content-element">BIT</li>
                            <li class="five-content-element">COMPANIES</li>
                            <li class="five-content-element">REVIEWS</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>


        <div id="copyrigths" style="float: none; text-align: center; color: white;">
            &#169;2015, Insydia
        </div>

    </div>
</div>