{% load staticfiles %}
{% load i18n %}
{% load cache %}
{% load my %}
<style>
   #footer-list-top li,#footer-social li{display:inline}#footer-div{color:#fff;height:inherit;background-color:#00293C;-webkit-box-shadow:0 0 10px rgba(0,0,0,.5);-moz-box-shadow:0 0 10px rgba(0,0,0,.5);box-shadow:0 0 10px rgba(0,0,0,.5);bottom:0}#footer-div a:hover{color:#F62A00;text-decoration:none}.main-footer-item{width:25%;float:left}.footer-top{height:250px}.footer-middle{height:50px}.footer-bottom{height:100px}.footer-list-item a{text-decoration:none;color:#fff}.footer-list-item a:hover{color:#19bd9b}.footer-main-title-link{color:#fff}.footer-main-title-link:hover{color:#19bd9b}.social{font-size:25px;color:#fff;margin-right:5px}.social:hover{cursor:pointer;color:#19b49b}.footer-current-news{height:60px;margin-top:5px;bottom:5px;border-bottom:dotted 1px red;font-size:12px}#footer-3,#footer-4{float:left;width:18%}
</style>
<div id="footer-div" class="col-xs-10 col-xs-offset-2">
    <div class="footer-bottom-block row row-centered">
        <div class="footer-top">
            <ul id="main-footer-list">
                <li class="col-xs-3">
                    <div id="footer-logo">
                        <div class="fl-top text-center">
                            <img src="{% static 'static/img/favicons/all/white_trans.png' %}" width="128px" height="128px"/>
                        </div>
                        <div class="fl-bottom text-center">
                            <img src="{% static 'static/img/comodo.png' %}" width="108px" height="54px"/>
                            <img src="{% static 'static/img/aws.png' %}" width="110px" height="40px"/>
                        </div>
                        <span class="footer-logo" hidden><h1>INSYDIA</h1></span>
                    </div>
                </li>
                <li id="footer-2" class="col-xs-4">
                    <ul>
                        <li><h3 class="footer-title">{% trans 'RECENT NEWS' %}</h3></li>
                        {% for i in footer_news %}
                            <li>
                                <a href="/news/{{ i.news_post_date.year }}/{{ i.news_post_date.month }}/{{ i.news_post_date.day }}/{{ i.id }}/{{ i.slug }}">
                                   <div class="footer-current-news">
                                       {% if i.news_main_cover|check_format == True %}
                                            <div class="footer-news-cover" style="float: left; height: 50px; width: 75px; background: url('/media/{{ i.news_main_cover }}') no-repeat center; background-size: cover  ;"></div>
                                       {% else %}
                                           <div class="footer-news-cover" style="float: left; height: 50px; width: 75px; background: url('{% static 'static/img/companies_cover/' %}{{ i.news_company_owner_id|get_company_owner_name }}.jpg') no-repeat center; background-size: cover  ;"></div>
                                       {% endif %}
                                        <div class="footer-news-content" style="margin-left: 35%; height: 60px;">
                                            <span id="lnt{{ i.id }}" class="title">
                                                 {% if lang == 'eng' %}
                                                    {{ i.news_title_english }}
                                                {% elif lang == 'rus' %}
                                                    {{ i.news_title_russian }}
                                                {% else %}
                                                    {{ i.news_title_chinese }}
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li id="footer-3">
                    <ul>
                        <li><h3 class="footer-title">{% trans 'Categories' %}</h3></li>
                        <li class="footer-list-item"><a href="/news/technology/">{% trans 'Technology' %}</a></li>
                        <li class="footer-list-item"><a href="/news/entertainment/">{% trans 'Entertainment' %}</a></li>
                        <li class="footer-list-item"><a href="/news/auto/">{% trans 'Auto' %}</a></li>
                        <li class="footer-list-item"><a href="/news/space/">{% trans 'Space' %}</a></li>
                        <li class="footer-list-item"><a href="/news/bio/">{% trans 'BIO' %}</a></li>
                        <li class="footer-list-item"><a href="/news/companies/">{% trans 'Companies' %}</a></li>
{#                        <li class="footer-list-item"><a href="/news/reviews/">{% trans 'Reviews' %}</a></li>#}
                        {% if username.username %}
                            <li class="footer-list-item"><a href="/news/reviews/">{% trans 'PRIVATE' %}</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li id="footer-4">
                    <ul>
                        <li><h3 class="footer-title">{% trans 'Quick links' %}</h3></li>
                        <li class="footer-list-item"><a href="/about/">{% trans 'About us' %}</a></li>
                        <li class="footer-list-item"><a href="/about/advertisement/">{% trans 'Advertisement' %}</a></li>
                        <li class="footer-list-item"><a href="/rss/">{% trans 'RSS feed' %}</a></li>
                        <li class="footer-list-item"><a href="/about/career/">{% trans 'Career' %}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <hr width="100%">
        <div class="footer-bottom">
            <div class="bottom-left" style="float: left; font-size: 30px; margin-left: 3%;"><a class="footer-main-title-link" href="/">INSYDIA</a></div>
            <div class="bottom-right" style="float: right; margin-right: 5%;">
                <ul id="footer-social" style="list-style-type: none;">
                    <li>
                        <a class="social" href="/about/telegram/" target="_blank">
                            <span class="fa fa-paper-plane"></span>
                        </a>
                    </li>
                    <li>
                        <a class="social" href="https://facebook.com/" target="_blank">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a class="social" href="https://linkedin.com/">
                            <span class="fa fa-linkedin"></span>
                        </a>
                    </li>
                    <li>
                        <a class="social" href="https://vk.com/" target="_blank">
                            <span class="fa fa-vk"></span>
                        </a>
                    </li>
                    <li>
                        <a class="social" href="https://twitter.com/" target="_blank">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a class="social" href="https://instagram.com/" target="_blank">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </li>
                    <li>
                        <a class="social" href="https://youtube.com/" target="_blank">
                            <span class="fa fa-youtube"></span>
                        </a>
                    </li>
                    <li>
                        <a class="social" href="/rss" target="_blank">
                            <span class="fa fa-rss"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 text-center">
                Site by <a href="/about/#person1">Eugene Privalov</a>
            </div>
        </div>
    </div>
</div>