<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <title>Sendec&nbsp;{{ title }}</title>
    <link href="{% static 'static/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'static/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'static/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static 'static/img/favicon.ico' %}" type="image/x-icon">
    <!-- Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>




    <!-- START STOCKS -->
    <script>
        var companytick = ["AAPL","FB","GOOG","MSFT","TSLA","AMZN","TWTR"];
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="http://static.amigobulls.com/js/highstock-2.0.1.min.js.gz"></script>
    <script src="http://static.amigobulls.com/js/chart-widget.min.js.gz"></script>
    <link rel="stylesheet" type="text/css" href="http://static.amigobulls.com/css/chart-widget.min.css.gz" />
    <!-- END STOCKS -->


    <script type="text/javascript">
        // Raise Error If Search Input is empty
        function validate_form ( ) {
        	valid = true;
                if ( document.search_form.q.value == "" ) {
                        alert ( "Please, complete the field." );
                        valid = false;
                }
                return valid;
        }

        function SearchClick(){
            $('.search-bar').fadeIn("fast");
            $('#textplace-search').focus();
        }

    </script>
    <script>
        $(document).ready(function(){
            var $sb = $('.search-bar');
            $sb.focusout(function(){
                $sb.fadeOut("fast");
            })
        })
    </script>
    <script>
        function showLeftBar() {
            $('.left-panel').show();
            document.getElementById('arrow-to-show-sections').style.marginLeft = '11%';
            $('#arrow-to-show-sections').delay(200).fadeOut("fast");
            $('#arrow-to-hide-sections').delay(210).fadeIn("fast");
        }
        function hideLeftBar(){
            $('.left-panel').hide();
            document.getElementById('arrow-to-show-sections').style.marginLeft = '0';
            $('#arrow-to-hide-sections').delay(200).fadeOut("fast");
            $('#arrow-to-show-sections').delay(210).fadeIn("fast");
        }
    </script>
    <!-- Styles -->
    <style>
        .popup-user-window {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            overflow: hidden;
            position: fixed;
            top: 0;
        }
        .popup-user-window .popup-user-window-content{
            margin: 5% auto 0 40%;
            width:  30%;
            height: 620px;
            padding: 10px;
            background-color: #c5c5c5;
            border-radius:5px;
            box-shadow: 0 0 10px #000;
        }
        .li-cat{
            float: left;
            margin-left: 1%;
        }
    </style>


</head>
<body>

    <div class="top-navigation" style="position: relative; height: 8%;">
        <!-- TOP PANEL FOR SEARCH AND LOGO -->
        <div style="float: left; margin-left: 11%;" class="top-left-bar" onmouseover="style.cursor='pointer';">
            <span onclick="showLeftBar();">SECTIONS</span>&nbsp;|&nbsp;
            <span class="search-span" onclick="SearchClick();">SEARCH</span>
        </div>
        <div class="title-bar" style="float: left; margin-left: 18%;">
            <div class="internacionalization" style="text-align: center;">
                US | RU | CH
            </div>
            <div onmouseover="this.style.cursor='pointer';" class="title-name" style="text-align: center; font-size: 2em;" onclick="location.href='/';">
                SENDEC&nbsp;NEWS
            </div>
        </div>
        <div class="right-block">
            {% if username %}
                <div class="logout" style="float: left; margin-right: 1%; margin-left: 35%;">
                    <a href="/auth/logout/"><i class="fa fa-fw fa-power-off"></i>Log Out</a>
                </div>
            {% else %}
                <div class="auth" style="margin-left: 87%;">
                    <div class="signin" onclick="location.href='/auth/login/';" style="float: left;">
                        Sign In&nbsp;|&nbsp;
                    </div>
                    <div class="signup" onclick="location.href='/auth/register/';">
                        Sign up
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div id="wrapper-new">
        <div id="page-wrapper">
            <div class="ro234w">
                <div hidden
                     class="left-panel"
                     style="float: left; position: fixed; box-shadow: 0 0 5px black; width: 12%; height: 104%; margin-top: -8%; margin-left: -2%;">
                    <div class="logo-left-bar" style="margin-top: 20%; margin-left: 15%; text-align: center;">
                        <span onclick="location.href='/';">
                            SENDEC
                        </span>
                    </div>

                    {% if username %}
                        <div class="profile">
                            <div class="image-user" style="margin-left: 13%;">
                                <img src="/media/{{ username.profile.user_photo }}" width="128" />
                            </div>
                            <div class="navigation-profile" style="margin-left: 26%;">
                                <span class="fa fa-fw fa-user" aria-hidden="true" onclick="location.href='/profile/';"></span>|&nbsp;<span class="fa fa-bell" aria-hidden="true" onclick="location.href='/notify/';"></span>
                                &nbsp;|&nbsp;<span class="glyphicon glyphicon-star" aria-hidden="true" onclick="location.href='/favourite/';"></span>|&nbsp;<span class="fa fa-fw fa-gear" aria-hidden="true" onclick="location.href='/profile/settings/';"></span>
                            </div>
                        </div>
                    {% endif %}
                    <div class="categories" style="margin-top: 10%;">
                        <ul class="categories" style="list-style-type: none;">
                            <li>LATEST</li>
                            <li>TECHNOLOGY</li>
                            <li>ENTRTAINMENT</li>
                            <li>AUTO</li>
                            <li>SPACE</li>
                            <li>BIT</li>
                            <li>COMPANIES</li>
                        </ul>
                    </div>
                    <div class="navigation">
                        <ul style="list-style-type: none;">
                            <li>TOP&nbsp;NEWS</li>
                            <li>PODCASTS</li>
                            <li>REVIEWS</li>
                        </ul>
                    </div>
                    <div class="founders">
                        <ul style="list-style-type: none;">
                            <li>ABOUT&nbsp;US</li>
                            <li>CONTACTS</li>
                            <li>STH&nbsp;ELSE</li>
                        </ul>
                    </div>
                </div>
                <div class="left-showing-bar"
                     style="width: 2%; height: 105%; position: fixed; margin-left: -0.9%; margin-top: -8%;">
                    <span id="arrow-to-show-sections"
                          class="arrow-to-show-sections"
                          style="width: 1%; position: fixed; margin-top: 20%;"
                          onclick="showLeftBar();">
                        >
                    </span>
                    <span id="arrow-to-hide-sections"
                          class="arrow-to-hide-sections"
                          style="margin-left: 11%; width: 1%; position: fixed; margin-top: 20%;"
                          onclick="hideLeftBar();"
                          hidden>
                        <<br>
                        <<br>
                        <<br>
                    </span>
                </div>
                <div class="other" style="margin-left: 10%; height: 100%;">
                    <div class="top-navigation" style="margin-left: 13%; margin-top: 0;">
                        <ul style="list-style-type: none;">
                            <li class="li-cat"><a href="/news/latest/">LATEST</a></li>
                            <li class="li-cat"><a href="/news/technology/">TECHNOLOGY</a></li>
                            <li class="li-cat"><a href="/news/entertainment/">ENTERTAINMENT</a></li>
                            <li class="li-cat"><a href="/news/auto/">AUTO</a></li>
                            <li class="li-cat"><a href="/news/space/">SPACE</a></li>
                            <li class="li-cat"><a href="/news/bit/">BIT</a></li>
                            <li class="li-cat"><a href="/news/companies/">COMPANIES</a></li>
                            <li class="li-cat"><a href="/news/reviews/">REVIEWS</a></li>
                            <li class="li-cat"><a href="/news/usernews/page=1/">MyNews</a></li>
                        </ul>
                    </div>
                <br>
                    <div class="search-bar" hidden
                         onkeydown="if(event.keyCode == 27){$('.search-bar').hide(); $('.block-news').hide();}"
                         style="margin-left: 14%;">
                        <form id="search-form" action="/search/" method="get" name="search_form" onsubmit="return validate_form();">
                            <input name="q"
                                   autocomplete="off"
                                   id="textplace-search"
                               type="text"
                               class="form-control"
                               placeholder="Search"
                               style="float: left; width: 61%;">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                <br>
                <hr width="98%">
                    {% if news_block == True %}
                        {% include 'news_block_new.html' %}
                        {% include 'footer.html' %}
                    {% endif %}
                    {% block user_profile %}{% endblock %}
                    {% block favourite %}{% endblock %}
                    {% block notify %}{% endblock %}
                    {% block current_news %}{% endblock %}
                    {% block current_category %}{% endblock %}
                    {% block top_news %}{% endblock %}
                    {% block login %}{% endblock %}
                    {% block register %}{% endblock %}
                    {% block search %}{% endblock %}


                    <!-- new blocks -->
                    <div class="news-block" id="news-block" style="height: 100%;">
                        {% block latest %}{% endblock %}
                        {% block technology %}{% endblock %}
                        {% block entertainment %}{% endblock %}
                        {% block auto %}{% endblock %}
                        {% block space %}{% endblock %}
                        {% block bit %}{% endblock %}
                        {% block companies %}{% endblock %}
                        {% block reviews %}{% endblock %}
                        {% block user_news %}{% endblock %}
                    </div>


                </div>

                {% block settings %}{% endblock %}
                <!-- /#page-wrapper -->
            </div>
        </div>
    </div>

    <!-- /#wrapper -->

    <script src="{% static 'static/js/jquery.js' %}" type="javascript"></script>
    <script src="{% static 'static/js/bootstrap.min.js' %}" type="javascript"></script>

    <div class="popup-user-window" hidden>
        <div class="popup-user-window-content">
            <div class="user-image">
                <input type="text" contenteditable="false" style="width: 80%;" value="{{ external_link }}">
            </div>
            <!--High Hopes In Velvet The Cab-->
            <div class="user-info">
                <button onclick="javascript:SharePopUpHide();">SHARE</button>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            //Скрыть PopUp при загрузке страницы
            SharePopUpHide();
        });
        //Функция отображения PopUp
        function SharePopUpShow(){
            $(".popup-user-window").show().onfocus();
            //$("span").append(data.music_track_name);
        }
        //Функция скрытия PopUp
        function SharePopUpHide(){
            $(".popup-user-window").hide();
        }
    </script>
</body>
</html>
