<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load staticfiles %}
{% load jsonate_tags %}
{% load i18n %}
{% load cache %}
<head>
    <meta charset="utf-8">
    <title>Insydia&nbsp;{{ title }}</title>
    <link href="{% static 'static/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'static/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'static/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static 'static/img/favicon.ico' %}" type="image/x-icon">
    <!-- Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!-- VK sharing -->
    <script type="text/javascript" src="http://vk.com/js/api/share.js?93" charset="windows-1251"></script>
    <!-- VK AUTH -->
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>
    <script type="text/javascript">VK.init({apiId: 111});</script>

    <!-- FACEBOOK sharing -->
    <script>
                                    (function(d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0];
                                        if (d.getElementById(id)) return;
                                        js = d.createElement(s); js.id = id;
                                        js.src = "//connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v2.5";
                                        fjs.parentNode.insertBefore(js, fjs);
                                    }(document, 'script', 'facebook-jssdk'));
                                </script>



    <!-- START STOCKS -->
    <script>
        var companytick = ["AAPL","FB","GOOG","MSFT","TSLA","AMZN","TWTR"];
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="http://static.amigobulls.com/js/highstock-2.0.1.min.js.gz"></script>
    <script src="http://static.amigobulls.com/js/chart-widget.min.js.gz"></script>
    <link rel="stylesheet" type="text/css" href="http://static.amigobulls.com/css/chart-widget.min.css.gz" />
    <!-- END STOCKS -->


    <script type="text/javascript">
        // Raise Error If Search Input is empty
        function validate_form ( ) {
        	valid = true;
                if ( document.search_form.q.value == "" ) {
                        alert ( "Please, complete the field." );
                        valid = false;
                }
                return valid;
        }

        function SearchClick(){
            $('.search-bar').fadeIn("fast");
            $('#textplace-search').focus();
        }

    </script>
    <script>
        $(document).ready(function(){
            var $sb = $('.search-bar');
            $sb.focusout(function(){
                $sb.fadeOut("fast");
            })
        })
    </script>
    <script>
        function showLeftBar() {
            $('.left-panel').show();
            document.getElementById('arrow-to-show-sections').style.marginLeft = '11%';
            $('#arrow-to-show-sections').delay(200).fadeOut("fast");
            $('#arrow-to-hide-sections').delay(210).fadeIn("fast");
        }
        function hideLeftBar(){
            $('.left-panel').hide();
            document.getElementById('arrow-to-show-sections').style.marginLeft = '0';
            $('#arrow-to-hide-sections').delay(200).fadeOut("fast");
            $('#arrow-to-show-sections').delay(210).fadeIn("fast");
        }
    </script>
    <script>
        // PopUp RSS NEWS
        jQuery(function($){
            $(document).mouseup(function (e){
                var div = $(".preview-rss-news-content");
                if (!div.is(e.target)
                    && div.has(e.target).length === 0) {
                    $(".preview-rss-news").hide();
                    $("html").css("overflowY", "auto");
                }
            });
        });

        // PopUp Authentication
        jQuery(function($){
            $(document).mouseup(function (e){
                var div = $(".popup-user-auth-content");
                if (!div.is(e.target)
                    && div.has(e.target).length === 0) {
                    $(".popup-user-auth").hide();
                }
            });
        });

        // LEFT PANEL
        jQuery(function($){
            $(document).mouseup(function (e){
                var div = $(".left-panel");
                if (!div.is(e.target)
                    && div.has(e.target).length === 0) {
                    hideLeftBar();
                }
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            $(this).keydown(function(eventObject){
                if (eventObject.which == 27)
                    $('.preview-rss-news').hide();
                    hideLeftBar();
                    $(".popup-user-auth").hide();
                    $("html").css("overflowY", "auto");
            });
        });
    </script>
    <!-- Styles -->
    <style>
        .popup-user-window {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            overflow: hidden;
            position: fixed;
            top: 0;
        }
        .popup-user-window .popup-user-window-content{
            margin: 5% auto 0 40%;
            width:  30%;
            height: 620px;
            padding: 10px;
            background-color: #c5c5c5;
            border-radius:5px;
            box-shadow: 0 0 10px #000;
            z-index: 10000;
        }

        .popup-user-auth {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            overflow: hidden;
            position: fixed;
            top: 0;
        }
        .popup-user-auth .popup-user-auth-content{
            margin: 5% auto 0 32.5%;
            width:  30%;
            height: 70%;
            padding: 10px;
            background-color: #c5c5c5;
            border-radius:5px;
            box-shadow: 0 0 10px #000;
        }


        .preview-rss-news {
            width: 100%;
            height: inherit;
            background-color: rgba(0, 0, 0, 0.1);
            overflow: auto;
            position: fixed;
            top: 0;
        }
        .preview-rss-news .preview-rss-news-content{
            margin: 0 auto 0 22%;
            width:  50%;
            height: auto;
            padding: 0;
            background-color: white;
            border-radius:5px;
            box-shadow: 0 0 10px #000;
        }


        .li-cat{
            float: left;
            margin-left: 1%;
        }
        .navigation-profile:hover .fa-user{
            color: yellow;
        }

        /* RSS POP UP WINDOW */
        .rss-body img{
            height: 100%;
            width: 111%;
            margin-left: -5.5%;
        }

        .left-bar-item{
            width: 120%;
            margin-left: -20%;
        }
        .left-bar-item:hover{
            background-color: rgba(55, 81, 141, 0.48);
            cursor: pointer;
        }

        .left-bar-link{
            width: 100%;
        }


        .news-post-text img{
            width: 100px;
        }

        .signin{
            position:relative;
            z-index:1;
            overflow:hidden;
            text-align:center;
        }
        .signin:before,
        .signin:after{
            content: '';
            display: inline-block;
            width: 22%;
            height: 1px;
            background: black;
            z-index: -1;
            position: relative;
            vertical-align: middle;
        }
        .signin:before {
            right:10px;
            margin:0 0 0 -26%;
        }
        .signin:after{
            left:10px;
            margin:0 -30% 0 0;
        }















    </style>


</head>
<body>

    <div class="top-navigation" style="position: relative; height: 8%;">
        <!-- TOP PANEL FOR SEARCH AND LOGO -->
        <div style="float: left; margin-left: 11%;" class="top-left-bar" onmouseover="style.cursor='pointer';">
            <span onclick="showLeftBar();">SECTIONS</span>&nbsp;|&nbsp;
            <span class="search-span" onclick="SearchClick();">SEARCH</span>
        </div>
        <div class="title-bar" style="float: left; margin-left: 18%;">
            <div class="internacionalization" style="text-align: center; font-size: 10px;">
                US | RU | CH
            </div>
            <div onmouseover="this.style.cursor='pointer';" class="title-name" style="text-align: center; font-size: 2em;" onclick="location.href='/';">
                INSYDIA
            </div>
        </div>
        <div class="right-block">
            {% if username %}
                <div class="logout" style="float: left; margin-right: 1%; margin-left: 35%;">
                    <a href="/auth/logout/"><i class="fa fa-fw fa-power-off"></i>Log Out</a>
                </div>
            {% else %}
                <div class="auth" style="margin-left: 87%;">
                    <div class="signin" onclick="javascript:UserAuthPopUpShow();" style="float: left;">
                        Sign In&nbsp;|&nbsp;
                    </div>
                    <div class="signup" onclick="location.href='/auth/register/';">
                        Sign up
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div id="wrapper-new">
        <div id="page-wrapper">
            <div class="ro234w">
                <div hidden
                     class="left-panel"
                     style="float: left; position: fixed; box-shadow: 0 0 5px black; width: 12%; height: 104%; margin-top: -8%; margin-left: -2%;">
                    <div class="logo-left-bar" style="margin-top: 20%; margin-left: 15%; text-align: center;">
                        <span onclick="location.href='/';">
                            SENDEC
                        </span>
                    </div>

                    {% if username %}
                        <div class="profile">
                            {% if username.profile.user_photo != '' %}
                                <div class="image-user" style="margin-left: 13%;">
                                    <img src="/media/{{ username.profile.user_photo }}"
                                         onclick="location.href='/profile/';"
                                         onmouseover="this.style.cursor='pointer';"
                                         width="128" />
                                </div>
                            {% endif %}
                            <div class="navigation-profile" style="margin-left: 26%;">
                                <span class="fa fa-fw fa-user" aria-hidden="true" onclick="location.href='/profile/';"></span>|&nbsp;<span class="fa fa-bell" aria-hidden="true" onclick="location.href='/notify/';"></span>
                                &nbsp;|&nbsp;<span class="glyphicon glyphicon-star" aria-hidden="true" onclick="location.href='/favourite/';"></span>|&nbsp;<span class="fa fa-fw fa-gear" aria-hidden="true" onclick="location.href='/profile/settings/';"></span>
                            </div>
                        </div>
                    {% endif %}
                {% cache 600 lists %}
                    <div class="lists" style="margin-left: 10%;">
                        <div class="categories" style="margin-top: 10%;">
                            <ul class="categories" style="list-style-type: none;">
                                <li class="left-bar-item"><span class="left-bar-link" onclick="location.href='/news/latest/';">LATEST</span></li>
                                <li class="left-bar-item"><span class="left-bar-link" onclick="location.href='/news/technology/';">TECHNOLOGY</span></li>
                                <li class="left-bar-item"><span class="left-bar-link" onclick="location.href='/news/entertainment/';">ENTRTAINMENT</span></li>
                                <li class="left-bar-item"><span class="left-bar-link" onclick="location.href='/news/auto/';">AUTO</span></li>
                                <li class="left-bar-item"><span class="left-bar-link" onclick="location.href='/news/space/';">SPACE</span></li>
                                <li class="left-bar-item"><span class="left-bar-link" onclick="location.href='/news/bit/';">BIT</span></li>
                                <li class="left-bar-item"><span class="left-bar-link" onclick="location.href='/news/companies/';">COMPANIES</span></li>
                            </ul>
                        </div>
                        <div class="navigation">
                            <ul style="list-style-type: none;">
                                <li class="left-bar-item"><span class="left-bar-link" onclick="location.href='/news/top/';">TOP&nbsp;NEWS</span></li>
                                <li class="left-bar-item"><span class="left-bar-link" onclick="location.href='/news/podcasts/';">PODCASTS</span></li>
                                <li class="left-bar-item"><span class="left-bar-link" onclick="location.href='/news/reviews/';">REVIEWS</span></li>
                            </ul>
                        </div>
                        <div class="founders">
                            <ul style="list-style-type: none;">
                                <li class="left-bar-item"><span class="left-bar-link" onclick="location.href='/news/about/';">ABOUT&nbsp;US</span></li>
                                <li class="left-bar-item"><span class="left-bar-link" onclick="location.href='/news/contacts/';">CONTACTS</span></li>
                                <li class="left-bar-item"><span class="left-bar-link" onclick="location.href='/';">STH&nbsp;ELSE</span></li>
                            </ul>
                        </div>
                    </div>
                {% endcache %}
                </div>
                <div class="left-showing-bar"
                     style="width: 2%; height: 105%; position: fixed; margin-left: -0.9%; margin-top: -8%;">
                    <span id="arrow-to-show-sections"
                          class="arrow-to-show-sections"
                          style="width: 1%; position: fixed; margin-top: 20%;"
                          onclick="showLeftBar();">
                        >
                    </span>
                    <span id="arrow-to-hide-sections"
                          class="arrow-to-hide-sections"
                          style="margin-left: 11%; width: 1%; position: fixed; margin-top: 20%;"
                          onclick="hideLeftBar();"
                          hidden>
                        <<br>
                        <<br>
                        <<br>
                    </span>
                </div>

                <div class="top-navigation" style="margin-top: 0;">
                    <div class="" style="margin-left: 16%;">
                        <ul style="list-style-type: none;">
                            <li class="li-cat"><a href="/news/latest/">LATEST</a></li>
                            <li class="li-cat"><a href="/news/technology/">TECHNOLOGY</a></li>
                            <li class="li-cat"><a href="/news/entertainment/">ENTERTAINMENT</a></li>
                            <li class="li-cat"><a href="/news/auto/">AUTO</a></li>
                            <li class="li-cat"><a href="/news/space/">SPACE</a></li>
                            <li class="li-cat"><a href="/news/bit/">BIT</a></li>
                            <li class="li-cat"><a href="/news/companies/">COMPANIES</a></li>
                            <li class="li-cat"><a href="/news/reviews/">REVIEWS</a></li>
                            {% if username.username and username.is_active == True %}
                                <li class="li-cat"><a href="/news/usernews/page=1/">MyNews</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                <div class="other" style="margin-left: 10%; height: 100%;">
                <br>
                    <div class="search-bar" hidden
                         onkeydown="if(event.keyCode == 27){$('.search-bar').hide(); $('.block-news').hide();}"
                         style="margin-left: 14%;">
                        <form id="search-form" action="/search/" method="get" name="search_form" onsubmit="return validate_form();">
                            <input name="q"
                                   autocomplete="off"
                                   id="textplace-search"
                               type="text"
                               class="form-control"
                               placeholder="What&nbsp;are&nbsp;you&nbsp;looking&nbsp;for?"
                               style="float: left; width: 61%;">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                <br>
                <hr width="98%">
                    {% if news_block == True %}
                        {% include 'news_block_new.html' %}
                        {% include 'footer.html' %}
                    {% endif %}
                    {% block user_profile %}{% endblock %}
                    {% block favourite %}{% endblock %}
                    {% block notify %}{% endblock %}
                    {% block current_news %}{% endblock %}
                    {% block current_category %}{% endblock %}
                    {% block top_news %}{% endblock %}
                    {% block login %}{% endblock %}
                    {% block register %}{% endblock %}
                    {% block search %}{% endblock %}


                    <!-- new blocks -->
                    <div class="news-block" id="news-block" style="height: 100%;">
                        {% block latest %}{% endblock %}
                        {% block technology %}{% endblock %}
                        {% block entertainment %}{% endblock %}
                        {% block auto %}{% endblock %}
                        {% block space %}{% endblock %}
                        {% block bit %}{% endblock %}
                        {% block companies %}{% endblock %}
                            {% block current_company %}{% endblock %}
                        {% block reviews %}{% endblock %}
                        {% block user_news %}{% endblock %}
                    </div>


                </div>

                {% block settings %}{% endblock %}
                <!-- /#page-wrapper -->
            </div>
        </div>
    </div>

    <!-- /#wrapper -->

    <script src="{% static 'static/js/jquery.js' %}" type="javascript"></script>
    <script src="{% static 'static/js/bootstrap.min.js' %}" type="javascript"></script>

    <div class="popup-user-window" hidden>
        <div class="popup-user-window-content">
            <div class="user-image">
                <input type="text" contenteditable="false" style="width: 80%;" value="{{ external_link }}">
            </div>
            <!--High Hopes In Velvet The Cab-->
            <div class="user-info">
                <button onclick="javascript:SharePopUpHide();">SHARE</button>
            </div>
        </div>
    </div>
    <div class="popup-user-auth" hidden>
        <div class="popup-user-auth-content">
            <div id="login-tab">
                <div class = 'no' style="width: 100%;">

                    <div id="choice" style="height: inherit;">
                        <div class="service-name" style="text-align: center; margin-top: 5%;">
                            %SERVICE&nbsp;NAME%
                        </div>
                        <div class="sign-in-center-data" style="text-align: center; margin-top: 5%;">
                            <span class="signin">SIGN&nbsp;IN</span>
                        </div>
                    </div>

                    <div id="sign-in"  onblur="this.style.border='solid 1px red';">
                        <form action="/auth/login/" method="POST" autocomplete="off">
                            {% csrf_token %}
                            <input type="text"
                                   name="username"
                                   id="username"
                                   placeholder="username"
                                   style="width: 64%; margin-left: 20%;">
                            <input type="password"
                                   name="password"
                                   id="password"
                                   placeholder="password"
                                   style="width: 64%; margin-left: 20%; margin-top: 2%;">
                            {% if login_error %}
                                <label class="error"> {{ login_error }} </label>
                            {% endif %}
                            <button type="submit" style="margin-top: 2%; height: 40px; width: 64%; margin-left: 20%;">
                                <div class="button-text" style="margin-top: -3%;">
                                    Log&nbsp;in
                                </div>
                            </button>
                            <label id="remembering" style="margin-left: 20%;">
                                <input type="checkbox"
                                       id="check-remember"
                                       name="remember-true"
                                       value="remember-true">
                                Remember&nbsp;me
                            </label>

                            <hr>
                            <span class="signin" style="margin-left: 45%;">Sign&nbsp;in&nbsp;with:</span><br>
                            <div class="external-systems-auth" style="border: solid 1px red;">
                                <div class="systems-list" style="margin-left: 40%;">
                                    facebook<br>
                                    Twitter<br>
                                    Google+<br>
                                    <div id="vk_auth"></div>
                                    <script type="text/javascript">
                                        VK.Widgets.Auth("vk_auth", {width: "100px", authUrl: '/dev/Auth'});
                                    </script>
                                </div>
                            </div>


                            <div class="forget-password" style="text-align: center; margin-top: 5%;">
                                <a href="/auth/recovery/" id="remember-password">Forget&nbsp;password</a>
                            </div>

                            <hr width="65%" style="margin-left: 20%;">
                            <div style="width: 100%; height: 50px; margin-left: 20%;">
                                <div class="">
                                    Don't&nbsp;have&nbsp;an&nbsp;account?
                                    <a href="/auth/register/" style="margin-left: 1em;">Registration</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="preview-rss-news"
         hidden
         class="preview-rss-news"
         onkeydown="if(event.keyCode == 27){RssPreviewPopUpHide();}">
        <div class="preview-rss-news-content">
            <div class="total-body" style="padding-top: 2%;">
                <div class="closer"
                     onclick="javascript:RssPreviewPopUpHide();"
                     onmouseover="this.style.background='red';"
                     onmouseout="this.style.background='whitesmoke';"
                     style="margin-left: 100%; width: 3%; background: whitesmoke; border: solid 1px blue;">
                    <span class="close-rss-preview">
                        X
                    </span>
                </div>
                <div class="rss-title"></div>
                <div class="rss-author" style="float: left;"></div>
                <div class="rss-date-published"></div>
                <div class="rss-parent-link" style="float: right; margin-top: -3%;"></div>
                <div class="rss-shares" style="border: solid 1px darkred; height: 2%;">
                    <ul style="list-style-type: none;">
                        <li class="share-list-item">
                            <div class="fb-share-button" data-layout="button"></div>
                        </li>
                        <li class="share-list-item">
                            <span class="share-vk">
                                <script type="text/javascript">
                                    document.write(VK.Share.button(false,{type: "round_nocount", text: "Share on VK", eng: 1}));
                                </script>
                            </span>
                        </li>
                        <li class="share-list-item">
                            <span class="share-twitter">
                                <a href="https://twitter.com/share" class="twitter-share-button"{count} data-via="SendecNews">Tweet</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                            </span>
                        </li>
                        <li class="share-list-item">
                            <span class="share- linkedin">
                                <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
                                <script type="IN/Share" data-counter=""></script>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="rss-body" style="padding: 0 5%;"></div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            //Скрыть PopUp при загрузке страницы
            UserAuthPopUpHide();
        });
        //Функция отображения PopUp
        function UserAuthPopUpShow(){
            $(".popup-user-auth").show().onfocus();
        }
        //Функция скрытия PopUp
        function UserAuthPopUpHide(){
            $(".popup-user-window").hide();
        }
    </script>
    <script>
        $(document).ready(function(){
            //Скрыть PopUp при загрузке страницы
            SharePopUpHide();
        });
        //Функция отображения PopUp
        function SharePopUpShow(){
            $(".popup-user-window").show();
            //$("span").append(data.music_track_name);
        }
        //Функция скрытия PopUp
        function SharePopUpHide(){
            $(".popup-user-window").hide();
        }
    </script>
    <script>
        $(document).ready(function(){
            //Скрыть PopUp при загрузке страницы
            RssPreviewPopUpHide();
        });
        //Функция отображения PopUp
        function RssPreviewPopUpShow(i){
            //alert($.parseJSON(i).content_value);
            $("html").css("overflowY", "hidden");
            $(".rss-title").html("<h3>"+$.parseJSON(i).title+"</h3>");
            $(".rss-author").html($.parseJSON(i).author);
            $(".rss-parent-link").html("<a href='"+$.parseJSON(i).link+"'>Original article</a>");
            $(".rss-date-published").html("&nbsp;|&nbsp;"+$.parseJSON(i).date_posted);
            $(".rss-body").html($.parseJSON(i).content_value);
           // alert("b");
            $(".preview-rss-news").show();
        }
        //Функция скрытия PopUp
        function RssPreviewPopUpHide(){
            $(".preview-rss-news").hide();
            $("html").css("overflowY", "auto");
        }
    </script>
</body>
</html>
