{% load endless %}
{% load my %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

<style>

</style>

<div class="any40items" style="height: inherit;">
{% paginate 20 favs %}
    {% for i in favs %}
        {% if flavour != 'mobile' %}
            <div class="sect-new" style="cursor: pointer;">
                <div class="current_rss_news rss-rss"
                     id="rss_id_{{ i.id }}"
                     data-indx="{{ i.nuid }}"
                     data-current-rss-news-id="{{ i.id }}">
        {% else %}
            <div class="sect-new" style="cursor: pointer;">
                <div class="current_rss_news rss-rss"
                     style="width: 100%;"
                     id="rss_id_{{ i.id }}"
                     data-indx="{{ i.nuid }}"
                     data-current-rss-news-id="{{ i.id }}">
        {% endif %}
            <div class="portal-name">
                <span class="portal-name-content"
                      onclick="showCurrentPortalNews('{{ i.portal_name_id|get_rss_verbose_name }}');">
                    &nbsp;{{ i.portal_name_id|get_rss_portal_name }}&nbsp;
                </span>
            </div>
                {% if i.id|get_rss_news_cover != '' %}
                    <div class="news-image"
                         onclick="RssPreviewPopUpShow('{{ i.id }}')"
                         style="border-bottom:solid 1px lightgrey;background: url({{ i.id|get_rss_news_cover }}) no-repeat center; background-size: cover;  width: 100%; height: 50%;">

                    </div>
                {% endif %}
            {% if i.id|check_read_rss:username.id == True %}
                <div class="rss-title current-title rss-title-read"
                     id="rss-title-{{ i.id }}"
                     onclick="RssPreviewPopUpShow('{{ i.id }}')">
            {% else %}
                    <div class="rss-title current-title"
                     id="rss-title-{{ i.id }}"
                     onclick="RssPreviewPopUpShow('{{ i.id }}')">
            {% endif %}
                    <h1>
                        <b>
                            {{ i.title|safe|striptags }}
                        </b>
                    </h1>
                </div>
                <div class="rss-params">
                    <div class="rp-author pull-left">
                        {% if i.author != '' %}
                            {% trans 'By' %}&nbsp;<span class="rss-author-name">{{ i.author }}</span>
                        {% else %}
                            {{ i.portal_name.portal }}
                        {% endif %}
                    </div>
                    <div class="rp-time pull-right">
                        {{ i.date_posted.date|date }}
                    </div>
                    <div class="rp-conf">
                        <div class="rpc-left pull-left"><a href="{{ i.link }}">original</a></div>
                        <div id="link-save-{{ i.id }}" class="rpc-right pull-right">
                            {% if i.id|check_saved_rss:username.id == False %}
                                <a href="#" onclick="setRssFavourite('{{ i.id }}'); return false;">save</a>
                            {% else %}
                                <a href="#" onclick="removeRssFavourite('{{ i.id }}'); return false;">unsave</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
    {% show_more %}
<script>$('.any40items').masonry({itemSelector: '.rss-rss'});</script>