{% extends 'index_beta.html' %}
{% load staticfiles %}
{% load my %}
{% load i18n %}
{% load jsonate_tags %}
{% block favourite %}
    <style>
        #sidebar{background:white;border-right:solid 1px lightgrey}
        #rss-news{width:100%;margin-left:1%;height:100%;min-height:100%}
        #fav-main-title{text-align:center}
        .fav-footer{bottom:10px}
        .favourites{min-height:30em}
        .has-children a:hover{text-decoration:none;color:#F62A00}
        #left-panel-main-title a:hover{text-decoration:none;color:#F62A00}
        .sidebar-offcanvas{background-color:#F1F3CE;position:fixed;left:0;top:0;padding-top:5%;height:100%;overflow-y:scroll}
        @media screen and (max-width:767px){
          .row-offcanvas {position:relative;-webkit-transition:all 0.25s ease-out;-moz-transition:all 0.25s ease-out;transition:all 0.25s ease-out}
          .sidebar-offcanvas{right:-41.6%}
          .sidebar-offcanvas{left:-41.6%}
          .row-offcanvas-right.active{right:41.6%}
          .row-offcanvas-left.active{left:41.6%}
          .sidebar-offcanvas{position:absolute;top:0;width:41.6%}
          #sidebar{padding-top:0}
        }
        .side-bat-brand {position:absolute;bottom:0}
        #side-list{padding-left:0;}
        #side-list>li.side-list-item{height:40px;margin-bottom:5px}
        #side-list>li.side-list-item>a{}
        .side-text{color:black}
        .current_rss_news{position:relative;width:30%;height:25em;margin-right:3%;margin-bottom:3%;border:solid 2px lightgrey;float:left}
        .current_rss_news_mobile{position:relative;width:100%;padding:0.5% 0.5%;height:25em;border:solid 2px lightgrey;float:left}
        .current_rss_news_mas{position:relative;width:30%;min-height:3em;max-height:15em;margin-right:3%;margin-bottom:3%;border:solid 2px lightgrey;float:left}
        .right-side a:hover{text-decoration:none}
        .portal-name{position:absolute;z-index:900;margin-top:-1%}
        .portal-name-content{background-color:#F62A00;color:white;font-family:Georgia,Times,"Times New Roman",serif;text-transform:uppercase}
        .rss-params{width:100%;padding:5%}
        .rp-conf{position:absolute;bottom:10px;width:90%}
        .rss-title{margin-top:0}
        .rss-title>h1{font-size:16px;color:black;padding:5% 5%;margin:0}
        .rss-title>h1:hover{color:#F62A00}
        .rss-title:hover{color:#F62A00}

    </style>
    <div class="container-fluid container favourites">
        <div class="row row-centered">
            <!-- BOOTSTRAP NEW SIDEBAR -->
            <nav>
                <div class="col-xs-2 col-sm-2 col-md-2 sidebar-offcanvas fixed" id="sidebar" role="navigation">
                    <ul id="side-list" class="nav">
                        <li class="side-list-item active">
                            <a href="/news/usernews/">
                                <i class="fa fa-user"></i>
                                <span class="side-text">My Feed</span>
                            </a>
                        </li>
                        <li class="side-list-item">
                            <a href="/favourite/">
                                <i class="fa fa-thumbs-o-up"></i>
                                <span class="side-text">Saved articles</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="side-text">Portals</span>
                            </a>
                            <!-- user portals list-->
                            <ul class="nav">
                                {% for current_portal in user_rss_portals %}
                                    <li>
                                        <a style="cursor: pointer;" onclick="showCurrentPortalNews('{{ current_portal.portal_id|get_rss_verbose_name }}');">
                                            <span class="portal-favicon">
                                                <img src="{{ current_portal.portal_id|get_rss_portal_favicon }}" width="16px" height="16px" />
                                            </span>
                                            <span class="cprs">
                                                <span class="side-text">{{ current_portal.portal_id|get_rss_portal_name|truncatechars:15 }}</span>
                                            </span>
                                            {% if current_portal.portal_id|get_unread_news:username.id != 0 %}
                                                <span id="cprs-count-{{ current_portal.id }}" class="count">{{ current_portal.portal_id|get_unread_news:username.id|default:'' }}</span>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <!-- /user portals list -->
                        </li>
                        <hr width="100%">
                        <li class="side-list-item">
                            <a href="/news/manager/">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="side-text">{% trans 'Manage portals' %}</span>
                            </a>
                        </li>
                        <li class="side-list-item">
                            <a href="/news/browser/">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                <span class="side-text">{% trans 'Browse portals' %}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- /SIDEBAR -->
            <div id="rss-news-new" class="col-xs-10 col-md-10" style="float: right;">
                {% if fav_len < 1 %}
                    <div id="fav-main-title">
                        <h2>{% trans 'FAVOURITE ARTICLES' %}</h2>
                        You have not any news as favourite or "see later" yet.
                        <br>You can <a href="/news/usernews/">go</a> to your rss collection or to the <a href="/">latest</a> articles
                    </div>
                {% else %}
                    <div class="load-more">
                        <div class="endless_page_template" style="margin-left: 1%;">
                            {% block js %}
                                <script src="{% static 'static/js/jquery.js' %}"></script>
                                <script src="{% static 'static/js/endless-pagination.js' %}"></script>
                                <script src="{% static 'static/js/endless_on_scroll.js' %}"></script>
                                <script>
                                    $(document).ready(function() {
                                        $.endlessPaginate({
                                            paginateOnScroll: false,
                                            paginateOnScrollChunkSize: 1
                                        });
                                    });
                                </script>
                            {% endblock %}
                            <div class="rss-mas">
                                {% include fav_template %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        function removeRssFavourite(news_id){
            $.ajax({
                type: "POST",
                url: "/news/remove_like_rss/r="+news_id,
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: alert("success")
            });
        }
    function RssPreviewPopUpShow(i) {
        {% if flavour != 'mobile' %}
            $.ajax({
                type: "POST",
                url: "/news/scar=" + i,
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function () {
                    $('#rss-title-' + i).addClass('rss-title-read');
                }
            });
            $('#fadeandscale-desktop').animate({
                scrollTop: $('html, body').offset().top
            });
            $.ajax({
            type: "POST",
            url: "/news/gcr=" + i + "/",
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function (data) {
                $('#current-rss-preview').popup({autoopen: true, pagecontainer: '.container', transition: 'all 0.3s'});
                $('#current-rss-preview-mobile').popup({autoopen: true, pagecontainer: '.container', transition: 'all 0.3s'});
                $('#close-preview').fadeIn();
                $('.preview-content').html(data.string);
                $('.preview-content-mobile').html(data.string);
                $parsedData = data.data;
                if ($parsedData.content.length === 0) {
                    $(".rss-preview-body").html($parsedData.text + "<hr width='100%'><p style='text-align: center;'><a class='pull-left' href='" + $parsedData.link + "' target='_blank'><button style='background-color: #1E656D; color: ivory;' class='btn btn-to-original'>See&nbsp;original</button></a>");
                }
                else {
                    $(".rss-preview-body").html($parsedData.content + "<hr width='100%'><p style='text-align: center;'><a class='pull-left' href='" + $parsedData.link + "' target='_blank'><button style='margin-bottom: 20px; background-color: #1E656D; color: ivory;' class='btn btn-to-original'>See&nbsp;original</button></a>");
                }
                if(data.data.fav == true){
                    $('.rss-item-save').attr('onclick', 'removeRssFavourite("{id}");'.replace("{id}", i));
                    $('.rss-fav').attr('data-fav', 1).css({'color': 'lime'})
                }
                else{
                    $('.rss-item-save').attr('onclick', 'setRssFavourite("{id}");'.replace("{id}", i));
                    $('.rss-fav').attr('data-fav', 0).css({'color': 'white'})
                }
            }
        });
        {% else %}
            $.ajax({
                type: "POST",
                url: "/news/scar=" + i,
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function () {
                    $('#rss-title-' + i).addClass('rss-title-read');
                }
            });
            $('#fadeandscale-desktop').animate({
                scrollTop: $('html, body').offset().top
            });
            $.ajax({
            type: "POST",
            url: "/news/gcr_m=" + i + "/",
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function (data) {
                $('#current-rss-preview').popup({autoopen: true, pagecontainer: '.container', transition: 'all 0.3s'});
                $('#current-rss-preview-mobile').popup({autoopen: true, pagecontainer: '.container', transition: 'all 0.3s'});
                $('#close-preview').fadeIn();
                $('.preview-content').html(data.string);
                $('.preview-content-mobile').html(data.string);
                $parsedData = data.data;
                if ($parsedData.content.length === 0) {
                    $(".rss-preview-body").html($parsedData.text + "<hr width='100%'><p style='text-align: center;'><a class='pull-left' href='" + $parsedData.link + "' target='_blank'><button style='background-color: #1E656D; color: ivory;' class='btn btn-to-original'>See&nbsp;original</button></a><button class='btn btn-primary' onclick='RssPreviewArticleMobileHide(); return false;'>Close</button>");
                }
                else {
                    $(".rss-preview-body").html($parsedData.content + "<hr width='100%'><p style='text-align: center;'><a class='pull-left' href='" + $parsedData.link + "' target='_blank'><button style='margin-bottom: 20px; background-color: #1E656D; color: ivory;' class='btn btn-to-original'>See&nbsp;original</button></a><button class='btn btn-primary' onclick='RssPreviewArticleMobileHide(); return false;'>Close</button>");
                }
                if(data.data.fav == true){
                    $('.rss-item-save').attr('onclick', 'removeRssFavourite("{id}");'.replace("{id}", i));
                    $('.rss-fav').attr('data-fav', 1).css({'color': 'lime'})
                }
                else{
                    $('.rss-item-save').attr('onclick', 'setRssFavourite("{id}");'.replace("{id}", i));
                    $('.rss-fav').attr('data-fav', 0).css({'color': 'white'})
                }
            }
        });
        {% endif %}
    }
    function RssPreviewArticleMobileHide(){
        $('#current-rss-preview-mobile').popup('hide');
    }function RssPreviewArticleHide(){
        $('#current-rss-preview-mobile').popup('hide');
    }
        $(document).on('click', function (event) {
        if (!$(event.target).closest('#current-rss-preview').length && !$(event.target).closest('#close-preview').length) {
            $('#close-preview').hide();
        }
    });
        $(document).ready(function () {
        $(this).keydown(function (eventObject) {
            if (eventObject.which == 27)
                $('.preview-rss-news').hide();
                $('#close-preview').hide();
                $("html").css("overflowY", "auto");
        });
    });
    function RssPreviewPopUpHide() {
        $(".preview-rss-news").hide();
        $("html").css("overflowY", "auto");
    }
    </script>


{% endblock %}