{% extends 'index_new.html' %}
{% load staticfiles %}
{% load my %}
{% load i18n %}
{% block companies %}

    <style>
        #companies{
            width: 70%;
            margin-left: 1%;
            height: auto;
            float: left;
        }
        .company-top-title{
            text-align: center
        }
        .right-side{
            width: 28%;
            float: right;
        }
    .cmp{
        float: left;
    }
    .current_company{
        width: 100%;
        height: 50px;
    }
    .current_company:hover{
        background-color: rgb(25, 180, 155);
        cursor: pointer;
    }
    table{
        width: 100%;
    }
    .table-logo{
        width: 30%;
    }
    .table-name{
        width: 50%;
    }
    .table-articles{
        width: 20%;
    }
    .companies-right{
        width: 20%;
        margin-top: 10%;
        margin-right:2%;
        float: right;
    }

    </style>


    <div class="container-fluid container" style="">
        <div class="row row-centered">
            <div id="companies">
                <div class="company-top-title"><h3>{% trans 'Companies' %}</h3></div>
                <div class="companies-total-description">
                    {% trans 'Here you can search news of the certain company which do you want.' %}
                </div>
                <div class="companies-list">
                    <div class="search-company-form">
                        <div class="form-group">
                            <label class="col-md-2 control-label"></label>
                            <div class="col-md-7">
                                <input type="text"
                                       autocomplete="off"
                                       id="company-search"
                                       placeholder="{% trans 'Search company' %}"
    {#                                       oninput="searchCurrentCompany('Telegram');"#}
    {#                                   onsubmit="searchCurrentCompany($(this).val);"#}
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-0 control-label"></label>
                            <button id="submit" class="btn btn-primary">{% trans 'Search' %}</button>
                        </div>

{#                        <div id="suggest">#}
{#                            <ul id="suggest-list"#}
{#                                tabindex="0"#}
{#                                style="display: none; top: 40px; width: 200px; border: solid 1px red;"#}
{#                                class="ui-autocomplete">#}
{#                                <li class="suggest-list-item">1</li>#}
{#                            </ul>#}
{#                        </div>#}

                    </div>
                   <table id="company-table">
                        <tr>
                            <th class="table-logo tbi">{% trans 'Logo' %}</th>
                            <th class="table-name tbi">{% trans 'Name' %}</th>
                            <th class="table-articles tbi">{% trans 'Articles' %}</th>
                        </tr>
                        {% for current_company in companies %}
                            <tr class="current_company"
                                id="{{ current_company.id }}"
                                onclick="location.href='/news/companies/{{ current_company.verbose_name }}/';">
                                <td><div class="company-cover cmp"><img src="/static/static/img/companies_logo/{{ current_company.verbose_name }}.png" width="100px"/> </div></td>
                                <td><div class="company-name cmp" style="font-size: 20px;">{{ current_company.name }}</div></td>
                                <td><div class="company-articles cmp">{{ current_company.id|company_articles_amount }}</div></td>
                                <td><div class="company-sth"></div></td>
                            </tr>
                        {% endfor %}
                    </table>

                </div>
            </div>

            <div class="companies-right">
                <div class="adver-near-top" style="width: 300px; height: 660px; background-color: #00fff9"></div>
            </div>

        </div>
    </div>
{% endblock %}

<script>

    $("#company-search").autocomplete({
        source: function( request, response ) {
        $.ajax({
          url: "/news/companies/cs="+$('#company-search').val().replace(/\./g, ""),
          dataType: "json",
          data: {
              'csrfmiddlewaretoken': '{{ csrf_token }}',
              q: request.term
{#              term: $('#company-search').val().replace(/\./g, "")#}
          },
          success: function( data ) {
              response($.map(data, function(item){
                  return{
                      id: item.id,
                      label: item.name,
                      value: item.name,
                      verbose: item.verbose
                  };
              }));
          }
        });
      },
        minLength: 1,
        maxLength: 10,
{#      select: function( event, ui ) {#}
{#        log( ui.item ?#}
{#          "Selected: " + ui.item.label :#}
{#          "Nothing selected, input was " + this.value);#}
{#      },#}
        select:function(event, ui){
            var targetOffset = $("#"+ui.item.id).offset().top;
            $('html, body').animate({
                scrollTop: targetOffset
            });
{#            var a = $("#company-search").val().toLowerCase();#}
{#            getCompanyID(ui.item.id);#}
{#            alert(ui.item.id);#}
            $('#'+ ui.item.id).animate({backgroundColor: "#00C0FF"}, 2000).animate({backgroundColor: "transparent" }, 2000);
        },

      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    })
</script>
