{% block culture %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="glyphicon glyphicon-music"></i>Culture</h3>
                    </div>
                    <div class="well">
                        <div class="sect">
                            <div class="col-xs-5">
                                <img class="img-responsive" src="http://placehold.it/400x400">
                            </div>
                            <div class="text">
                                <h6>This Site Is Managed By<hr/></h6>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius
                                blandit sit amet non magna.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>

{% endblock %}