{% load endless %}
{% load my %}
{% load thumbnail %}
{% load i18n %}

<style>
    .clear-both{height: 10px;}
            .sect-2{
            width: 100%;
            display: inline-block;
{#            margin-right: 1%;#}
            margin-top: 3%;
            max-height: 150px;
        }

    .current_searched_content_title{
        color: white;
        font-family: Georgia, Times, "Times New Roman", serif;
        font-size: 22px;
    }
</style>

<div class="company_news" style="height: inherit; margin-bottom: 5%;">
{% paginate 20 news %}
{% for i in news %}
    <div class="sect-2">
        <div class="current_news"
             onmouseout="this.style.backgroundColor='';">
            <div class="current_searched_content">
                <a href="/news/{{ i.news_post_date.year }}/{{ i.news_post_date.month }}/{{ i.news_post_date.day }}/{{ i.id }}/{{ i.slug }}">
                    <div class="current-news-left" style="float: left;">
                        <div class="current_searched_cover">
                            <img src="{% thumbnail i.news_main_cover '300x150' crop='center' %}" />
                        </div>
                    </div>
                </a>
                <div class="current-news-right" style="margin-left: 310px; height: 150px;">
        {#                <div class="current_searched_content_portal">#}
        {#                    {{ current_news.news_portal_name_id|get_portal_name }}#}
        {#                </div>#}
        {#                <div class="current_searched_content_date">#}
        {#                    &nbsp;|&nbsp;{{ current_news.news_post_date.date }}#}
        {#                </div>#}
                    <div class="current_searched_content_title">
                        <a href="/news/{{ i.news_post_date.year }}/{{ i.news_post_date.month }}/{{ i.news_post_date.day }}/{{ i.id }}/{{ i.slug }}">
                            {{ i.news_title }}
                        </a>
                    </div>
                    <div class="current_searched_content_post">
                        {% trans 'By' %}&nbsp;{{ current_news.id|default:"insydia" }}&nbsp;on
                        {{ i.news_post_date.date|date }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% show_more %}
<div class="clear-both"></div>
