{% extends 'index_new.html' %}
{% load staticfiles %}
{% load my %}
{% load cache %}
{% block current_news %}
    <script>
        function add_like_news(news_id) {
            $.ajax({
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                type: "POST",
                url: "/news/add_like/n=" + news_id,
                success: $.get("/news/check_like/n=" + news_id).done(function (data) {
                    $(".news_likes_amount_"+news_id).text(data.likes);
                    $(".liked").text("Liked");
                    $(".disliked").text("Dislikes:")
                })
            });
        }
    </script>
    <script>
        function add_dislike_news(news_id) {
                $.ajax({
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    type: "POST",
                    url: "/news/add_dislike/n=" + news_id,
                    success: $.get("/news/check_dislike/n=" + news_id).done(function (data) {
                        $(".news_dislikes_amount_"+news_id).text(data.dislikes);
                        $(".disliked").text("Disliked");
                        $(".liked").text("Likes:")
                    })
                });
            }
    </script>
    <script>
        $(document).ready(function(){
            var $form = $("#comments_form");
            $form.submit(function(){
                $.ajax({
                    type: $form.attr('method'),
                    url: $form.attr('action'),
                    data: $form.serialize(),
                    success: function(result){
                        var window = $('html');//.html("");
                        window.html(result);
                        $($form).find('input[type=text], textarea').val('');
                    },
                    error: function(data){
                        alert("error");
                    }
                });
                return false;
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            $("img").style.width='100px';
        })
    </script>
    <style>
        .share-list-item{float: left;margin-left: 1%; width: 24%; height:1.5em;}
        .container-fluid{border: solid 1px lightgrey;}
        .tre{float: left; width: 70%;}
        .page-header{margin: 0 5%;font-family: Georgia, Times, "Times New Roman", serif}
        #translate-button{float: right; border: solid 1px red;}
        .date-and-author{margin-left: 5%;}
        .news-settings{height: 2em; width: 100%; text-transform: uppercase;}
        .shares{margin-left: -6%; margin-top: -1%;}
        .share-title{font-family: Arial, Helvetica, sans-serif}
        ul{list-style-type: none;}
        .news-cover{max-width: 100%; max-height: 100%; margin-top: 0; height: 400px; background: url('/media/{{ current_news_values.news_main_cover }}') no-repeat center; background-size: cover;}
        .news-post-text{margin: 0 15%; font-family: Georgia,Times,sans-serif; font-size: 19px;}
        .news-post-text-translate{margin: 0 15%;}
        .nav-bar{margin-left: 63%;}
        .liked{float: left;}
        .disliked{float: left;}
        .other-materials{height: {% if other_materials|length <= 3 %} 25em {% elif other_materials|length <= 6 %} 52em {% elif other_materials|length <= 9 %} 77em {% elif other_materials|length <= 12 %} 103em {% endif %}}
        .portal{float: left;}
        .current-rss-news{width: 32%; height: 25em; margin-left: 1%; margin-top: 1%; float: left;}
        .news-image{background: url('/media/{{ current_other.news_main_cover }}') no-repeat center; width: 100%; height: 50%;}
        .right-side-block{width: 28%; float: right;}
        .latest-news{border: 1px solid blue; box-shadow: 2px 2px 2px rgba(0,0,0,5);}
        .latest-news-cover{float: left; height:70px; width: 100px; background: url('/media/{{ i.news_main_cover }}') no-repeat center; background-size: cover;}
        .time{color: blue;}
        .latest-news{height: 70px;}
        .latest-header{text-align: center;}
    </style>
    <div class="container-fluid" data-news-id="{{ current_news_values.id }}">
        <div class="tre">
            <h1 class="page-header">
                {{ current_news_values.news_title }}
            </h1>
            <button id="translate-button"
                    onclick="$('.news-post-text').fadeOut();
                        $('.news-post-text-translate').delay(100).show();">Translate</button>
            <div class="date-and-author">
                <h5>By
                    {% if current_news_values.id|get_news_portal == "insydia" %}
                        <a href="/search/?q={{ current_news_values.news_author }}">{{ current_news_values.news_author_id|get_article_author }}</a>
                    {% else %}
                        <a href="/search/?q={{ current_news_values.news_portal_name }}">{{ current_news_values.news_portal_name }}</a>
                    {% endif %}
                    &nbsp;{{ current_news_values.news_post_date.date }}</h5>
            </div>
        <div class="news-settings">
            <div class="shares">
                <ul>
                    <li class="share-list-item">
                        <div id="fb-share"
                             style="background-color: #3B5998;border-radius: 3px; color: white;"
                             onmouseover="this.style.backgroundColor='#3B7298'; this.style.cursor='pointer';"
                             onmouseout="this.style.backgroundColor='#3B5998';"
                             onclick="window.open('http://facebook.com/sharer/sharer.php?u='+window.location.href,
                             'JSSite', 'width=420,height=230,resizable=yes,scrollbars=yes,status=yes');">
                            <div class="fb-share-icon" style="float: left; background: url('{% static 'static/img/facebook-white.png' %}') no-repeat center; background-size: cover; width: 1.3em; height: 1.3em;"></div>
                            <div class="share-title" style="margin-left: 10%;">facebook</div>
                        </div>
                    </li>
                    <li class="share-list-item">
                        <div id="vk-share" style="background-color: #45668e; border-radius: 3px; color: white;"
                             onmouseover="this.style.backgroundColor='#457998'; this.style.cursor='pointer';"
                             onmouseout="this.style.backgroundColor='#45668e';"
                             onclick="window.open('https://twitter.com/intent/tweet?original_referer='+window.location.href+'&ref_src=twsrc%5Etfw&text='+'{{ current_news_values.news_title }}'+'%20%7C%20%C2%A0Insydia&tw_p=tweetbutton&url='+window.location.href+'&via=InsydiaNews',
                             'JSSite', 'width=420,height=230,resizable=yes,scrollbars=yes,status=yes');">
                            <div class="vk-share-icon" style="float: left; background: url('{% static 'static/img/vk-white.png' %}') no-repeat center; background-size: cover; width: 1em; height: 1em;"></div>
                            <div class="share-title" style="margin-left: 10%;">VK</div>
                        </div>
                    </li>
                    <li class="share-list-item">
                        <div id="twitter-share" style="background-color: #55acee; border-radius: 3px; color: white;"
                             onmouseover="this.style.backgroundColor='#55bdee';this.style.cursor='pointer';"
                             onmouseout="this.style.backgroundColor='#55acee';"
                             onclick="window.open('https://twitter.com/intent/tweet?original_referer='+window.location.href+'&ref_src=twsrc%5Etfw&text='+'{{ current_news_values.news_title }}'+'%20%7C%20%C2%A0Insydia&tw_p=tweetbutton&url='+window.location.href+'&via=InsydiaNews',
                             'JSSite', 'width=420,height=230,resizable=yes,scrollbars=yes,status=yes');">
                            <div class="twitter-share-icon" style="float: left; background: url('{% static 'static/img/twitter-white.png' %}') no-repeat center; background-size: cover; width: 1.3em; height: 1.3em;"></div>
                            <div class="share-title" style="margin-left: 10%;">Twitter</div>
                        </div>
                    </li>
                    <li class="share-list-item">
                        <div id="linkedin-share" style="background-color: #0077b5; border-radius: 3px; color: white;"
                             onmouseover="this.style.backgroundColor='#0088b5';this.style.cursor='pointer';"
                             onmouseout="this.style.backgroundColor='#0077b5';"
                             onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url='+window.location.href+'&title='+'{{ current_news_values.news_title }}'+'&summary='+'summary',
                             'JSSite', 'width=420,height=230,resizable=yes,scrollbars=yes,status=yes');">
                            <div class="linkedin-share-icon" style="float: left; background: url('{% static 'static/img/linkedin-white.png' %}') no-repeat center; background-size: cover; width: 1.3em; height: 1.3em;"></div>
                            <div class="share-title" style="margin-left: 10%;">Linkedin</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
            {% if current_news_values.news_main_cover != '' %}
                <div class="news-cover">
                </div>
            {% endif %}
            <div class="news-post-text">
                {{ current_news_values.news_post_text|safe|linebreaks }}
            </div>
            <div class="news-post-text-translate" hidden>
                {{ current_news_values.news_post_text_translate|safe|linebreaks }}
            </div>
            <div class="nav-bar">
                <ul class="list-inline">
                    <li>
                        <span data-news-id="{{ current_news_values.id }}"
                              class="news_likes"
                              id="add_like_{{ current_news_values.id }}"
                              onclick="add_like_news('{{ current_news_values.id }}');">
                            <div class="liked">
                                {% if liked == False %}
                                    Likes:
                                {% else %}
                                    <span
                                        data-news-id="{{ current_news_values.id }}"
                                        class="break_like"
                                        id="break_like_{{ current_news_values.id }}"
                                        onclick="">Liked</span>
                                {% endif %}
                            </div>
                        </span>&nbsp;
                        <span class="news_likes_amount_{{ current_news_values.id }}">
                            {{ like_amount }}
                        </span>
                    </li>&nbsp;|
                    <li>
                        <span
                                data-news-id="{{ current_news_values.id }}"
                                class="news_dislikes"
                                id="add_dislike_{{ current_news_values.id }}"
                                onclick="add_dislike_news('{{ current_news_values.id }}');">
                            <div class="disliked">
                                {% if disliked == False %}
                                    Dislikes:
                                {% else %}
                                    <!-- Break dislike -->
                                    <span
                                        data-news-id="{{ current_news_values.id }}"
                                        class="break_dislike"
                                        id="break_dislike_{{ current_news_values.id }}"
                                        onclick="">Disliked</span>
                                {% endif %}
                            </div>
                        </span>&nbsp;
                        <span class="news_dislikes_amount_{{ current_news_values.id }}">
                            {{ dislike_amount }}
                        </span>
                    </li>&nbsp;|
                    <li>
                        {% if current_news_values.news_post_date.day < current_day %}
                            {{ current_news_values.news_post_date.date }}
                        {% else %}
                            {{ current_news_values.news_post_date.time }}
                        {% endif %}
                    </li>
                </ul>
            </div>
            {% if other_materials|length > 0 %}
                <hr width="100%">
                Other&nbsp;materials&nbsp;of&nbsp;{{ current_news_values.news_category }}
                <div class="other-materials">
                    {% for current_other in other_materials %}
                        <div id="current_rss_news_{{ i.id }}"
                             class="current-rss-news">
                                <div class="title"><a href="/news/{{ current_other.news_category_id }}/{{ current_other.id }}/">{{ current_other.news_title }}</a></div>
                                <div class="portal">By <a href="/search/?q={{ current_other.news_portal_name_id|get_portal_name }}">{{ current_other.news_portal_name_id|get_portal_name }}</a></div>
                                <div class="published">&nbsp;|&nbsp;{{ current_other.news_post_date.time }}</div>

                                <div class="news-image">

                                </div>

                                <div class="description">{{ current_other.post_text|safe|striptags|truncatewords:"9" }}</div>
                            </div>
                    {% endfor %}
                </div>
            {% endif %}
            <hr width="100%">
            <div id="comments-block">
                <div id="disqus_thread"></div>
                <script>
                    (function(){
                        var d = document, s = d.createElement('script');
                        s.src = '//indavant.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </div>
        </div>
        <div class="right-side-block">
            <div class="latest-news">
                <div class="latest-header">
                    News&nbsp;of&nbsp;{{ company_name }}
                </div>
                <div class="latest-titles">
                    {% for i in latest_news %}
                        <div class="latest-news"
                             onclick="location.href='/news/{{ i.news_category_id }}/{{ i.id }}/';">
                            <div class="latest-news-cover">
                            </div>
                            <div class="latest-news-content">
                                <span class="time">
                                    {{ i.news_post_date.time }}
                                </span>
                                <span class="title"
                                      onmouseover="this.style.color='blue'; style.cursor='pointer';"
                                      onmouseout="this.style.color='black';"
                                      onclick="location.href='/news/{{ i.news_category_id }}/{{ i.id }}/';">
                                    {{ i.news_title }}
                                </span>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
            <div class="video-and-subs">
                {% include 'twitter.html' %}
            </div>
        </div>
    </div>
{% endblock %}
