{% load endless %}
{% load my %}
{% load thumbnail %}
{% load i18n %}

<style>
        .current_searched{margin-bottom:3em;height:13em;font-family:Georgia,Times,"Times New Roman",serif;border-bottom:solid 1px lightgrey}
        .current_searched_cover{width:30%;height:10em;float:left}
        .current_searched_content_title>a{color:black}
        .current_searched_content_title>a:hover{color:#F62A00}
        .md-bt-ct{position:relative;margin-top:2%;}
        .current_searched_content_post{margin-top:3%;font-size:13px;}
        .current_searched_content_author{position:relative;float:left;}
        .current_searched_content_author a{text-decoration:none;color:#F62A00;}
        .current_searched_content_author a:hover{text-decoration:none;color:#1E656D;}
        .current_searched_content{height:10em;}
        .current_searched_content_top{position:relative;height:87%;margin-left:35%;}
        .searched-category-name{z-index:900;float:right;}
        .searched-category-name-content{background-color:#F62A00;color:ivory;font-family:Georgia,Times,"Times New Roman",serif;text-transform:uppercase;}
        .searched-category-link:hover{text-decoration:none;}
</style>

<div class="company_news" style="height: inherit; margin-bottom: 5%;">
{% paginate 20 news %}
{% for i in news %}
    <div class="current_searched">
        <div class="current_searched_content">
            <a href="/news/{{ i.news_post_date.year }}/{{ i.news_post_date.month }}/{{ i.news_post_date.day }}/{{ i.id }}/{{ i.slug }}/">
                <div class="current_searched_cover"
                     style="{% thumbnail i.news_main_cover '350x210' as im %}
                         background: url('{{ im.url }}') no-repeat center;
                             {% endthumbnail %}
                             background-size: cover;">
                </div>

            </a>
            <div class="current_searched_content_top">
                <div id="current_searched_content_title_{{ i.id }}"
                     class="current_searched_content_title">
                    <a href="/news/{{ i.news_post_date.year }}/{{ i.news_post_date.month }}/{{ i.news_post_date.day }}/{{ i.id }}/{{ i.slug }}">
                        <b>
                            {% if lang == 'eng' %}
                                {{ i.news_title_english }}
                            {% elif lang == 'rus' %}
                                {{ i.news_title_russian }}
                            {% else %}
                                {{ i.news_title_chinese }}
                            {% endif %}
                        </b>
                    </a>
                </div>
                <div class="current_searched_content_post">
                    {{ i.news_post_text_english|safe|striptags|truncatechars:"200" }}
                </div>

                <div class="md-bt-ct">
                    <div class="current_searched_content_author">
                        By&nbsp;--&nbsp;<a href="/search/?q={{ i.news_author_id|get_username }}">{{ i.news_author_id|get_article_author }}</a>
                    </div>
                    <div class="current_searched_content_date">
                        &nbsp;|&nbsp;{{ i.news_post_date.date }}
                    </div>
                </div>

            </div>

            <div class="searched-category-name">
                <a class="searched-category-link" href="/news/{{ i.news_category_id }}/{{ i.id }}/">
                    <span class="searched-category-name-content">
                        &nbsp;{{ i.id|get_news_category }}&nbsp;
                    </span>
                </a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% show_more %}
