{% extends 'index_beta.html' %}
{% load staticfiles %}
{% load my %}
{% load i18n %}
{% load thumbnail %}
{% block current_company %}
    <style>
        .company{height:100%;margin-bottom:50px}
        #current_company_left{float: left;width: 60%; border: solid 1px lightgrey;}
        .company-back{width:100%;height:200px;background: lightseagreen;margin-bottom:10px;position: absolute}
        .company-title{height: 200px; width: 100%;  position: relative;margin-bottom:15px}
        .cb-title{position:absolute;text-align: center;width:20%;border: solid 1px white;margin-left: 40%;top:35%}
        .cb-title>h1{color:white;padding:0;margin:0;font-size:30px}
        .company-title-back{position: absolute; width: 100%; height: 75px;}
        .right-side-block{width:28%;float:right;}
        .latest-news-cover{float:left;height:100%;width:25%;}
        .latest-news-content{height:60px;padding-left:5%;width:75%;float:right;font-family:Georgia,Times,"Times New Roman",serif}
        .latest-news-content>a{color:black;text-decoration:none;}
        .latest-news-content>a:hover{color: #F62A00;text-decoration: none;}
        .latest-current-news{margin-top:5%;height:60px;border-bottom:dotted 1px lightgrey}
        .latest-header{text-align:center;}
    </style>
    <div class="company-title-back"></div>
    <div class="current_company container company">
        <div class="row row-centered">
            <div class="current_company_content">
                <div class="company-title">
                    <div class="company-back"></div>
                    <div class="cb-title"><h1>{{ company.name }}</h1></div>
                </div>
                <div id="current_company_left">
                    <div class="current_company_news">
                        <div class="load-more">
                            <div class="endless_page_template">
                                {% block js %}
                                    <script src="{% static 'static/js/jquery.js' %}"></script>
                                    <script src="{% static 'static/js/endless-pagination.js' %}"></script>
                                    <script src="{% static 'static/js/endless_on_scroll.js' %}"></script>
                                    <script>
                                        $(document).ready(function() {
                                            $.endlessPaginate({
                                                paginateOnScroll: false,
                                                paginateOnScrollChunkSize: 1
                                            });
                                        });
                                    </script>
                                {% endblock %}
                                <div class="total-mas">
                                    {% include company_news %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-side-block">
                        <div class="advert-google" style="width: 300px; height: 300px; background: lightblue;"></div>

                        <div class="latest-news">
                            <div class="latest-header">
                                {% trans 'Latest news' %}
                            </div>
                            <div class="latest-titles">
                                {% for i in latest_news %}
                                    <div class="latest-current-news">
                                        <a href="/news/{{ i.news_category_id }}/{{ i.id }}/">
                                            <div class="latest-news-cover"
                                             style="background: url('/media/{{ i.news_main_cover }}') no-repeat center; background-size: contain;"></div>
                                        </a>
                                        <div class="latest-news-content">
                                            <a href="/news/{{ i.news_post_date.year }}/{{ i.news_post_date.month }}/{{ i.news_post_date.day }}/{{ i.id }}/{{ i.slug }}">
                                                <span id="lnt{{ i.id }}">
                                                    {% if lang == 'eng' %}
                                                        {{ i.news_title_english }}
                                                    {% elif lang == 'rus' %}
                                                        {{ i.news_title_russian }}
                                                    {% else %}
                                                        {{ i.news_title_chinese }}
                                                    {% endif %}
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}