{% extends 'index_new.html' %}
{% load staticfiles %}
{% block current_news %}
{% load my %}

    <!-- REFRESH LATEST NEWS -->
    <script>
    // Refresh latest news
        function load_latest_news() {
            $.ajax({
                type: "POST",
                url: "/news/update_latest/",
                success: $.get("/news/update_latest/").done(function (data) {
                    //$(".latest-title-list").prepend(data.string[0]);
                    data.latest_news.forEach(function (cur_lat_news) {
                        if(cur_lat_news.shown == false) {
                            $(".latest-titles-list").prepend(data.string[0]);

                            $.get("/news/ss=" + cur_lat_news.news_id).done(function () {
                            });
                        }
                    });
                })
            });
        }

            function refresh_latest_news(){
                $.get("/news/update_latest/").done(function(data){
                    //$(".latest-titles-list").prepend(data.string);

                    data.latest_news.forEach(function(cur_lat_news){
                        if(cur_lat_news.shown == false) {
                            $(".latest-titles-list").prepend(data.string[0]);
                            $.get("/news/ss="+cur_lat_news.news_id).done(function(){});
                        }
                    });
                });
                return true;
            }
            refresh_latest_news();
            setInterval(refresh_latest_news, 1000);

    </script>
    <!-- LIKES -->
    <script>
    // Likes
            function add_like_news(news_id) {
                $.ajax({
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    type: "POST",
                    url: "/news/add_like/n=" + news_id,
                    success: $.get("/news/check_like/n=" + news_id).done(function (data) {
                        $(".news_likes_amount_"+news_id).text(data.likes);
                        $(".liked").text("Liked");
                        $(".disliked").text("Dislikes:")
                    })
                });
            }
            function reload_likes(){
                var url = location.href.split("/");
                $.get("/news/check_like/n="+url[url.length-2]).done(function(data){
                    $(".news_likes_amount_"+url[url.length-2]).text(data.likes);
                });
                return true;
            }
            reload_likes();
            setInterval(reload_likes, 1000);
    </script>
    <!-- DISLIKES -->
    <script>
    // Dislikes
        function add_dislike_news(news_id) {
                $.ajax({
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    type: "POST",
                    url: "/news/add_dislike/n=" + news_id,
                    success: $.get("/news/check_dislike/n=" + news_id).done(function (data) {
                        $(".news_dislikes_amount_"+news_id).text(data.dislikes);
                        $(".disliked").text("Disliked");
                        $(".liked").text("Likes:")
                    })
                });
            }
            function reload_dislikes(){
                var url = location.href.split("/");
                $.get("/news/check_dislike/n="+url[url.length-2]).done(function(data){
                    $(".news_dislikes_amount_"+url[url.length-2]).text(data.dislikes);
                });
                return true;
            }
            reload_dislikes();
            setInterval(reload_dislikes, 1000);
    </script>
    <!-- SEND COMMENTS & REPLIES -->
    <script>
    // SEND COMMENTS VIA AJAX
        $(document).ready(function(){
            var $form = $("#comments_form");
            $form.submit(function(){
                $.ajax({
                    type: $form.attr('method'),
                    url: $form.attr('action'),
                    data: $form.serialize(),
                    success: function(result){
                        var window = $('html');//.html("");
                        window.html(result);
                        $($form).find('input[type=text], textarea').val('');
                        //$(".current_comment").trigger("reset");
                        //alert("success");
                    },
                    error: function(data){
                        alert("error");
                    }
                });
                return false;
            });
        });
    </script>
    <!-- REFRESH COMMENTS AND REPLIES AFTER SEND BY CURRENT USER -->
    <script>
        $(document).ready(function(){
            function refreshContent(){
                var currentCommentsBlock = $("#comments_block");
                $.get("/news/load="+currentCommentsBlock.attr("data-current-news-id")).done(function(data){
                    var messages = $(".current_comment");
                    data.comments.forEach(function(comment){
                        messages.prepend("SUCCESS COMMENTS LOAD");
                    })
                });
                refreshContent();
                setInterval(refreshContent, 2000);
            }
        });
    </script>


    <script>
    $(document).ready(function(){
        $("img").style.width='100px';
    })
    </script>


    <style>
        #id_comments_text{
            height: 3em;
            resize: none;
            margin-left: 1%;
            width: 85%;
        }
        #id_reply_text{
            height: 3em;
            resize: none;
            margin-left: 5%;
        }
        .share-list-item{
            float: left;
            margin-left: 1%;
        }


    </style>

    <div class="container-fluid" data-news-id="{{ current_news_values.id }}" style="width: 64.5%; border: solid 1px lightgrey; float: left;">

        <div class="tre" style="width: 100%;">

            <h1 class="page-header" style="margin: 0 5%;">
                {{ current_news_values.news_title }}
            </h1>
            <div class="date-and-author" style="margin-left: 5%;">
                <h5>By
                    {% if current_news_values.id|get_news_portal == "SEVERY" %}
                        <a href="/search/?q={{ current_news_values.news_author }}">{{ current_news_values.news_author_id|get_article_author }}</a>
                    {% else %}
                        <a href="/search/?q={{ current_news_values.news_portal_name }}">{{ current_news_values.news_portal_name }}</a>
                    {% endif %}
                    &nbsp;{{ current_news_values.news_post_date.date }}</h5>
            </div>
        <div class="news-settings" style="height: 2em; width: 100%;">
            <div class="shares" style="margin-left: -6%; margin-top: -1%;">
                <ul style="list-style-type: none;">
                    <li class="share-list-item">
                        <div class="fb-share-button" data-layout="button"></div>
                    </li>
                    <li class="share-list-item">
                        <span class="share-vk">
                            <script type="text/javascript">
                                document.write(VK.Share.button(false,{type: "round_nocount", text: "Share on VK", eng: 1}));
                            </script>
                        </span>
                    </li>
                    <li class="share-list-item">
                        <span class="share-twitter">
                            <a href="https://twitter.com/share" class="twitter-share-button"{count} data-via="SendecNews">Tweet</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                        </span>
                    </li>
                    <li class="share-list-item">
                        <span class="share-linkedin">
                            <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
                            <script type="IN/Share" data-counter=""></script>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
            {% if current_news_values.news_main_cover != '' %}
                <div class="news-cover" style="margin-top: 0; height: 400px; background: url('/media/{{ current_news_values.news_main_cover }}') no-repeat center;">
                </div>
            {% endif %}
            <div class="news-post-text" style="margin: 0 15%;">
                {{ current_news_values.news_post_text|safe|linebreaks }}
            </div>

            <div class="nav-bar" style="margin-left: 63%;">
                <ul class="list-inline">
                    <li>
                        <span data-news-id="{{ current_news_values.id }}"
                              class="news_likes"
                              id="add_like_{{ current_news_values.id }}"
                              onclick="add_like_news('{{ current_news_values.id }}');">
                            <div class="liked" style="float: left;">
                                {% if liked == False %}
                                    Likes:
                                {% else %}
                                    <!-- Break like -->
                                    <span
                                        data-news-id="{{ current_news_values.id }}"
                                        class="break_like"
                                        id="break_like_{{ current_news_values.id }}"
                                        onclick="">Liked</span>
                                {% endif %}
                            </div>
                        </span>&nbsp;
                        <span class="news_likes_amount_{{ current_news_values.id }}">
                            {{ like_amount }}
                        </span>
                    </li>&nbsp;|
                    <li>
                        <span
                                data-news-id="{{ current_news_values.id }}"
                                class="news_dislikes"
                                id="add_dislike_{{ current_news_values.id }}"
                                onclick="add_dislike_news('{{ current_news_values.id }}');">
                            <div class="disliked" style="float: left;">
                                {% if disliked == False %}
                                    Dislikes:
                                {% else %}
                                    <!-- Break dislike -->
                                    <span
                                        data-news-id="{{ current_news_values.id }}"
                                        class="break_dislike"
                                        id="break_dislike_{{ current_news_values.id }}"
                                        onclick="">Disliked</span>
                                {% endif %}
                            </div>
                        </span>&nbsp;
                        <span class="news_dislikes_amount_{{ current_news_values.id }}">
                            {{ dislike_amount }}
                        </span>
                    </li>&nbsp;|
                    <li>
                        <div class="sharing">
                            <a onclick="javascript:SharePopUpShow();">
                                SHARE
                            </a>
                        </div>
                    </li>&nbsp;|
                    <li>
                        {% if current_news_values.news_post_date.day < current_day %}
                            {{ current_news_values.news_post_date.date }}
                        {% else %}
                            {{ current_news_values.news_post_date.time }}
                        {% endif %}
                    </li>
                    {% if current_news_values.news_event == True %}
                        <li>
                            {% if current_news_values.news_event_date.day <= current_day %}
                                <!-- Change to "news_event_date" -->
                                Add&nbsp;to&nbsp;calendar
                            {% else %}
                                Event
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            </div>

            <!--<button
                    id="comments-load-button"
                    style="margin-left: 45%;"
                    data-category="{{ current_news_values.news_category_id }}"
                    data-news="{{ current_news_values.id }}">
            Comments
            </button>-->

            <div id="comments-here" style="display: block;">


                <div class="comments-block">
                    {% if username %}
                    <!-- COMMENTS -->
                        <form
                                id="comments_form"
                                style="margin-top: 1%; margin-left: 4%;"
                                action="/news/send/cat={{ current_news_values.news_category_id }}&id={{ current_news_values.id }}/"
                                method="post"
                                onblur="document.getElementById('id_comments_text_submit').style.display='none';">
                            {% csrf_token %}
                            <div class="user-photo" style="float: left; width: 3em; height: 3em; border-radius: 5px; background: url('/media/{{ username.profile.user_photo }}') no-repeat center; background-size:cover;">
                            </div>

                            <textarea
                                    id="id_comments_text"
                                    name="comments_text"
                                    maxlength="512"
                                    rows="12"
                                    placeholder="Leave&nbsp;your&nbsp;comment..."
                                    onfocus="document.getElementById('id_comments_text_submit').style.display='block';
                                    this.style.height='5em'"
                                    onblur="this.style.height='3em';"
                                    onkeydown="if(event.keyCode == 13 && !event.shiftKey){
                                        event.preventDefault();
                                        $('#comments_form').submit();
                                    }
                                    else{
                                        if(event.keyCode == 27){
                                            this.onblur();
                                        }
                                    }"
                            ></textarea>
                            <input id="id_comments_text_submit" type="submit" value="Send" style="margin-left: 85%; display: none;">
                        </form>
                    {% else %}
                        <div class="announce" style="text-align: center">
                            To&nbsp;leave&nbsp;comments&nbsp;you&nbsp;have&nbsp;to&nbsp;
                            <span onclick="javascript:UserAuthPopUpShow();"
                                  class="sign-in-to-comments"
                                  style="color: #5bc0de;"
                                  onmouseover="this.style.cursor='pointer';">
                                sign&nbsp;in
                            </span>
                        </div>
                    {% endif %}

                    {% if comments_total|length > 0 %}
                        <div id="comments_block" data-current-news-id="{{ current_news_values.id }}" class="comments" style="width: 87.5%; margin-left: 4%;">
                            {% for current_comment in comments_total %}
                                <div class="current_comment" style="">
                                    {% if current_comment.comments_author_id|get_user_photo != '' %}
                                        <div class="current_comment_author_photo"
                                             style="width: 3em; height: 3em; border-radius: 5px; float: left; background: url('/media/{{ current_comment.comments_author_id|get_user_photo }}') no-repeat center; background-size: cover;"></div>
                                    {% endif %}
                                    <div class="current_comment_auhor">
                                        {{ current_comment.comments_author_id|get_username }}&nbsp;|&nbsp;{{ current_comment.comments_post_date.date }}
                                    </div>
                                    <div class="current_comment_text" style="margin-left: 10%;">
                                        {{ current_comment.comments_text|safe|linebreaks }}
                                    </div>
                                    <div class="current_comment_info" style="margin-left: 60%;">
                                        <span
                                                id="span_show_reply_form"
                                            onclick="$('#id_reply_text').val('{{ current_comment.comments_author_id|get_username }},&nbsp;');
                                                    document.getElementById('reply_form_comment_{{ current_comment.id }}').style.display='block';
                                                    document.getElementById('reply_form__comment_{{ current_comment.id }}').onfocus();"
                                        >Reply</span>&nbsp;|
                                        Likes:&nbsp;{{ current_comment.comments_likes }}&nbsp;|
                                        Dislikes:&nbsp;{{ current_comment.comments_dislikes }}
                                    </div>
                                    <form id="reply_form_comment_{{ current_comment.id }}"
                                          style="display: none;"
                                          action="/news/reply/nid={{ current_news_values.id }}&cid={{ current_comment.id }}/"
                                          method="post">
                                            {% csrf_token %}
                                            <textarea
                                                    autofocus
                                                    id="id_reply_text"
                                                    cols="83"
                                                    rows="10"
                                                    name="reply_text"
                                                    maxlength="512"
                                                    wrap="soft"
                                                    placeholder="Leave&nbsp;your&nbsp;reply..."
                                                    onfocus="document.getElementById('id_reply_text_submit_{{ current_comment.id }}').style.display='block';
                                                             this.style.height='5em'"
                                                            onblur="document.getElementById('reply_form_comment_{{ current_comment.id }}').style.display='none'"
                                                    onkeydown="if(event.keyCode == 13 && !event.shiftKey){
                                                        event.preventDefault();
                                                        $('#reply_form_comment_'+'{{ current_comment.id }}').submit();
                                                    }
                                                    else{
                                                        if(event.keyCode == 27){
                                                            this.onblur();
                                                        }
                                                    }"
                                            ></textarea>
                                            <input id="id_reply_text_submit_{{ current_comment.id }}" type="submit" value="Reply" style="margin-left: 92%;">
                                        </form>
                                </div>

                                <!-- REPLIES -->
                                <div class="replies" style="margin-left: 5%;">
                                    {% for current_reply in replies_total %}
                                        {% if current_reply.comment_attached_id == current_comment.id %}
                                            <div class="current_reply" style="margin-top: 1%; border: solid 1px blue;">
                                                <div class="reply_author">
                                                    {{ current_reply.reply_author_id|get_username }}
                                                </div>
                                                <div class="reply_text" style="margin-left: 5%;">
                                                    {{ current_reply.reply_text|safe|linebreaks }}
                                                </div>
                                                <div class="reply_configs" style="margin-left: 58%;">
                                                    <span
                                                    onclick="$('id_reply_textarea').val('123');
                                                            document.getElementById('reply_form_{{ current_reply.id }}').style.display='block';"
                                                    >Reply</span>&nbsp;|
                                                    Likes:&nbsp;{{ current_reply.reply_likes }}&nbsp;|
                                                    Dislikes:&nbsp;{{ current_reply.reply_dislikes }}&nbsp;|
                                                    {% if current_reply.reply_post_date.day == current_day %}
                                                        {{ current_reply.reply_post_date.time }}
                                                    {% else %}
                                                        {{ current_reply.reply_post_date.date }}
                                                    {% endif %}
                                                    <span
                                                            name="delete-reply"
                                                            onclick="location.href='/news/rd={{ current_reply.id }}/';">
                                                        <a>delete</a></span>
                                                </div>
                                            </div>

                                            <form
                                                id="reply_form_{{ current_reply.id }}"
                                                style="display: none;"
                                                action="/news/reply/nid={{ current_news_values.id }}&cid={{ current_comment.id }}/"
                                                method="post">
                                                {% csrf_token %}
                                                <textarea
                                                        autofocus
                                                        id="id_reply_textarea"
                                                        cols="83"
                                                        rows="10"
                                                        name="reply_text"
                                                        maxlength="512"
                                                        wrap="soft"
                                                        onfocus="document.getElementById('reply_form_second_{{ current_reply.id }}').style.display='block';
                                                             this.style.height='5em'"
                                                    onblur="document.getElementById('reply_form_second_{{ current_reply.id }}').style.display='none';
                                                            document.getElementById('reply_form_{{ current_reply.id }}').style.display='none'"
                                                    onkeydown="if(event.keyCode == 13 && !event.shiftKey){
                                                        event.preventDefault();
                                                        $('#reply_form_'+'{{ current_reply.id }}').submit();
                                                    }
                                                    else{
                                                        if(event.keyCode == 27){
                                                            this.onblur();
                                                        }
                                                    }"
                                                ></textarea>
                                                <input id="reply_form_second_{{ current_reply.id }}" type="submit" value="Reply" style="margin-left: 92%;">
                                            </form>
                                        {% endif %}

                                    {% endfor %}
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                {% endif %}
                </div>
            </div>

            {% if other_materials|length > 0 %}
                <hr style="height: 2px;" color="red" width="100%">
                Other&nbsp;materials&nbsp;of&nbsp;{{ current_news_values.news_category }}
                <div class="other-materials"
                     style="height: {% if other_materials|length <= 3 %} 25em {% elif other_materials|length <= 6 %} 52em {% elif other_materials|length <= 9 %} 77em {% elif other_materials|length <= 12 %} 103em {% endif %}">
                    {% for current_other in other_materials %}
                        <div class="current_rss_news_{{ i.id }}"
                                 style="width: 32%; height: 25em; margin-left: 1%; margin-top: 1%; float: left;">
                                <div class="title"><a href="/news/{{ current_other.news_category_id }}/{{ current_other.id }}/">{{ current_other.news_title }}</a></div>
                                <div class="portal" style="float: left;">By <a href="/search/?q={{ current_other.news_portal_name_id|get_portal_name }}">{{ current_other.news_portal_name_id|get_portal_name }}</a></div>
                                <div class="published">&nbsp;|&nbsp;{{ current_other.news_post_date.time }}</div>

                                <div class="news-image" style="background: url('/media/{{ current_other.news_main_cover }}') no-repeat center; width: 100%; height: 50%;">

                                </div>

                                <div class="description">{{ current_other.post_text|safe|striptags|truncatewords:"9" }}</div>
                                <div class="navigation" style="float: right;">Share&nbsp;|&nbsp;Like</div>
                            </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>


    <div class="right-side-block" style="margin-left: 65%; margin-right: 5%;">
        <div class="latest-news"
        style="border: 1px solid blue; box-shadow: 2px 2px 2px rgba(0,0,0,5);">
            <div class="latest-header" style="text-align: center;">
                Latest&nbsp;news
            </div>
            <div class="latest-titles">
                    {% for i in latest_news %}
                        <div class="latest-news"
                             onclick="location.href='/news/{{ i.news_category_id }}/{{ i.id }}/';">
                            <div class="latest-news-cover"
                                 style="float: left; height:70px; width: 100px; background: url('/media/{{ i.news_main_cover }}') no-repeat center; background-size: cover;">
                            </div>
                            <div class="latest-news-content">
                                <span class="time" style="color: blue;">
                                    {{ i.news_post_date.time }}
                                </span>
                                <span class="title"
                                      onmouseover="this.style.color='blue'; style.cursor='pointer';"
                                      onmouseout="this.style.color='black';"
                                      onclick="location.href='/news/{{ i.news_category_id }}/{{ i.id }}/';">
                                    {{ i.news_title }}
                                </span>
                            </div>
                        </div>
                        <hr width="100%">
                    {% endfor %}
            </div>
        </div>
        <div class="video-and-subs">
            {% include 'twitter.html' %}
        </div>

    </div>


{% endblock %}