{% extends 'index_beta.html' %}
{% load i18n %}
{% load my %}
{% load staticfiles %}
{% load thumbnail %}
{% block manager %}

    <style>
    .manager{
        position: relative;
        min-height: 300px;
    }
        #manager-portals{
            min-height: 300px;
             border: solid 1px lightgrey;
{#            width: 82%;#}
{#            margin-left: 1%;#}
            float: right;
            margin-bottom: 50px;
        }

        #left-control-portals{
            position: fixed;
            overflow-y: scroll;
            overflow-x: hidden;
            z-index: 989;
            height: 100%;
            margin-top: -5.5%;
            float: left;
            width: 16.1%;
            left: 0;
    }
    #manager-title{
        width: 100%;
        text-align: center;
    }

    #user-rss-table{
        width: 100%;
    }
    .td-rp-name{
        width: 25%;
    }
    .td-rp-description{
        width: 60%;
    }
    .td-rp-btn{
        width: 15%;
    }

    .current-rss-portal{
        height: 75px;
        margin-bottom: 2px;
        border-bottom: solid 1px lightgrey;
    }
    .current-rss-portal:hover{
        background: rgba(28, 244, 216, 0.15);
    }
    #manager-answer{
        width: 100%;
        font-family:Georgia, Times, "Times New Roman", serif;
        font-size: 16px;
        text-align: center;
    }
        .has-children a:hover{text-decoration: none;color: #F62A00;}
        #left-panel-main-title a:hover{text-decoration: none;color: #F62A00;}
        .sidebar-offcanvas{
            background-color: #F1F3CE;
            position: fixed;
            left: 0;
            top: 0;
            padding-top: 5%;
            height: 100%;
            overflow-y: scroll;
        }
        @media screen and (max-width: 767px) {
          .row-offcanvas {
            position: relative;
            -webkit-transition: all 0.25s ease-out;
            -moz-transition: all 0.25s ease-out;
            transition: all 0.25s ease-out;
          }
          .sidebar-offcanvas{right: -41.6%;}
          .sidebar-offcanvas{left:-41.6%;}
          .sidebar-offcanvas{position:absolute;top:0;width:41.6%;}
          #sidebar{padding-top:0;}
        }
        #side-list{padding-left:0;}
        #side-list > li.side-list-item{height: 40px; margin-bottom: 5px;}
        #side-list > li.side-list-item > a{}
        .side-text{color:black;}

    </style>


<div class=" manager">
    <div class="row row-centered">
        <!-- BOOTSTRAP NEW SIDEBAR -->
            <nav>
                <div class="col-xs-2 col-sm-2 col-md-2 sidebar-offcanvas fixed" id="sidebar" role="navigation">
                    <ul id="side-list" class="nav">
                        <li class="side-list-item active">
                            <a href="/news/usernews/">
                                <i class="fa fa-user"></i>
                                <span class="side-text">My Feed</span>
                            </a>
                        </li>
                        <li class="side-list-item">
                            <a href="/favourite/">
                                <i class="fa fa-thumbs-o-up"></i>
                                <span class="side-text">Saved articles</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="side-text">Portals</span>
                            </a>
                            <!-- user portals list-->
                            <ul class="nav">
                                {% for current_portal in user_rss_portals %}
                                    <li>
                                        <a style="cursor: pointer;" onclick="showCurrentPortalNews('{{ current_portal.portal_id|get_rss_verbose_name }}');">
                                            <span class="portal-favicon">
                                                <img src="{{ current_portal.portal_id|get_rss_portal_favicon }}" width="16px" height="16px" />
                                            </span>
                                            <span class="cprs">
                                                <span class="side-text">{{ current_portal.portal_id|get_rss_portal_name|truncatechars:15 }}</span>
                                            </span>
                                            {% if current_portal.portal_id|get_unread_news:username.id != 0 %}
                                                <span id="cprs-count-{{ current_portal.id }}" class="count">{{ current_portal.portal_id|get_unread_news:username.id|default:'' }}</span>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <!-- /user portals list -->
                        </li>
                        <hr width="100%">
                        <li class="side-list-item">
                            <a href="/news/manager/">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="side-text">{% trans 'Manage portals' %}</span>
                            </a>
                        </li>
                        <li class="side-list-item">
                            <a href="/news/browser/">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                <span class="side-text">{% trans 'Browse portals' %}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- /SIDEBAR -->
        <div class="swiper-bottom-nav text-center">
            <ul>
                <li style="display: inline-block; font-size: 20px;"><a href="/news/usrnews/">{% trans 'Private news' %}</a></li>&nbsp;*&nbsp;<li style="display: inline-block; font-size: 20px;"><a href="/news/browser/">{% trans 'Browser' %}</a></li>
            </ul>
        </div>
    {% if flavour != 'mobile' %}
        <div id="manager-portals-2" class="col-xs-10" style="float:right;">
            {% else %}
        <div id="manager-portals-2" class="col-xs-12" style="">
        {% endif %}
            <div id="manager-title">
                <h2>Manager</h2>
            </div>
            {% if user_rss_portals|length > 0 %}
                <table id="user-rss-table">
                <tr>
                    <th class="table-rss-name text-center">{% trans 'Portal name' %}</th>
                    <th class="table-rss-describe text-center">{% trans 'Description' %}</th>
                    <th class="table-rss-configs text-center">{% trans 'Configs' %}</th>
                </tr>
                    {% for i in user_rss_portals %}
                        <tr class="current-rss-portal"
                            id="user-rss-{{ i.id }}">
                            <td class="td-rp-name col-md-12 col-xs-12">
                                <div>
                                    <img style="float: left;" src="" width="32px" height="32px"/>
                                    <div style="">{{ i.portal_id|get_rss_portal_name }}</div>
                                </div>
                            </td>
                            <td class="td-rp-description col-md-12"><div>{{ i.portal_id|get_description }}</div></td>
                            <td class="td-rp-btn"><div><button onclick="removeUserRssPortal('{{ username.profile.uuid }}', '{{ i.portal_id }}', '{{ i.id }}');"
                                             class="btn btn-success">{% trans 'unfollow' %}</button></div></td>
                        </tr>
                    {% endfor %}
                </table>
        {% else %}
            <div id="manager-answer">
                {% trans 'You have no one portals yet. Would you like pick your own collection?' %}

                {% trans 'You just need to' %} <a href="/news/browser/">{% trans 'open' %}</a> {% trans 'portals browser.' %}

                <br>{% trans 'If you have any questions or offers,' %} <a href="/about/contacts/">{% trans 'write' %}</a> {% trans 'to us, please.' %}
            </div>
        {% endif %}
        </div>
    </div>
</div>
     <script>
        function changeStatePortals(element){
            if (!$(element).parent().hasClass('active')) {
                $(element).parent().addClass('active');
            }
            else {
                $(element).parent().removeClass('active');
            }
        }

        function removeUserRssPortal(uuid,pid, id){
            $.ajax({
                url: "/news/rrp&uid="+uuid+"&pid="+pid+"/",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(result){
                    alertify.error("{% trans 'Subscription remove' %}");
                    $("#user-rss-"+id).slideToggle();
                    $("#left-bar-portal-"+id).slideUp('slow').detach();
                }
            })
        }
    </script>
{% endblock %}