{% extends 'index_beta.html' %}
{% load i18n %}
{% load my %}
{% load staticfiles %}
{% load thumbnail %}
{% block manager %}
<div class="manager">
    <div class="row row-centered">
        <nav>
            <div class="col-xs-2 col-sm-2 col-md-2 sidebar-offcanvas fixed" id="sidebar" role="navigation">
                <ul id="side-list" class="nav">
                    <li class="side-list-item active">
                        <a href="/news/usernews/">
                            <i class="fa fa-user"></i>
                            <span class="side-text">{% trans 'My feed' %}</span>
                        </a>
                    </li>
                    <li class="side-list-item">
                        <a href="/favourite/">
                            <i class="fa fa-thumbs-o-up"></i>
                            <span class="side-text">{% trans 'Saved articles' %}</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="side-text">{% trans 'Portals' %}</span>
                        </a>
                        <ul class="nav">
                            {% for current_portal in user_rss_portals %}
                                <li>
                                    <a href="" onclick="showCurrentPortalNews('{{ current_portal.portal_id|get_rss_verbose_name }}'); return false;">
                                        <span class="portal-favicon">
                                            <img src="{{ current_portal.portal_id|get_rss_portal_favicon }}" width="16px" height="16px" />
                                        </span>
                                        <span class="cprs">
                                            <span class="side-text">{{ current_portal.portal_id|get_rss_portal_name|truncatechars:15 }}</span>
                                        </span>
                                        {% if current_portal.portal_id|get_unread_news:username.id != 0 %}
                                            <span id="cprs-count-{{ current_portal.id }}" class="count">{{ current_portal.portal_id|get_unread_news:username.id|default:'' }}</span>
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="side-list-item">
                        <a href="/news/manager/">
                            <span class="glyphicon glyphicon-cog"></span>
                            <span class="side-text">{% trans 'Manage portals' %}</span>
                        </a>
                    </li>
                    <li class="side-list-item">
                        <a href="/news/browser/">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            <span class="side-text">{% trans 'Browse portals' %}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    {% if flavour == 'mobile' %}
        <div class="swiper-bottom-nav text-center">
            <ul>
                <li class="sbn-item"><a href="/news/usrnews/">{% trans 'Private news' %}</a></li>&nbsp;*&nbsp;
                <li class="sbn-item"><a href="/news/browser/">{% trans 'Browser' %}</a></li>
            </ul>
        </div>
    {% endif %}

    {% if flavour != 'mobile' %}
        <div id="manager-portals-2" class="col-xs-10" style="float:right;">
        <div class="google-advert" style="width:920px;margin:auto auto;height:98px;background:lightblue"></div>
    {% else %}
        <div id="manager-portals-2" class="col-xs-12">
    {% endif %}
            <div id="manager-title">
                <h2>{% trans 'Manager' %}</h2>
            </div>
            {% if user_rss_portals|length > 0 %}
                <table id="user-rss-table">
                <tr>
                    <th class="table-rss-name text-center">{% trans 'Portal name' %}</th>
                    <th class="table-rss-describe text-center">{% trans 'Description' %}</th>
                    <th class="table-rss-configs text-center">{% trans 'Configs' %}</th>
                </tr>
                    {% for i in user_rss_portals %}
                        <tr class="current-rss-portal"
                            id="user-rss-{{ i.id }}">
                            <td class="td-rp-name col-md-12 col-xs-12">
                                <div>
                                    <img style="float: left;" src="" width="32px" height="32px"/>
                                    <div style="">{{ i.portal_id|get_rss_portal_name }}</div>
                                </div>
                            </td>
                            <td class="td-rp-description col-md-12"><div>{{ i.portal_id|get_description }}</div></td>
                            <td class="td-rp-btn"><div><button onclick="removeUserRssPortal('{{ username.profile.uuid }}', '{{ i.portal_id }}', '{{ i.id }}');"
                                             class="btn btn-success">{% trans 'unfollow' %}</button></div></td>
                        </tr>
                    {% endfor %}
                </table>
        {% else %}
            <div id="manager-answer">
                {% trans 'You have no one portals yet. Would you like pick your own collection?' %}
                {% trans 'You just need to' %} <a href="/news/browser/">{% trans 'open' %}</a> {% trans 'portals browser.' %}
                <br>{% trans 'If you have any questions or offers,' %} <a href="/about/#get-in-touch">{% trans 'write' %}</a> {% trans 'to us, please.' %}
            </div>
        {% endif %}
        </div>
    </div>
</div>
     <script>
        function changeStatePortals(element){
            if (!$(element).parent().hasClass('active')) {
                $(element).parent().addClass('active');
            }
            else {
                $(element).parent().removeClass('active');
            }
        }
        function removeUserRssPortal(uuid,pid, id){
            $.ajax({
                url: "/news/rrp&uid="+uuid+"&pid="+pid+"/",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(result){
                    alertify.error("{% trans 'Subscription remove' %}");
                    $("#user-rss-"+id).slideToggle();
                    $("#left-bar-portal-"+id).slideUp('slow').detach();
                }
            })
        }
    </script>
{% endblock %}