{% block news_block %}
{% load staticfiles %}

    <div class="news-block" style="">
        <!-- first block -->
        {% include 'politics.html' %}
        <!-- Second block -->
        {% include 'society.html' %}
        <!-- Third block -->
        {% include 'economics.html' %}
        <!-- Forth block -->
        {% include 'culture.html' %}
        <!-- Fiveth block -->
        {% include 'sport.html' %}
        <!-- Sixth block -->
        {% include 'science.html' %}
        <!-- Seventh block -->
        {% include 'technology.html' %}
        <!-- Last block -->
        {% include 'auto.html' %}
    </div>

{% endblock %}