{% load endless %}
{% load staticfiles %}
{% load my %}
{% load i18n %}
{% load thumbnail %}
{% if flavour != 'mobile' %}
    <div class="dyn-news-2 container">
        {% paginate 30 total_news %}
        <div id="top-4-news"  class="col-xs-12" style="float: left;">
            {% for i in total_news %}
                <div class="col-md-4" >
                    <div class="current_news news-news">
                        <div class="cat">
                            <a href="/news/{{ i.id|get_news_category }}">
                                {{ i.id|get_news_category|upper }}
                            </a>
                        </div>
                        {% if i.news_main_cover != '' %}
                            <a href="/news/{{ i.news_post_date.year }}/{{ i.news_post_date.month }}/{{ i.news_post_date.day }}/{{ i.id }}/{{ i.slug }}">
                                <div class="middle-news-cover">
                                    <img src="{% thumbnail i.news_main_cover '310x210' crop='center'%}" />
                                </div>
                            </a>
                        {% endif %}
                        <div class="news-title">
                            <a href="/news/{{ i.news_post_date.year }}/{{ i.news_post_date.month }}/{{ i.news_post_date.day }}/{{ i.id }}/{{ i.slug }}">
                                <b>
                                    {% if lang == 'eng' %}
                                        {{ i.news_title_english }}
                                    {% elif lang == 'rus' %}
                                        {{ i.news_title_russian }}
                                    {% else %}
                                        {{ i.news_title_chinese }}
                                    {% endif %}
                                </b>
                            </a>
                        </div>
                        <div class="params">
                            <i>{% trans 'By' %}&nbsp;<span class="article-author">
                                <a href="/profile/m/{{ i.news_author }}/">{{ i.news_author }}</a>
                            </span>&nbsp;|&nbsp;<span class="publushed">{{ i.news_post_date.date|date }}</span></i>
                        </div>
                        <div class="news-text">
                            {% if lang == 'eng' %}
                                {{ i.teaser_english|truncatechars:"128" }}
                            {% elif lang == 'rus' %}
                                {{ i.teaser_russian|truncatechars:"128" }}
                            {% else %}
                                {{ i.teaser_chinese|truncatechars:"128" }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if forloop.last %}
                    <div class="row row-centered col-xs-12 pull-center" style="height: 90px">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Main Page Top -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3573531709355550"
     data-ad-slot="7352515427"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% show_more %}
{% else %}
    <div class="dyn-news-2 container" style="height: inherit; margin-bottom: 5%; margin-left: -3%;">
        {% paginate 30 total_news %}
        <div id="paginate-list" style="float: left;">
            {% for i in total_news %}
                <div class="container-fluid col-md-6 mobile-container">
                    <div class="current_news_mas_mobile news-news mobile-news">
                        <a href="/news/{{ i.news_post_date.year }}/{{ i.news_post_date.month }}/{{ i.news_post_date.day }}/{{ i.id }}/{{ i.slug }}">
                            <div class="middle-news-cover" style="/* float: left; *//* cursor: pointer; */">
                                {% thumbnail i.news_main_cover '100x100' crop='center' as im %}
                                    <img src="{{ im.url }}" class="col-xs-6 mobile-top"/>
                                {% endthumbnail %}
                            </div>
                        </a>
                        <div class="title total-container col-xs-8" id="title-{{ i.id }}" style="float: right;">
                            <div class="news-title-mobile" style="line-height: 0.9em; margin-top: 0;">
                                <a class="mobile-title" href="/news/{{ i.news_post_date.year }}/{{ i.news_post_date.month }}/{{ i.news_post_date.day }}/{{ i.id }}/{{ i.slug }}">
                                    <b>
                                        {% if lang == 'eng' %}
                                            {{ i.news_title_english }}
                                        {% elif lang == 'rus' %}
                                            {{ i.news_title_russian }}
                                        {% else %}
                                            {{ i.news_title_chinese }}
                                        {% endif %}
                                    </b>
                                </a>
                            </div>
                        </div>
                        <div class="params total-container col-xs-8" style="float: right;">
                            <i>{% trans 'By' %}&nbsp;<span class="article-author">
                                <a href="/profile/m/{{ i.news_author }}/">{{ i.news_author }}</a>
                            </span>
                                &nbsp;|&nbsp;<span class="publushed">{{ i.news_post_date.date|date }}</span></i>
                        </div>
                    </div>
                </div>
                <hr width="100%">
            {% endfor %}
        </div>
    </div>
    {% show_more %}
{% endif %}
<hr width="100%">