{% load endless %}
{% load staticfiles %}
{% load my %}
{% load thumbnail %}
<style>
        .sect{width: 23%; margin-bottom: 1%;}
{#        .current_news{box-shadow: 0 0 10px rgba(0,0,0,0.5); height: 350px; width: 100%; float: left;}#}
        .news-title{font-size: 17px; margin-top: 1.5%; font-family: Georgia, Times, "Times New Roman", serif}
        .main-page-news-cover{max-width: 100%; max-height: 100%; height: 200px; background: url('/media/{{ i.news_main_cover }}') no-repeat center; background-size: cover;}
        .text_post{width: 100%;}
</style>
<div class="dyn-news" style="height: inherit">
{% paginate 32 total_news %}
{% for i in total_news %}
    <div class="sect-2">
    {% if i.news_main_cover == '' %}
        <div class="current_news special-pos"
             style="width: 32.2%; margin-right: 1%; margin-bottom: 3%;">
        {% else %}
        <div class="current_news_mas special-pos"
             style="width: 32.2%; margin-right: 1%; margin-bottom: 3%;">
        {% endif %}
            <div class="category-name">
                <a class="category-link" href="/news/{{ i.id|get_news_category }}/">
                    <span class="category-name-content">
                        &nbsp;{{ i.id|get_news_category }}&nbsp;
                    </span>
                </a>
            </div>
            {% if i.news_main_cover != '' %}
                <a href="/news/{{ i.news_category_id }}/{{ i.id }}/">
                    <div class="total-news-cover cover-hover"
                         style="max-width: 100%; max-height: 100%; height: 210px;">
    {#                    background: url('/media/{{ i.news_main_cover }}') no-repeat center; background-size: cover;">#}
    {#                    <div class="mask"></div>#}
                    <img src="{% thumbnail i.news_main_cover '350x210' %}" />
                    </div>
                </a>
            {% endif %}
            <div class="title" style="margin-top: 5%;">
                <a class="news-title" href="/news/{{ i.news_category_id }}/{{ i.id }}/">
                    {{ i.news_title }}
                </a>
            </div>
            <div class="text_post">
                {{ i.news_post_text|safe|striptags|truncatewords_html:"12" }}
            </div>
        </div>
    </div>
{#    <br><br><br><br>#}
{#    {{ forloop.counter0 }}#}
{% endfor %}
</div>
{% show_more %}
<script>
    $('.dyn-news').masonry({
        itemSelector: '.special-pos'
    })
</script>