{% extends 'index_new.html' %}
{% load staticfiles %}
{% block reviews %}

    <div class="container-fluid" style="border: solid 1px lightgrey;">
        <div class="row">
            <div id="reviews-news" style="border: solid 1px red; width: 95%; margin-left: 1%;">
                <div class="panel panel-default">
                    <div class="345" style="width: 100%;">
                        reviews
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}