{% load endless %}
{% load my %}
{% load staticfiles %}
{% load jsonate_tags %}
{% load thumbnail %}

<div class="any40items" style="height: inherit;">

{% paginate 20 new_user_news %}
    {% for i in new_user_news %}
        {% if flavour != 'mobile' %}
            <div class="sect-new" style="cursor: pointer;">
                <div class="current_rss_news rss-rss"
                     id="rss_id_{{ i.id }}"
                     data-indx="{{ i.nuid }}"
                     data-current-rss-news-id="{{ i.id }}">
        {% else %}
            <div class="sect-new" style="cursor: pointer;">
                <div class="current_rss_news rss-rss"
                     style="width: 100%;"
                     id="rss_id_{{ i.id }}"
                     data-indx="{{ i.nuid }}"
                     data-current-rss-news-id="{{ i.id }}">
        {% endif %}
            <div class="portal-name">
                <span class="portal-name-content"
                      onclick="showCurrentPortalNews('{{ i.portal_name_id|get_rss_verbose_name }}');">
                    &nbsp;{{ i.portal_name_id|get_rss_portal_name }}&nbsp;
                </span>
            </div>
                {% if i.id|get_rss_news_cover != '' %}
                    <div class="news-image"
                         onclick="RssPreviewPopUpShow('{{ i.id }}')"
                         style="background: url({{ i.id|get_rss_news_cover }}) no-repeat center; background-size: cover;  width: 100%; height: 50%;">

                    </div>
                {% endif %}
            {% if i.id|check_read_rss:username.id == True %}
                <div class="rss-title current-title rss-title-read"
                     id="rss-title-{{ i.id }}"
                     onclick="RssPreviewPopUpShow('{{ i.id }}')">
            {% else %}
                    <div class="rss-title current-title"
                     id="rss-title-{{ i.id }}"
                     onclick="RssPreviewPopUpShow('{{ i.id }}')">
            {% endif %}
                    <b>{{ i.title|safe|striptags }}</b>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
    {% show_more %}
<script>$('.any40items').masonry({itemSelector: '.rss-rss'});</script>