{% extends 'index_new.html' %}
{% load staticfiles %}
{% block space %}

    <div class="container-fluid" style="border: solid 1px lightgrey;">
            <div id="space-news"
                 style="border: solid 1px red; width: 70%; margin-left: 1%;"
                 onclick="location.href='/news/{{ top_space_news.news_category_id }}/{{ top_space_news.id }}/';">
                <div class="top-technologies-content" style="opacity:1; width: 100%; height: 300px; background: url('/media/{{ top_space_news.news_main_cover }}') no-repeat center;"></div>
                <div class="bn-title" style="z-index: 999; position: absolute; margin-top: -8%; width: 50%; background-color: #a6e1ec; opacity: 0.75;">
                    <span class="bn-title-text" style="margin-left: 5%; font-size: 20px; color: blue;">
                        {{ top_space_news.news_title }}
                    </span>
                </div>
            </div>

            <div id="space-news" style="border: solid 1px red; width: 70%; margin-left: 1%; height: auto; float: left;">
                {% for current_space_news in space_news %}
                    <div id="news-{{ current_space_news.id }}" style="float: left; width: 48%; height: 300px; border: solid 1px blue; margin: 0 1%;">
                        <div class="title">
                            <a href="/news/{{ current_space_news.news_category_id }}/{{ current_space_news.id }}/">
                                {{ current_space_news.news_title }}
                            </a>
                        </div>
                        <div class="date-author">
                            By&nbsp;<a href="/search/?q={{ current_space_news.news_portal_name }}">{{ current_space_news.news_portal_name }}</a>&nbsp;|&nbsp;
                            {{ current_space_news.news_post_date }}
                        </div>
                        <div onmouseover="this.style.cursor='pointer';" onclick="location.href='/news/{{ current_space_news.news_category_id }}/{{ current_space_news.id }}/';" class="image" style="opacity:1; width: 100%; height: 150px; background: url('{% static 'static/img/bn-2.png' %}') no-repeat center;"></div>
                        <div class="text">
                            {{ current_space_news.news_post_text|safe|truncatewords:"12" }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="right-side" style="width: 28%; border: solid 1px orange; float: right;">
                {% include 'twitter.html' %}
            </div>
    </div>

    {% include 'footer.html' %}

{% endblock %}