{% load staticfiles %}
{% load my %}
{% load endless %}
{% load cache %}
{% block politics %}
    <!-- class names for covers -->
    <style>
        .ash{width: 95%; margin-left: 1%;}
        .total-news-block{width: 100%;}

        #latest-news{float: left; width: 68%;margin-left: 1%; height: 300px; border: solid 1px lightgrey; position:relative;}
        .top-entertainment-content{display: block; opacity:1;height: 300px;}
        .bn-title{
            bottom: 50px;
            position: absolute;
            z-index: 999;
            width: 70%;
            background-color: white;
            opacity: 0.75;
            box-sizing: border-box;
            display: block;
        }
        .bn-title-text{margin-left: 5%;font-size: 20px;color: blue;}


        .bn-right-nav{float: right; width: 30%;}
        #main-container{width:325px; height: 300px; overflow-y: auto; overflow-x: hidden;}
        #container{width:325px;height:120px;}
        .recently-news{width: 100%;}
        .sect{width: 31%; margin-top: 1%;}
        .current_news{box-shadow: 0 0 10px rgba(0,0,0,0.5); height: 350px; width: 100%; float: left;}

        .news-title{font-size: 17px; margin-top: 1.5%; font-family: Georgia, Times, "Times New Roman", serif}
{#        .middle-news-cover{max-width: 100%; max-height: 100%; height: 210px; background: url('/media/{{ current_middle_news.news_main_cover }}') no-repeat center; background-size: cover;}#}
{#        .interest-news-cover{max-height: 100%; max-width: 100%; height: 200px; background: url('/media/{{ current_interest.news_main_cover }}') no-repeat center; background-size:cover;}#}
{#        .bottom-news-cover{max-width: 100%; max-height: 100%; height: 210px; background: url('/media/{{ current_bottom_news.news_main_cover }}') no-repeat center; background-size: cover;}#}
        .text_post{width: 100%;}
        .media{height: inherit;}
        .latest-reviews{height: 500px;}
        .left-bar-videos{margin-left: 0.9%; float: left; width: 70%; height: 100%;}
        .right-bar-videos{width: 29%; float: right;}
        .recently-news-other{width: 100%;}
        .sect{width: 31%; margin-top: 1%;}
        .current_news{position: relative; box-shadow: 0 0 10px rgba(0,0,0,0.5); height: 350px; width: 100%; float: left;}
        .category-name{
            position: absolute;
            z-index: 900;
            margin-top: -1%;
        }
        .category-name-content{
            background-color: blue;
            color: white;
            font-family: Georgia, Times, "Times New Roman", serif;
            text-transform: uppercase;
        }
    .category-link:hover{
        text-decoration: none;
    }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="ash">
                <div class="panel panel-default">
                    <div class="total-news-block" >
                        <div class="breaking-news">
                            <div class="bn">


                                <div id="latest-news">
                                    <img class="top-entertainment-content"
                                         width="100%"
                                         src="/media/{{ breaking_news.news_main_cover }}"
                                         onclick="location.href='/news/{{ breaking_news.news_category_id }}/{{ breaking_news.id }}/';" />
                                    <div class="bn-title">
                                        <span class="bn-title-text">
                                            {{ breaking_news.news_title }}
                                        </span>
                                    </div>
                                </div>


                                <div class="bn-right-nav">
				                    <div id='main-container'>
					                    <div id="container"></div>
                                        <a id='adv_AAPL' class='adv_link' rel='nofollow' href='http://amigobulls.com/stocks/AAPL/stockcharts' title='advanced AAPL stock chart'></a>
                                        <a id='adv_FB' class='adv_link' rel='nofollow' href='http://amigobulls.com/stocks/FB/stockcharts' title='advanced FB stock chart'></a>
                                        <a id='adv_GOOG' class='adv_link' rel='nofollow' href='http://amigobulls.com/stocks/GOOG/stockcharts' title='advanced GOOG stock chart'></a>
                                        <a id='adv_MSFT' class='adv_link' rel='nofollow' href='http://amigobulls.com/stocks/MSFT/stockcharts' title='advanced MSFT stock chart'></a>
                                        <a id='adv_TSLA' class='adv_link' rel='nofollow' href='http://amigobulls.com/stocks/TSLA/stockcharts' title='advanced TSLA stock chart'></a>
                                        <a id='adv_AMZN' class='adv_link' rel='nofollow' href='http://amigobulls.com/stocks/AMZN/stockcharts' title='advanced AMZN stock chart'></a>
                                        <a id='adv_TWTR' class='adv_link' rel='nofollow' href='http://amigobulls.com/stocks/TWTR/stockcharts' title='advanced TWTR stock chart'></a>
                                        <table id='chart_table'>
                                            <tr>
                                                <th>Symbol</th>
                                                <th>Closing&nbsp;Price</th>
                                                <th>Change(%)</th>
                                            </tr>
                                            <tr id="AAPL" class="ticker_tr pointerCursor" onclick="getTickChart('AAPL')">
                                                <td>
                                                    <a rel='nofollow' class='tickerblue' href='http://amigobulls.com/stocks/AAPL'>AAPL</a>
                                                </td>
                                                <td class='tick_val'></td>
                                                <td class='tick_change'></td>
                                            </tr>
                                            <tr id='FB' class='ticker_tr pointerCursor' onclick="getTickChart('FB')">
                                                <td>
                                                    <a rel='nofollow' class='tickerblue' href='http://amigobulls.com/stocks/FB'>FB</a>
                                                </td>
                                                <td class='tick_val'></td>
                                                <td class='tick_change'></td>
                                            </tr>
                                            <tr id='GOOG' class='ticker_tr pointerCursor' onclick="getTickChart('GOOG')">
                                                <td>
                                                    <a rel='nofollow' class='tickerblue' href='http://amigobulls.com/stocks/GOOG'>GOOG</a>
                                                </td>
                                                <td class='tick_val'></td>
                                                <td class='tick_change'></td>
                                            </tr>
                                            <tr id='MSFT' class='ticker_tr pointerCursor' onclick="getTickChart('MSFT')">
                                                <td>
                                                    <a rel='nofollow' class='tickerblue' href='http://amigobulls.com/stocks/MSFT'>MSFT</a>
                                                </td>
                                                <td class='tick_val'></td>
                                                <td class='tick_change'></td>
                                            </tr>
                                            <tr id='TSLA' class='ticker_tr pointerCursor' onclick="getTickChart('TSLA')">
                                                <td>
                                                    <a rel='nofollow' class ='tickerblue' href='http://amigobulls.com/stocks/TSLA'>TSLA</a>
                                                </td>
                                                <td class='tick_val'></td>
                                                <td class='tick_change'></td>
                                            </tr>
                                            <tr id='AMZN' class='ticker_tr pointerCursor' onclick="getTickChart('AMZN')">
                                                <td>
                                                    <a rel='nofollow' class='tickerblue' href='http://amigobulls.com/stocks/AMZN'>AMZN</a>
                                                </td>
                                                <td class='tick_val'></td>
                                                <td class='tick_change'></td>
                                            </tr>
                                            <tr id='TWTR' class='ticker_tr pointerCursor' onclick="getTickChart('TWTR')">
                                                <td>
                                                    <a rel='nofollow' class='tickerblue' href='http://amigobulls.com/stocks/TWTR'>TWTR</a>
                                                </td>
                                                <td class='tick_val'></td>
                                                <td class='tick_change'></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="recently-news">
                            {% for current_middle_news in total_middle_news %}
                                <div class="sect">
                                    <div class="current_news"
                                         onmouseover="style.border='solid 0.2px blue';"
                                         onmouseout="style.border='';"
                                         onclick="location.href='/news/{{ current_middle_news.news_category_id }}/{{ current_middle_news.id }}/';">
                                        <div class="current_news-top" style="position:relative; height: 92%;">
                                            <div class="category-name">
                                                <a class="category-link" href="/news/{{ current_middle_news.id|get_news_category }}/">
                                                    <span class="category-name-content">
                                                        &nbsp;{{ current_middle_news.id|get_news_category }}&nbsp;
                                                    </span>
                                                </a>
                                            </div>
                                            {% if current_middle_news.news_main_cover != None %}
                                                <div class="middle-news-cover"
                                                     style="max-width: 100%; max-height: 100%; height: 210px; background: url('/media/{{ current_middle_news.news_main_cover }}') no-repeat center; background-size: cover;"></div>
                                            {% endif %}
                                            <div class="title">
                                                <div class="news-title">
                                                    {{ current_middle_news.news_title|safe }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="current_news_bottom">
                                            SEE LATER
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <hr width="100%">
                        <div class="media">
                        {% cache 86400 latest-reviews %}
                            <div class="latest-reviews">
                                <div class="left-bar-videos">
                                    <iframe width="100%" height="90%" src="https://www.youtube.com/embed/t4OEsI0Sc_s" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="right-bar-videos">
                                    {% for current_video in video_top %}
                                        <iframe width="100%" height="20%" src="{{ current_video.video }}" frameborder="0" allowfullscreen></iframe>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endcache %}
                            <hr width="100%">
                            <div class="recently-news">
                                RECENTLY&nbsp;NEWS<br>
                                <div class="">
                                    <div class="recently-news-other">
                                            {% for current_bottom_news in total_bottom_news %}
                                                <div class="sect">
                                                    <div class="current_news"
                                                         onmouseover="style.border='solid 0.2px blue';"
                                                         onmouseout="style.border='';"
                                                         onclick="location.href='/news/{{ current_bottom_news.news_category_id }}/{{ current_bottom_news.id }}/';">
                                                        <div class="category-name">
                                                            <a class="category-link" href="/news/{{ current_bottom_news.id|get_news_category }}/">
                                                                <span class="category-name-content">
                                                                    &nbsp;{{ current_bottom_news.id|get_news_category }}&nbsp;
                                                                </span>
                                                            </a>
                                                        </div>
                                                        {% if current_bottom_news.news_main_cover != '' %}
                                                            <div class="bottom-news-cover"
                                                                 style="max-width: 100%; max-height: 100%; height: 210px; background: url('/media/{{ current_bottom_news.news_main_cover }}') no-repeat center; background-size: cover;"></div>
                                                        {% endif %}
                                                        <div class="title">
                                                            <div class="news-title">
                                                                {{ current_bottom_news.news_title|safe }}
                                                            </div>
                                                        </div>
                                                        <div class="text_post">
                                                            {{ current_bottom_news.news_post_text|safe|striptags|truncatewords_html:"8" }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                </div>
                                <hr width="100%">
                                <div class="interested-news">
                                    <h4>Interesting&nbsp;articles</h4>
                                    <div id="interests">
                                        {% for current_interest in interest %}
                                            <div class="sect">
                                                <div class="current_news"
                                                     onmouseover="style.border='solid 0.2px blue';"
                                                     onmouseout="style.border='';"
                                                     onclick="location.href='/news/{{ current_interest.news_category_id }}/{{ current_interest.id }}/';">
                                                    <div class="cur-int-top" style="height: 92%;">
                                                        <div class="category-name">
                                                            <a class="category-link" href="/news/{{ current_interest.id|get_news_category }}/">
                                                                <span class="category-name-content">
                                                                    &nbsp;{{ current_interest.id|get_news_category }}&nbsp;
                                                                </span>
                                                            </a>
                                                        </div>
                                                        {% if current_interest.news_main_cover != '' %}
                                                            <div class="interest-news-cover"
                                                                 style="max-height: 100%; max-width: 100%; height: 200px; background: url('/media/{{ current_interest.news_main_cover }}') no-repeat center; background-size: cover;"></div>
                                                        {% endif %}
                                                        <div class="title">
                                                            <div class="news-title">
                                                                {{ current_interest.news_title|safe }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--<div class="source" style="margin-left: 2%;">
                                                        <a href="{{ current_interest.news_portal_name_id|get_portal_link }}">{{ current_interest.news_portal_name_id|get_portal_name }}</a>
                                                    </div>-->
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <hr width="100%">
                                <div class="load-more">
                                    <div class="endless_page_template">
                                        {% block js %}
                                            <script src="{% static 'static/js/jquery-latest.js' %}"></script>
                                            <script src="{% static 'static/js/endless-pagination.js' %}"></script>
                                            <script src="{% static 'static/js/endless_on_scroll.js' %}"></script>
                                            <script>
                                                $(document).ready(function() {
                                                    $.endlessPaginate({
                                                        paginateOnScroll: false,
                                                        paginateOnScrollChunkSize: 1
                                                    });
                                                });
                                            </script>
                                        {% endblock %}
                                        {% include page_template %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}