{% load staticfiles %}
{% block politics %}


    <div class="container-fluid">
        <div class="row">
            <div class="ash" style="width: 95%; margin-left: 1%;">
                <div class="panel panel-default">
                    <div class="345" style="width: 100%;">
                        <div class="breaking-news"
                             onclick="location.href='/news/{{ breaking_news.news_category_id }}/{{ breaking_news.id }}/';"
                             onmouseover="this.style.cursor='pointer';">
                            <div class="bn" style="height: 456px;">
                                <div class="bn-left" style="float: left; width: 70%;">
                                    <div id="image-main-news" style="width:100%; height: 450px; background: url('/media/{{ breaking_news.news_main_cover }}') no-repeat center; background-size: cover;"></div>
                                    <div class="bn-title" style="position: absolute; margin-top: -5%; width: 30%; background-color: #a6e1ec; opacity: 0.75;">
                                        <span class="bn-title-text" style="margin-left: 5%; font-size: 20px;">
                                            {{ breaking_news.news_title }}
                                        </span>
                                    </div>
                                </div>
                                <div class="bn-right-nav" style="float: right; width: 30%;">
				                    <div id='main-container' style="width:325px;">
					                    <div id="container" style="width:325px;height:120px;"></div>
                                        <a id='adv_AAPL' class='adv_link' rel='nofollow' href='http://amigobulls.com/stocks/AAPL/stockcharts' title='advanced AAPL stock chart'></a>
                                        <a id='adv_FB' class='adv_link' rel='nofollow' href='http://amigobulls.com/stocks/FB/stockcharts' title='advanced FB stock chart'></a>
                                        <a id='adv_GOOG' class='adv_link' rel='nofollow' href='http://amigobulls.com/stocks/GOOG/stockcharts' title='advanced GOOG stock chart'></a>
                                        <a id='adv_MSFT' class='adv_link' rel='nofollow' href='http://amigobulls.com/stocks/MSFT/stockcharts' title='advanced MSFT stock chart'></a>
                                        <a id='adv_TSLA' class='adv_link' rel='nofollow' href='http://amigobulls.com/stocks/TSLA/stockcharts' title='advanced TSLA stock chart'></a>
                                        <a id='adv_AMZN' class='adv_link' rel='nofollow' href='http://amigobulls.com/stocks/AMZN/stockcharts' title='advanced AMZN stock chart'></a>
                                        <a id='adv_TWTR' class='adv_link' rel='nofollow' href='http://amigobulls.com/stocks/TWTR/stockcharts' title='advanced TWTR stock chart'></a>
                                        <table id='chart_table'>
                                                <tr>
                                                    <th>Symbol</th>
                                                    <th>Closing&nbsp;Price</th>
                                                    <th>Change(%)</th>
                                                </tr>
                                                <tr id="AAPL" class="ticker_tr pointerCursor" onclick="getTickChart('AAPL')">
                                                    <td>
                                                        <a rel='nofollow' class='tickerblue' href='http://amigobulls.com/stocks/AAPL'>AAPL</a>
                                                    </td >
                                                    <td class='tick_val'></td>
                                                    <td class='tick_change'></td>
                                                </tr>
                                                <tr id='FB' class='ticker_tr pointerCursor' onclick="getTickChart('FB')">
                                                    <td>
                                                        <a rel='nofollow' class='tickerblue' href='http://amigobulls.com/stocks/FB'>FB</a>
                                                    </td>
                                                    <td class='tick_val'></td>
                                                    <td class='tick_change'></td>
                                                </tr>
                                                <tr id='GOOG' class='ticker_tr pointerCursor' onclick="getTickChart('GOOG')">
                                                    <td>
                                                        <a rel='nofollow' class='tickerblue' href='http://amigobulls.com/stocks/GOOG'>GOOG</a>
                                                    </td>
                                                    <td class='tick_val'></td>
                                                    <td class='tick_change'></td>
                                                </tr>
                                                <tr id='MSFT' class='ticker_tr pointerCursor' onclick="getTickChart('MSFT')">
                                                    <td>
                                                        <a rel='nofollow' class='tickerblue' href='http://amigobulls.com/stocks/MSFT'>MSFT</a>
                                                    </td>
                                                    <td class='tick_val'></td>
                                                    <td class='tick_change'></td>
                                                </tr>
                                                <tr id='TSLA' class='ticker_tr pointerCursor' onclick="getTickChart('TSLA')">
                                                    <td>
                                                        <a rel='nofollow' class ='tickerblue' href='http://amigobulls.com/stocks/TSLA'>TSLA</a>
                                                    </td>
                                                    <td class='tick_val'></td>
                                                    <td class='tick_change'></td>
                                                </tr>
                                                <tr id='AMZN' class='ticker_tr pointerCursor' onclick="getTickChart('AMZN')">
                                                    <td>
                                                        <a rel='nofollow' class='tickerblue' href='http://amigobulls.com/stocks/AMZN'>AMZN</a>
                                                    </td>
                                                    <td class='tick_val'></td>
                                                    <td class='tick_change'></td>
                                                </tr>
                                                <tr id='TWTR' class='ticker_tr pointerCursor' onclick="getTickChart('TWTR')">
                                                    <td>
                                                        <a rel='nofollow' class='tickerblue' href='http://amigobulls.com/stocks/TWTR'>TWTR</a>
                                                    </td >
                                                    <td class='tick_val'></td>
                                                    <td class='tick_change'></td>
                                                </tr>
                                            </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="recently-news" style="width: 100%;">
                            {% for current_middle_news in total_middle_news %}
                                <div class="sect" style="width: 31%; margin-top: 1%;">
                                    <div class="current_news"
                                         style="box-shadow: 0 0 10px rgba(0,0,0,0.5); height: 350px; width: 100%; float: left;"
                                         onmouseover="style.border='solid 0.2px blue';"
                                         onmouseout="style.border='';"
                                         onclick="location.href='/news/{{ current_middle_news.news_category_id }}/{{ current_middle_news.id }}/';">
                                        <div class="title">
                                            <h4 class="page-header" style="margin-top: 1.5%;">
                                                {{ current_middle_news.news_title }}
                                            </h4>
                                        </div>
                                        <div class="main-page-news-cover" style="height: 200px; background: url('/media/{{ current_middle_news.news_main_cover }}') no-repeat center;"></div>
                                        <div class="text_post" style="width: 100%;">
                                            {{ current_middle_news.news_post_text|safe|truncatewords:"10" }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <hr width="100%">
                        <div class="media" style="height: inherit;">
                            <div class="latest-reviews" style="height: 500px;">
                                REVIEWS<br>
                            </div>
                            <hr width="100%">
                            <div class="recently-news" style="">
                                RECENTLY NEWS: 18 other items and load more<br>

                                {% if total_bottom_news|length > 0 %}
                                    <div class="recently-news-other" style="width: 100%;">
                                        {% for current_bottom_news in total_bottom_news %}
                                            <div class="sect" style="width: 31%; margin-top: 1%;">
                                                <div class="current_news"
                                                     style="height: 350px; width: 100%; float: left;"
                                                     onmouseover="style.border='solid 0.2px blue';"
                                                     onmouseout="style.border='';"
                                                     onclick="location.href='/news/{{ current_bottom_news.news_category_id }}/{{ current_bottom_news.id }}/';">
                                                    <div class="title">
                                                        <h4 class="page-header" style="margin-top: 1.5%;">
                                                            {{ current_bottom_news.news_title }}
                                                        </h4>
                                                    </div>
                                                    <div class="main-page-news-cover" style="height: 200px; background: url('/media/{{ current_bottom_news.news_main_cover }}') no-repeat center; background-size: cover;"></div>
                                                    <div class="" style="">
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <hr width="100%">
                                <div class="interested-news" style="">
                                    <h4>Interested</h4> only 4-6
                                    <div class="interests">
                                       123123<br>
                                        2344534653<br>
                                        kasjd
                                    </div>
                                </div>
                                <div class="load-more" style="text-align: center;">
                                    <button>Load More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}