{% extends 'index_beta.html' %}
{% load staticfiles %}
{% load my %}
{% load endless %}
{% load i18n %}
{% block user_news %}
    {% if flavour != 'mobile' %}
        <div class="container-fluid container usernews">
            <div class="row row-centered row-offcanvas row-offcanvas-left">
    {% else %}
        <div class="usernews">
            <div class="row-offcanvas row-offcanvas-left">
    {% endif %}
            <!-- BOOTSTRAP NEW SIDEBAR -->
            {% if flavour != 'mobile' %}
                <nav>
                <div class="col-xs-6 col-sm-2 sidebar-offcanvas fixed" id="sidebar" role="navigation">
                    <ul id="side-list" class="nav">
                        <li class="side-list-item active">
                            <a href="">
                                <i class="fa fa-user"></i>
                                <span class="side-text">{% trans 'My Feed' %}</span>
                            </a>
                        </li>
                        <li class="side-list-item">
                            <a href="/favourite/">
                                <i class="fa fa-thumbs-o-up"></i>
                                <span class="side-text">{% trans 'Saved articles' %}</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="side-text">{% trans 'Portals' %}</span>
                            </a>
                            <!-- user portals list-->
                            <ul class="nav">
                                {% for current_portal in user_rss_portals %}
                                    <li>
                                        <a style="cursor: pointer;" onclick="showCurrentPortalNews('{{ current_portal.portal_id|get_rss_verbose_name }}');">
                                            <span class="portal-favicon">
                                                <img src="{{ current_portal.portal_id|get_rss_portal_favicon }}" width="16px" height="16px" />
                                            </span>
                                            <span class="cprs">
                                                <span class="side-text">{{ current_portal.portal_id|get_rss_portal_name|truncatechars:15 }}</span>
                                            </span>
                                            {% if current_portal.portal_id|get_unread_news:username.id != 0 %}
                                                <span id="cprs-count-{{ current_portal.id }}" class="count">{{ current_portal.portal_id|get_unread_news:username.id|default:'' }}</span>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <!-- /user portals list -->
                        </li>
                        <hr width="100%">
                        <li class="side-list-item">
                            <a href="/news/manager/">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="side-text">{% trans 'Manage portals' %}</span>
                            </a>
                        </li>
                        <li class="side-list-item">
                            <a href="/news/browser/">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                <span class="side-text">{% trans 'Browse portals' %}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            {% else %}
                <nav style="height:300px;">
                    <div class="swiper-container swiper-container-horizontal">
                        <div class="swiper-wrapper" style="transform: translate3d(55.5px, 0px, 0px); transition-duration: 0ms;">
                            {% for current_portal in user_rss_portals %}
                                <div class="swiper-slide swiper-slide-prev"
                                     {% if flavour != 'mobile' %}
                                     onclick="showCurrentPortalData('{{ current_portal.portal_id }}'); return false;"
                                     {% else %}
                                     onclick="showCurrentPortalDataMobile('{{ current_portal.portal_id }}'); return false;"
                                        {% endif %}
                                     style="width: 81px; margin-right: 30px;border-radius:5px;">
                                    <div class="swiper-cover" style="background: url('{{ current_portal.portal_id|get_cover_last_article }}') no-repeat center; background-size: cover; width:100%; height: 70%;"></div>
                                    <div class="swiper-name">
                                        <span class="swiper-portal-favicon"><img src="{{ current_portal.portal_id|get_rss_portal_favicon }}" width="32px" height="32px"/></span>
                                        <span class="swiper-portal-name">{{ current_portal.portal_id|get_rss_portal_name }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                <div class="swiper-bottom-nav text-center">
                    <ul>
                        <li style="display: inline-block; font-size: 20px;"><a href="/news/manager/">{% trans 'Manager' %}</a></li>&nbsp;*&nbsp;<li style="display: inline-block; font-size: 20px;"><a href="/news/browser/">{% trans 'Browser' %}</a></li>
                    </ul>
                </div>
                </nav>
                <div id="fadeandscale-mobile" class="fadeandscale"><div class="cur-pw-content"></div></div>
            {% endif %}
            <!-- /SIDEBAR -->
            {% if flavour != 'mobile' %}
                <div id="rss-news">
            {% else %}
                <div id="rss-news-mobile">
            {% endif %}
                <div id="rss-title">
                    <h2>{% trans 'FEED' %}</h2>
                </div>
            {% if rss_news_count != 0 %}
                <div class="load-more">
                    <div class="endless_page_template" style="margin-left: 1%;">
                        {% block js %}
{#                            <script src="{% static 'static/js/jquery.js' %}"></script>#}
                            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
                            <script src="{% static 'static/js/endless-pagination.min.js' %}"></script>
                            <script src="{% static 'static/js/endless_on_scroll.min.js' %}"></script>
                            <script>
                                $(document).ready(function(){$.endlessPaginate({paginateOnScroll:!1,paginateOnScrollChunkSize:1})});
{#                                $(document).ready(function() {#}
{#                                    $.endlessPaginate({#}
{#                                        paginateOnScroll: false,#}
{#                                        paginateOnScrollChunkSize: 1#}
{#                                    });#}
{#                                });#}
                            </script>
                        {% endblock %}
                        <div class="rss-mas">
                            {% include rss_template %}
                        </div>
                    </div>
                </div>
                <hr width="100%">
            {% else %}
                <div class="user_rss_missing">
                    {% blocktrans %}At this time we cant find any news of chosen portals. We think that there will appear later.{% endblocktrans %}
                </div>
            {% endif %}
            </div>
        </div>
    </div>
    <hr width="100%">
    <script>
        function showCurrentPortalData(a){$.ajax({type:"POST",url:"/news/preview_portal="+a+"/",data:{csrfmiddlewaretoken:"{{ csrf_token }}"},success:function(a){$("#fadeandscale").popup({autoopen:!0,pagecontainer:".container",transition:"all 0.3s"}),$(".cur-pw-top").append("<div class='cur-pw-btn-close'><button class='btn-close-rss btn btn-primary' onclick='$('#fadeandscale-mobile').hide();'>Close</button></div>"),$(".cur-pw-content").html(a.data).replace("{by}","{% trans 'By' %}")}})}
{#        function showCurrentPortalData(i) {#}
{#            $.ajax({#}
{#                type: "POST",#}
{#                url: "/news/preview_portal="+i+"/",#}
{#                data: {"csrfmiddlewaretoken": "{{ csrf_token }}"},#}
{#                success: function (data) {#}
{#                    $('#fadeandscale').popup({#}
{#                        autoopen: true,#}
{#                        pagecontainer: '.container',#}
{#                        transition: 'all 0.3s'#}
{#                    });#}
{#                    $('.cur-pw-top').append("<div class='cur-pw-btn-close'><button class='btn-close-rss btn btn-primary' onclick='$('#fadeandscale-mobile').hide();'>Close</button></div>");#}
{#                    $('.cur-pw-content').html(data.data).replace('{by}', "{% trans 'By' %}");#}
{#                }#}
{#            });#}
{#        }#}
        function showCurrentPortalDataMobile(a){$.ajax({type:"POST",url:"/news/preview_portal_m="+a+"/",data:{csrfmiddlewaretoken:"{{ csrf_token }}"},success:function(a){$("#fadeandscale-mobile").popup({autoopen:!0,pagecontainer:".container",transition:"all 0.3s"}),$(".cur-pw-top").append("<div class='cur-pw-btn-close'><button class='btn-close-rss btn btn-primary' onclick='$('#fadeandscale-mobile').hide();'>Close</button></div>"),$(".cur-pw-content").html(a.data).replace("{by}","{% trans 'By' %}")}})}
{#        function showCurrentPortalDataMobile(i){#}
{#               $.ajax({#}
{#                type: "POST",#}
{#                url: "/news/preview_portal_m="+i+"/",#}
{#                data: {"csrfmiddlewaretoken": "{{ csrf_token }}"},#}
{#                success: function (data) {#}
{#                    $('#fadeandscale-mobile').popup({#}
{#                        autoopen: true,#}
{#                        pagecontainer: '.container',#}
{#                        transition: 'all 0.3s'#}
{#                    });#}
{#                    $('.cur-pw-top').append("<div class='cur-pw-btn-close'><button class='btn-close-rss btn btn-primary' onclick='$('#fadeandscale-mobile').hide();'>Close</button></div>");#}
{#                    $('.cur-pw-content').html(data.data).replace('{by}', "{% trans 'By' %}");#}
{#                }#}
{#            });#}
{#        }#}
        function hideCurrentRssPortal(){$("#fadeandscale").hide(),$("#fadeandscale-mobile").popup("hide")}
{#        function hideCurrentRssPortal(){#}
{#            $('#fadeandscale').hide();#}
{#            $('#fadeandscale-mobile').popup('hide');#}
{#        }#}
        function changeStatePortals(a){$(a).parent().hasClass("active")?$(a).parent().removeClass("active"):$(a).parent().addClass("active")}
{#        function changeStatePortals(element){#}
{#                if (!$(element).parent().hasClass('active')) {#}
{#                    $(element).parent().addClass('active');#}
{#                }#}
{#                else {#}
{#                    $(element).parent().removeClass('active');#}
{#                }#}
{#            }#}
        function RssPreviewArticleMobileHide(){$("#current-rss-preview-mobile").popup("hide")}
{#        function RssPreviewArticleMobileHide(){#}
{#            $('#current-rss-preview-mobile').popup('hide');#}
{#        }#}
        function RssPreviewPopUpShow(i) {
            {% if flavour != 'mobile' %}
                $.ajax({
                    type: "POST",
                    url: "/news/scar=" + i,
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    success: function () {
                        $('#rss-title-' + i).addClass('rss-title-read');
                    }
                });
                $('#current-rss-preview').animate({
                    scrollTop: $('html, body').offset().top
                });
                $.ajax({
                type: "POST",
                url: "/news/gcr=" + i + "/",
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function (data) {
                    $('#current-rss-preview').popup({autoopen: true, pagecontainer: '.container', transition: 'all 0.3s'});
                    $('#current-rss-preview-mobile').popup({autoopen: true, pagecontainer: '.container', transition: 'all 0.3s'});
                    $('#close-preview').fadeIn();
                    $('.preview-content').html(data.string);
                    $('.preview-content-mobile').html(data.string);
                    $parsedData = data.data;
                    if ($parsedData.content.length === 0) {
                        $(".rss-preview-body").html($parsedData.text + "<hr width='100%'><p style='text-align: center;'><a class='pull-left' href='" + $parsedData.link + "' target='_blank'><button style='background-color:#1E656D;color:ivory;margin-bottom:30px' class='btn btn-to-original'>See&nbsp;original</button></a>");
                    }
                    else {
                        $(".rss-preview-body").html($parsedData.content + "<hr width='100%'><p style='text-align: center;'><a class='pull-left' href='" + $parsedData.link + "' target='_blank'><button style='margin-bottom:30px;background-color:#1E656D;color:ivory' class='btn btn-to-original'>See&nbsp;original</button></a>");
                    }
                    if(data.data.fav == true){
                        $('.rss-item-save').attr('onclick', 'removeRssFavourite("{id}");'.replace("{id}", i));
                        $('.rss-fav').attr('data-fav', 1).css({'color': 'lime'})
                    }
                    else{
                        $('.rss-item-save').attr('onclick', 'setRssFavourite("{id}");'.replace("{id}", i));
                        $('.rss-fav').attr('data-fav', 0).css({'color': 'white'})
                    }
                }
            });
            {% else %}
                $.ajax({
                type: "POST",
                url: "/news/scar=" + i,
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function () {
                    $('#rss-title-' + i).addClass('rss-title-read');
                }
            });
                $.ajax({
                type: "POST",
                url: "/news/gcr_m=" + i + "/",
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function (data) {
                    $('#current-rss-preview').popup({autoopen: true, pagecontainer: '.container', transition: 'all 0.3s'});
                    $('#current-rss-preview-mobile').popup({autoopen: true, pagecontainer: '.container', transition: 'all 0.3s'});
                    $('#close-preview').fadeIn();
                    $('.preview-content').html(data.string);
                    $('.preview-content-mobile').html(data.string);
                    $parsedData = data.data;
                    if ($parsedData.content.length === 0) {
                        $(".rss-preview-body").html($parsedData.text + "<hr width='100%'><p style='text-align: center;'><a class='pull-left' href='" + $parsedData.link + "' target='_blank'><button style='background-color:#1E656D;color:ivory;margin-bottom:30px' class='btn btn-to-original'>See&nbsp;original</button></a><button class='btn btn-primary' onclick='RssPreviewArticleMobileHide(); return false;'>Close</button>");
                    }
                    else {
                        $(".rss-preview-body").html($parsedData.content + "<hr width='100%'><p style='text-align: center;'><a class='pull-left' href='" + $parsedData.link + "' target='_blank'><button style='margin-bottom:30px;background-color:#1E656D;color:ivory;' class='btn btn-to-original'>See&nbsp;original</button></a><button class='btn btn-primary' onclick='RssPreviewArticleMobileHide(); return false;'>Close</button>");
                    }
                    if(data.data.fav == true){
                        $('.rss-item-save').attr('onclick', 'removeRssFavourite("{id}");'.replace("{id}", i));
                        $('.rss-fav').attr('data-fav', 1).css({'color': 'lime'})
                    }
                    else{
                        $('.rss-item-save').attr('onclick', 'setRssFavourite("{id}");'.replace("{id}", i));
                        $('.rss-fav').attr('data-fav', 0).css({'color': 'white'})
                    }
                }
            });
            {% endif %}
        }
        function RssPreviewPopUpHide(){$(".preview-rss-news").hide(),$("html").css("overflowY","auto")}
{#        function RssPreviewPopUpHide() {#}
{#            $(".preview-rss-news").hide();#}
{#            $("html").css("overflowY", "auto");#}
{#        }#}
        $(document).ready(function(e){RssPreviewPopUpHide(),$("html, body").keyup(function(e){27==e.keyCode&&$("#close-preview").hide()})});
{#        $(document).ready(function (event) {#}
{#            RssPreviewPopUpHide();#}
{#            $("html, body").keyup(function (e) {#}
{#                if (e.keyCode == 27) {#}
{#                    $('#close-preview').hide();#}
{#                }#}
{#            });#}
{#        });#}
        function setRssFavourite(e){$.ajax({type:"POST",url:"/news/add_like_rss/r="+e,data:{csrfmiddlewaretoken:"{{ csrf_token }}"},success:function(){alertify.success("{% trans 'New favourite article' %}"),$(".rss-fav").css({color:"lime"}),$("#link-save-"+e).html("<a href='#' onclick='removeRssFavourite('{id}'); return false;'>unsave</a>".replace("{id}",e)),$(".rss-item-save").attr("onclick",'removeRssFavourite("{id}");'.replace("{id}",e))}})}
{#        function setRssFavourite(news_id) {#}
{#            $.ajax({#}
{#                type: "POST",#}
{#                url: "/news/add_like_rss/r=" + news_id,#}
{#                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},#}
{#                success: function () {#}
{#                    alertify.success("{% trans 'New favourite article' %}");#}
{#                    $('.rss-fav').css({#}
{#                        'color': 'lime'#}
{#                    });#}
{#                    $('#link-save-'+news_id).html("<a href='#' onclick='removeRssFavourite('{id}'); return false;'>unsave</a>".replace("{id}", news_id));#}
{#                    $('.rss-item-save').attr('onclick', 'removeRssFavourite("{id}");'.replace("{id}", news_id));#}
{#                }#}
{#            });#}
{#        }#}
{#        function removeRssFavourite(e){$.ajax({type:"POST",url:"/news/remove_like_rss/r="+e,data:{csrfmiddlewaretoken:"{{ csrf_token }}"},success:function(){alertify.error("{% trans 'Remove favourite article' %}"),$(".rss-fav").css({color:"white"}),$("#link-save-"+e).html("<a href='#' onclick='setRssFavourite('{id}'); return false;'>save</a>".replace("{id}",e)),$(".rss-item-save").attr("onclick",'setRssFavourite("{id}");'.replace("{id}",e))}})}#}
        function removeRssFavourite(news_id){
            $.ajax({
                type: "POST",
                url: "/news/remove_like_rss/r="+news_id,
                data: {"csrfmiddlewaretoken": "{{ csrf_token }}"},
                success: function(){
                    alertify.error("{% trans 'Remove favourite article' %}");
                    $('.rss-fav').css({
                        'color': 'white'
                    });
                    $('#link-save-'+news_id).html("<a href='#' onclick='setRssFavourite('{id}'); return false;'>save</a>".replace("{id}", news_id));
                    $('#rss-preview-'+news_id).attr('onclick', 'setRssFavourite("{id}");'.replace("{id}", news_id));
                }
            })
        }
{#        $(document).on("click",function(e){$(e.target).closest("#current-rss-preview").length||$(e.target).closest("#close-preview").length||$("#close-preview").hide()});#}
        $(document).on('click', function (event) {
            if (!$(event.target).closest('#close-preview').length
                    && !$(event.target).closest('#current-rss-preview').length) {
                $('#close-preview').hide();
            }
        });
        String.prototype.format=function(r){var t=this;for(var e in r){var n=new RegExp("{"+e+"}","gm");t=t.replace(n,r[e])}return t};
{#        String.prototype.format = function(placeholders) {#}
{#                    var s = this;#}
{#                    for(var propertyName in placeholders) {#}
{#                        var re = new RegExp('{' + propertyName + '}', 'gm');#}
{#                        s = s.replace(re, placeholders[propertyName]);#}
{#                    }#}
{#                    return s;#}
{#                };#}
        function getCookie(e){var o=null;if(document.cookie&&""!=document.cookie)for(var n=document.cookie.split(";"),t=0;t<n.length;t++){var i=jQuery.trim(n[t]);if(i.substring(0,e.length+1)==e+"="){o=decodeURIComponent(i.substring(e.length+1));break}}return o}
{#        function getCookie(name) {#}
{#                var cookieValue = null;#}
{#                if (document.cookie && document.cookie != '') {#}
{#                    var cookies = document.cookie.split(';');#}
{#                    for (var i = 0; i < cookies.length; i++) {#}
{#                        var cookie = jQuery.trim(cookies[i]);#}
{#                        // Does this cookie string begin with the name we want?#}
{#                        if (cookie.substring(0, name.length + 1) == (name + '=')) {#}
{#                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));#}
{#                            break;#}
{#                        }#}
{#                    }#}
{#                }#}
{#                return cookieValue;#}
{#            }#}
        function updateUserRssPortals(){return $.get("/news/update_user_rss/").done(function(r){var s=$(".user-chosen-portals").val("");r.portals.forEach(function(r){var a="<span onclick='removeUserRssPortal({uuid}, {pid});'>X</span>".format({uuid:r.cur_user,pid:r.id});s.val(r.name+" + "+a+"<br>")})}),!0}
{#        function updateUserRssPortals(){#}
{#                    $.get("/news/update_user_rss/").done(function (data) {#}
{#                        var table = $(".user-chosen-portals").val("");#}
{#                        data.portals.forEach(function(portal){#}
{#                            var sstring = "<span onclick='removeUserRssPortal({uuid}, {pid});'>X</span>".format({uuid:portal.cur_user, pid:portal.id});#}
{#                            table.val(portal.name+" + "+ sstring +"<br>");#}
{#                        })#}
{#                    });#}
{#                return true;#}
{#            }#}
        function removeUserRssPortal(e,s,r){$("#ajax-preloader").show();getCookie("csrftoken");$.ajax({url:"/news/rrp&uid="+e+"&pid="+s+"/",type:"POST",data:{csrfmiddlewaretoken:"{{ csrf_token }}"},success:function(e){$("#curp-"+r).slideToggle(),updateUserRssPortals(),$("#rss-news").load("/news/usernews/"),$("#ajax-preloader").hide()}})}
{#        function removeUserRssPortal(uuid,pid, id){#}
{#                $("#ajax-preloader").show();#}
{#                var $link = "/news/update_user_rss_news/";#}
{#                var csrftoken = getCookie('csrftoken');#}
{#                $.ajax({#}
{#                    url: "/news/rrp&uid="+uuid+"&pid="+pid+"/",#}
{#                    type: "POST",#}
{#                    data: {#}
{#                        csrfmiddlewaretoken: '{{ csrf_token }}'#}
{#                    },#}
{#                    success: function(result){#}
{#                        $("#curp-"+id).slideToggle();#}
{#                        updateUserRssPortals();#}
{#                        $("#rss-news").load("/news/usernews/");#}
{#                        $("#ajax-preloader").hide();#}
{#                    }#}
{#                })#}
{#            }#}
        function followCurrentRssPortal(e,s,r){$("#ajax-preloader").show();getCookie("csrftoken");$.ajax({url:"/news/arp&uid="+e+"&pid="+s+"/",type:"POST",data:{csrfmiddlewaretoken:"{{ csrf_token }}"},success:function(e){$("#curp-"+r).slideToggle(),updateUserRssPortals(),$("#rss-news").load("/news/usernews/"),$("#ajax-preloader").hide()}})}
{#        function followCurrentRssPortal(uuid,pid, id){#}
{#            $("#ajax-preloader").show();#}
{#            var csrftoken = getCookie('csrftoken');#}
{#            $.ajax({#}
{#                url: "/news/arp&uid="+uuid+"&pid="+pid+"/",#}
{#                type: "POST",#}
{#                data: {#}
{#                    csrfmiddlewaretoken: '{{ csrf_token }}'#}
{#                },#}
{#                success: function(result){#}
{#                    $("#curp-"+id).slideToggle();#}
{#                    updateUserRssPortals();#}
{#                    $("#rss-news").load("/news/usernews/");#}
{#                    $("#ajax-preloader").hide();#}
{#                }#}
{#            })#}
{#        }#}


        function showCurrentPortalNews(e){var a=$("html, body");a.stop().animate({scrollTop:0},500);var r=$("body").loadingIndicator({useImage:!1}).data("loadingIndicator");$(".loading-indicator-wrapper").hasClass("loader-hidden")&&$(".loading-indicator-wrapper").removeClass("loader-hidden").addClass("loader-visible"),$.ajax({method:"POST",url:"/news/usernews/page/"+e,data:{csrfmiddlewaretoken:"{{ csrf_token }}"},success:function(e){$("#rss-news").html(e),r.hide()},error:function(a){alert("Oh,"+e+"'s news have been broken. Try later, please.\nWe are working on this problem."),r.hide()}})}
{#        function showCurrentPortalNews(portal) {#}
{#            var body = $('html, body');#}
{#            body.stop().animate({scrollTop: 0}, 500);#}
{#            var homeLoader = $('body').loadingIndicator({#}
{#                useImage: false#}
{#            }).data("loadingIndicator");#}
{##}
{##}
{##}
{##}
{#            if($('.loading-indicator-wrapper').hasClass('loader-hidden')){#}
{#                $('.loading-indicator-wrapper').removeClass('loader-hidden').addClass('loader-visible');#}
{#            }#}
{#            $.ajax({#}
{#                method: "POST",#}
{#                url: "/news/usernews/page/"+portal,#}
{#                data:{csrfmiddlewaretoken: "{{ csrf_token }}"},#}
{#                success: function(data){#}
{#                    $('#rss-news').html(data);#}
{#                    homeLoader.hide();#}
{#                },#}
{#                error: function(result){#}
{#                    alert("Oh,"+portal+"'s news have been broken. Try later, please.\nWe are working on this problem.");#}
{#                    homeLoader.hide();#}
{#                }#}
{#            })#}
{#        }#}
    </script>
    <script>
    var swiper=new Swiper(".swiper-container",{pagination:".swiper-pagination",slidesPerView:2,centeredSlides:!0,paginationClickable:!0,spaceBetween:30});
{#    var swiper = new Swiper('.swiper-container', {#}
{#            pagination: '.swiper-pagination',#}
{#            slidesPerView: 2,#}
{#            centeredSlides: true,#}
{#            paginationClickable: true,#}
{#            spaceBetween: 30#}
{#        });#}
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>

{% endblock %}
