{% extends 'index_new.html' %}
{% load staticfiles %}
{% load my %}
{% load jsonate_tags %}
{% load endless %}
{% block user_news %}
    <style>
        .pagination ul{list-style-type: none;}
        .pagination li{margin-left: 1%;margin-right: 1%;float: left;}
        .current_rss_news{
            width: 32%;
            height: 25em;
            margin-left: 1%;
            margin-top: 1%;
            border-radius: 5px;
            box-shadow: 0 0 5px black;
            float: left;
        }
        .current_rss_news:hover{box-shadow: 0 0 5px blue;}
        .most-popular-portals input[type=checkbox]:checked + .lab  .sect-rss{background-color: red;}
        .current_portal_item{border: solid 1px red;height: 2em;}
        #add-portals-image{height: 2em;}
        #rss-news{border: solid 1px red; width: 70%; margin-left: 1%; float: left;}
        #rss-title{text-align: center;}
        .user_rss_missing{text-align: center;}
        .check_portals{display: none;}
        .lab{width: 32%}
        .sect-rss{float: left; width: 98%; margin-top: 1%; margin-left: 2%;}
        .current_rss_popular_portal{box-shadow: 0 0 10px rgba(0,0,0,0.5); height: 100px; width: 100%;}
        .add-current{position: static; margin-top: 18%; margin-left: 90%;}
        .right-side{width: 28%; border: solid 1px orange; float: right;}
        .choosen-portals{border: solid 1px red; font-family: Georgia, Times, "Times New Roman", serif}
        .recommendations{border: solid 1px red; height: 20em; overflow-y: auto;}
        .user-rss-portals{text-align: center}
        .user-chosen-portals{border: solid 1px red; height: 20em; overflow-y: auto;}
        .user-portals-edit-done{text-align: right; display: none;}
        #add-portals-image{display: none;}
        .user-cur-p-edit{display: none;}
        .edit-image{height: 2em;}
        .bottom-panel-edit-portals{text-align: right;}
    </style>
    <!--<script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>-->
    <script src="{% static 'static/js/jquery-ui.js' %}"></script>
    <script>
        function loadPage() {
            alert("in");
            $.get('/news/new_page/cp=1&np=2/').done(function (data) {
                alert("get ok");
            });
        }
    </script>
    <script>
        String.prototype.format = function(placeholders) {
                var s = this;
                for(var propertyName in placeholders) {
                    var re = new RegExp('{' + propertyName + '}', 'gm');
                    s = s.replace(re, placeholders[propertyName]);
                }
                return s;
            };
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function updateUserRssPortals() {
                $.get("/news/update_user_rss/").done(function (data) {
                    var table = $(".user-chosen-portals").val("");
                    data.portals.forEach(function(portal){
                        var sstring = "<span onclick='removeUserRssPortal({uuid}, {pid});'>X</span>".format({uuid:portal.cur_user, pid:portal.id});
                        table.val(portal.name+" + "+ sstring +"<br>");
                    })
                });
            return true;
            }
        function removeUserRssPortal(uuid,pid, id){
            $("#ajax-preloader").show();
            var $link = "/news/update_user_rss_news/";
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                url: "/news/rrp&uid="+uuid+"&pid="+pid+"/",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(result){
                    $("#curp-"+id).slideToggle();
                    updateUserRssPortals();
                    $("#rss-news").load("/news/usernews/");
                    $("#ajax-preloader").hide();
                }
            })
        }
        function userPortalsListEdit(){
            $('.user-portals-edit-done').fadeIn();
            $('#add-portals-image').fadeIn();
            $('.user-cur-p-edit').fadeIn();
            $('#sortContainer').sortable();
        }
        function userPortalsListDoneEdit(){
            $('.user-cur-p-edit').fadeOut();
            $('.user-portals-edit-done').fadeOut();
            $('#add-portals-image').fadeOut();
            var $order = $('#sortContainer').sortable('toArray');
            var dict = {};
            for(var i=0; i<$order.length; i++){
                dict[i] = {id: $order[i], pos: i+1};
            }
            //var csrftoken = getCookie('csrftoken');
            //var ser = $('#sortContainer').sortable().sortable("serialize");
            $.ajax({
                type: "POST",
                url: "/news/change_portals_order/",
                data: {
                    dataArray: decodeURIComponent(JSON.stringify({"dict": dict})),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }
            });
        }
    </script>
    <div class="container-fluid">
        <div class="row">
            <div id="rss-news">
            {% if rss_news|length != 0 %}
                <div id="rss-title">
                    All news which are your interested in
                </div>
                <div class="load-more">
                    <div class="endless_page_template">
                        {% block js %}
                            <script src="{% static 'static/js/jquery.js' %}"></script>
                            <script src="{% static 'static/js/endless-pagination.js' %}"></script>
                            <script src="{% static 'static/js/endless_on_scroll.js' %}"></script>
                            <script>
                                $(document).ready(function() {
                                    $.endlessPaginate({
                                        paginateOnScroll: false,
                                        paginateOnScrollChunkSize: 1
                                    });
                                });
                            </script>
                        {% endblock %}
                        {% include rss_template %}
                    </div>
                </div>
                <hr width="100%">
            {% else %}
                <div class="user_rss_missing">
                    At this time you have no one portals to syndicate for you.
                    <br>
                    Would you like to choose any one? <a href="/profile/#settings-form">Click</a> to set your own preferences.
                </div>
                <div class="most-popular">
                    <div class="title">The most popular portals.</div>
                    <div class="most-popular-portals">
                        <form action="/news/add_portals/"
                              id="set_portals_new_user"
                              method="post">
                            {% csrf_token %}
                            {% for current_popular_rss in popular_rss %}
                                <input value="{{ current_popular_rss.id }}" class="check_portals" type="checkbox" name="portals[]" id="cb{{ current_popular_rss.id }}" />
                                <label class="lab" for="cb{{ current_popular_rss.id }}">
                                    <div class="sect-rss">
                                        <div class="current_rss_popular_portal"
                                             onmouseover="style.border='solid 0.2px blue';"
                                             onmouseout="style.border='';">
                                            <div class="">
                                                {{ current_popular_rss.portal }}
                                                <div class="add-current">
                                                    <img src="{% static 'static/img/plus.png' %}" width="20px" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            {% endfor %}
                            <input type="submit" value="SET">
                        </form>
                    </div>
                </div>
            {% endif %}
            </div>
            <div class="right-side">
            <div class="choosen-portals">
                {% if user_rss|length < 1 %}
                    Recommended&nbsp;portals
                    <div class="recommendations">
                        {% for cur_rss_portal in popular_rss_right %}
                            <span class="">{{ cur_rss_portal.portal }}</span><br>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="user-rss-portals">
                        Your&nbsp;current&nbsp;portals&nbsp;
                    </div>
                    <div class="user-chosen-portals">
                        <div class="user-portals-edit-done"
                             onclick="userPortalsListDoneEdit();">
                            Done
                        </div>
                        <div id="add-portals-image">
                            <img src="{% static 'static/img/add.png' %}"
                                 onclick="PortalsAdditionPopUpShow();"
                                 width="20em" />&nbsp;Add&nbsp;portal
                        </div>
                        <div id="sortContainer">
                            {% for i in user_rss %}
                                <div id="curp-{{ i.id }}" class="current_portal_item">
                                    <span class="user-cur-p-edit">
                                        <span class="edit-image" onclick="removeUserRssPortal('{{ username.profile.uuid }}', '{{ i.portal_id }}', '{{ i.id }}');">
                                            <img src="{% static 'static/img/remove.png' %}" width="20em" />
                                        </span>
                                    </span>
                                    <span class="user-portals">{{ i.portal_id|get_rss_portal_name }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="bottom-panel-edit-portals">
                        <a href="/profile/#settings-form">add</a>
                        <span class="edit-portals-panel"
                              onclick="userPortalsListEdit();"
                              onmouseover="this.style.cursor='pointer'">
                            edit
                        </span>
                    </div>
                {% endif %}
            </div>
            <div class="subscribe">
                <div class="subscribe-speech">
                    Would you like to get notification about latest news and reviews?
                    <br>
                    To take it just write your email and we will send you a link to continue.
                </div>
                <form>
                    <input disabled="disabled" type="email" name="sub-email" autocomplete="off" id="sub-email" placeholder="Enter your email">
                    <input type="submit" value="Accept">
                </form>
            </div>
        </div>
        </div>
    </div>
    <hr width="100%">
{% endblock %}
