{% extends 'index_new.html' %}
{% load staticfiles %}
{% load my %}
{% block user_news %}

    <div class="choose-filter">
        <div class="tabs">
            <ul class="filters">
                <li>
                    Categories
                </li>
                <li>
                    Portals
                </li>
            </ul>
        </div>
    </div>


    TEST:<br>
    <div class="test">
        {% for i in deftest %}
            {% if i %}
                <div class="cur_i" style="border: solid 1px red; width: 20em; float:left; height: 10em;">
                    {{ i.news_title }}<br>
                    {{ i.news_text_post|safe|truncatewords:"15" }}<br>
                    {{ i.news_post_date.date }}
                    {{ i.news_post_date.time }}
                </div>
            {% endif %}
        {% endfor %}

    <div class="container-fluid">
        <div class="row">
            User&nbsp;news.<br>
            <div class="news">
                {% for i in usernews %}
                    {% for j in i %}
                        <div class="current_user_news"
                             id="current_user_news"
                             onmouseover="style.cursor='pointer';"
                             data-user-news-id="{{ j.id }}">
                            <div
                                onclick="location.href='/news/{{ j.news_category_id }}/{{ j.id }}/';"
                                class="current_fav_news_id{{ j.news_id }}"
                                style="float: left; width: 20em; height: 20em; border: solid 1px red; margin-left: 1%;">
                                <div class="title" id="title_{{ j.id }}">
                                    {{ j.news_title }}
                                </div>
                                <div class="category">
                                    {{ j.news_category_id }}
                                </div>
                                <div class="portal">
                                    {{ j.news_portal_id }}
                                </div>
                                <div class="text">
                                    {{ j.news_post_text|safe|truncatewords_html:"15" }}
                                </div>
                                <div class="date">
                                    {{ j.news_post_date }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}